<aside class="bulletinDetails">
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
		</div>
		<div class="bulletin-center-column">
			<div class="checkBox checked"></div>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
		</div>
		<div class="bulletin-center-column">
			<div class="checkBox"></div>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
		</div>
		<div class="bulletin-center-column">
			<div class="checkBox"></div>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
		</div>
		<div class="bulletin-center-column">
			<div class="checkBox"></div>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
		</div>
		<div class="bulletin-center-column">
			<div class="checkBox"></div>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
</aside>

<section class="openAdvertert">
	<h3>Однокомнатная квартира</h3>
	<p class="price">8 000 грн/мес.</p>
	<div class="checkBox checked"></div>
	<p class="breadCrumbs">Недвижимость > Аренда <span>> Квартира</span></p>
	<p class="id">ID 1234567890</p>
	<div class="slider">
		<div><img src="../images/slider1.png" alt="slider1"></div>
		<div><img src="../images/slider2.png" alt="slider2"></div>
		<div><img src="../images/slider3.png" alt="slider3"></div>
		<div class="next"></div>
		<div class="prev"></div>
	</div>
	<div id="mapForOneAdvertert"><img src="../images/mapForOneAdvertert.png" alt="mapForOneAdvertert"></div>
	<div class="wrapForDiv">
		<div class="featuresAndReviews">
			<ul class="tab clearfix">
				<li><a href="">ХАРАКТЕРИСТИКИ</a></li>
				<li><a href="" class="active">ОТЗЫВЫ</a></li>
			</ul>
			<div id="features" class="tabcontent">
				<h3>ХАРАКТЕРИСТИКИ</h3>
			</div>

			<div id="reviews" class="tabcontent active">
				<div>
					<img src="../images/userComment.png" alt="userComment">
					<p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</p>
				</div>
				<div>
					<img src="../images/userComment.png" alt="userComment">
					<p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="https://maps.googleapis.com/maps/api/js"></script>

<script>
	debugger;
	var mapCanvas = document.getElementById("mapForOneAdvertert");
	var mapOptions = {
		center: new google.maps.LatLng(50.45, 30.5), zoom: 10
	}
	var map = new google.maps.Map(mapCanvas, mapOptions);
</script>