    <div class="view-edit-profile">
        <h1>Редактирование профиля</h1>
        <form id="edit-profile-form" class="edit-profile-form">

            <select class="select" ng-model="profile.contact.type">
                <option value="INDIVIDUAL" selected>Физическое лицо</option>
                <option value="LEGAL_ENTITY">Юридическое лицо</option>
                <option value="ENTREPRENEUR">Частный предприниматель</option>
            </select>

            <div class="edit-profile-form-foto">
                <div class="edit-profile-form-foto-preview"></div>
                <input type="text" placeholder="{{profile.contact.type === 'ENTREPRENEUR' && 'Лого' || 'Аватар'}}">
                <nice-button class="btn-blue" ng-click="">Обзор</nice-button>
            </div>

            <input type="text" placeholder="ФИО" ng-model="profile.username" ng-hide="profile.contact.type === 'LEGAL_ENTITY'">
            <input type="text" placeholder="Должность" ng-model="profile.contact.position" ng-hide="profile.contact.type === 'ENTREPRENEUR' || profile.contact.type === 'LEGAL_ENTITY'">
            <input type="text" placeholder="{{(profile.contact.type === 'ENTREPRENEUR' || profile.contact.type === 'LEGAL_ENTITY') && 'Название компании' || 'Место работы'}}" ng-model="profile.contact.companyName">

            <input type="text" placeholder="Основной e-mail" ng-model="profile.email">

            <div class="edit-profile-form-contacts-container" ng-repeat="email in profile.contact.contactEmails track by $index">
                <input type="text" placeholder="Контактный e-mail" ng-model="profile.contact.contactEmails[$index]" ng-blur="profile.addContacts($event, $index)">
                <div class="" ng-click="profile.deleteContacts($event, $index)"></div>
            </div>

            <input type="text" placeholder="Основной телефон" ng-model="profile.mainPhoneNumber">

            <div class="edit-profile-form-contacts-container" ng-repeat="tel in profile.contact.contactPhones track by $index">
                <input type="text" placeholder="Контактный телефон" ng-model="profile.contact.contactPhones[$index]" ng-blur="profile.addContacts($event,$index)">
                <div ng-click="profile.deleteContacts($event, $index)"></div>
            </div>

            <input type="text" placeholder="Skype" ng-model="profile.contact.skypeUserName">

            <div class="social-link-container">
                <div data-social="LINKEDIN" style="background: url('../images/icon-linkedin.png')"></div>
                <div data-social="FACEBOOK" style="background: url('../images/icon-facebook.png')"></div>
                <div data-social="GOOGLEPLUS" style="background: url('../images/icon-google-plus.png')"></div>
                <div data-social="VKONTAKTE" style="background: url('../images/icon-vk.png')"></div>
                <div data-social="TWITTER" style="background: url('../images/icon-twitter.png')"></div>
            </div>

            <input type="text" placeholder="Ссылка на сайт" ng-model="profile.contact.linkToWebSite">
            <textarea placeholder="{{(profile.contact.type === 'ENTREPRENEUR' || profile.contact.type === 'LEGAL_ENTITY') && 'О компании' || 'О себе'}}" ng-model="profile.contact.aboutUs"></textarea>

        </form>

        <nice-button class="btn-blue" type="submit" ng-submit="profile.updateProfile($event)">СОХРАНИТЬ</nice-button>

        <form id="uploadFileForm" class="uploadFileForm">
            <input id="uploadFileFormInput" type="file" accept="image/*,image/jpeg" onchange="angular.element(this).scope().uploadFile(this)">
        </form>

    </div>


