    <div class="view-edit-profile">
        <h1>Редактирование профиля</h1>
        <form id="edit-profile-form" class="edit-profile-form">
            <select class="select" ng-model="profile.contact.type">
                <option value="INDIVIDUAL" selected>Физическое лицо</option>
                <option value="LEGAL_ENTITY">Юридическое лицо</option>
                <option value="ENTREPRENEUR">Частный предприниматель</option>
            </select>
            <div class="edit-profile-form-foto">
                <div class="edit-profile-form-foto-preview"></div>
                <input type="text" placeholder="{{profile.contact.type === 'ENTREPRENEUR' && 'Лого' || 'Аватар'}}">
                <button ng-click="">Обзор</button>
                <!--<span>Максимальный размер файла - 5 мб.</span>-->
            </div>
            <input type="text" placeholder="ФИО" ng-model="profile.username" ng-hide="profile.contact.type === 'LEGAL_ENTITY'">
            <input type="text" placeholder="Должность" ng-model="profile.contact.position" ng-hide="profile.contact.type === 'ENTREPRENEUR' || profile.contact.type === 'LEGAL_ENTITY'">
            <input type="text" placeholder="{{(profile.contact.type === 'ENTREPRENEUR' || profile.contact.type === 'LEGAL_ENTITY') && 'Название компании' || 'Место работы'}}" ng-model="profile.contact.companyName">
            <input type="text" placeholder="Основной e-mail" ng-model="profile.email">
            <button ng-click="profile.addContact(profile.contact.contactEmails)">Добавить</button>
            <div class="edit-profile-form-contacts-container" ng-repeat="email in profile.contact.contactEmails track by $index">
                <input type="text" placeholder="Контактный e-mail" ng-model="profile.contact.contactEmails[$index]">
                <button ng-click="profile.deleteContact(profile.contact.contactEmails, $index)">Удалить</button>
            </div>
            <input type="text" placeholder="Основной телефон" ng-model="profile.mainPhoneNumber">
            <button ng-click="profile.addContact(profile.contact.contactPhones)">Добавить</button>
            <div class="edit-profile-form-contacts-container" ng-repeat="tel in profile.contact.contactPhones track by $index">
                <input type="text" placeholder="Контактный телефон" ng-model="profile.contact.contactPhones[$index]">
                <button ng-click="profile.deleteContact(profile.contact.contactPhones, $index)">Удалить</button>
            </div>

            <input type="text" placeholder="Skype" ng-model="profile.contact.skypeUserName">
            <div class="social-link-container">
                <div data-social="LINKEDIN" style="background: url('../images/icon-linkedin.png')"></div>
                <div data-social="FACEBOOK" style="background: url('../images/icon-facebook.png')"></div>
                <div data-social="GOOGLEPLUS" style="background: url('../images/icon-google-plus.png')"></div>
                <div data-social="VKONTAKTE" style="background: url('../images/icon-vk.png')"></div>
                <div data-social="TWITTER" style="background: url('../images/icon-twitter.png')"></div>
            </div>
            <input type="text" placeholder="Ссылка на сайт" ng-model="profile.contact.linkToWebSite">
            <textarea placeholder="{{(profile.contact.type === 'ENTREPRENEUR' || profile.contact.type === 'LEGAL_ENTITY') && 'О компании' || 'О себе'}}" ng-model="profile.contact.aboutUs"></textarea>
        </form>
        <button id="edit-profile-btn-save" type="submit" class="button" ng-submit="profile.updateProfile($event)">СОХРАНИТЬ</button>

        <form id="uploadFileForm" class="uploadFileForm">
            <input id="uploadFileFormInput" type="file" name="file" accept="image/*,image/jpeg">
        </form>

    </div>


