<div class="view-profile">
    <div class="profile-left-container">
        <div class="profile-avatar"></div>
        <div class="profile-settings"></div>
    </div>
    <div class="profile-right-container">
        <div class="profile-info">

        </div>
        <div class="profile-messages-and-notifications">
            <div class="profile-messages-and-notifications-nav"></div>
            <div class="profile-messages"></div>
            <div class="profile-notifications"></div>
        </div>
    </div>
</div>


