<section class="register" ng-init="register.init()">
	<h2>Регистрация</h2>
	<text ng-model="register.email" label="Почта" color="blue" validate="register.emailIsValid" is-valid="register.emailValid"></text>
	<text ng-model="register.password" type="password" label="Пароль" color="blue" validate="register.passwordIsValid" is-valid="register.passwordValid"></text>
	<text ng-model="register.password2" type="password" label="Повторите Пароль" color="blue" validate="register.password2IsValid" is-valid="register.password2Valid"></text>
	<nice-button class="btn-blue vk" ng-click="" style="visibility:hidden">Vkontakte</nice-button>
	<nice-button class="btn-blue facebook" ng-click="" style="visibility:hidden">Facebook</nice-button>
	<nice-button class="btn-blue google" ng-click="" style="visibility:hidden">Google +</nice-button>
</section>
