<section class="register">
	<h2>Регистрация</h2>
	<text ng-model="main.hello" label="Почта" color="blue"></text>
	<text ng-model="main.hello" type="password" label="Пароль" color="blue"></text>
	<text ng-model="main.hello" type="password" label="Повторите Пароль" color="blue"></text>

	<nice-button class="btn-blue vk" ng-click="">Vkontakte</nice-button>
	<nice-button class="btn-blue facebook" ng-click="">Facebook</nice-button>
	<nice-button class="btn-blue google" ng-click="">Google +</nice-button>
</section>