<section class="register">
	<h2>Регистрация</h2>
	<text ng-model="main.hello" label="Почта" color="blue" error="register.emailError"></text>
	<text ng-model="main.hello" type="password" label="Пароль" color="blue" error="register.passwordError"></text>
	<text ng-model="main.hello" type="password" label="Повторите Пароль" color="blue" error="register.password2Error"></text>
	<nice-button class="btn-blue vk" ng-click="" style="visibility:hidden">Vkontakte</nice-button>
	<nice-button class="btn-blue facebook" ng-click="" style="visibility:hidden">Facebook</nice-button>
	<nice-button class="btn-blue google" ng-click="" style="visibility:hidden">Google +</nice-button>
</section>
