<section class="multiple clearfix">
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
			<div class="onOrOffLineUser"></div>
		</div>
		<div class="bulletin-center-column">
			<checkbox ng-model='main.boolean'></checkbox>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
			<div class="onOrOffLineUser"></div>
		</div>
		<div class="bulletin-center-column">
			<checkbox ng-model='main.boolean'></checkbox>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
			<div class="onOrOffLineUser"></div>
		</div>
		<div class="bulletin-center-column">
			<checkbox ng-model='main.boolean'></checkbox>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
			<div class="onOrOffLineUser red"></div>
		</div>
		<div class="bulletin-center-column">
			<checkbox ng-model='main.boolean'></checkbox>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
			<div class="onOrOffLineUser red"></div>
		</div>
		<div class="bulletin-center-column">
			<checkbox ng-model='main.boolean'></checkbox>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
			<div class="onOrOffLineUser red"></div>
		</div>
		<div class="bulletin-center-column">
			<checkbox ng-model='main.boolean'></checkbox>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
			<div class="onOrOffLineUser"></div>
		</div>
		<div class="bulletin-center-column">
			<checkbox ng-model='main.boolean'></checkbox>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
			<div class="onOrOffLineUser"></div>
		</div>
		<div class="bulletin-center-column">
			<checkbox ng-model='main.boolean'></checkbox>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
			<div class="onOrOffLineUser"></div>
		</div>
		<div class="bulletin-center-column">
			<checkbox ng-model='main.boolean'></checkbox>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
			<div class="onOrOffLineUser red"></div>
		</div>
		<div class="bulletin-center-column">
			<checkbox ng-model='main.boolean'></checkbox>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
			<div class="onOrOffLineUser red"></div>
		</div>
		<div class="bulletin-center-column">
			<checkbox ng-model='main.boolean'></checkbox>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
	<div class="bulletin-short">
		<div class="bulletin-left-column">
			<h3>Hotwheels недорого по запчастям</h3>
			<div class="bulletin-category">Детские игрушки</div>
			<div class="bulletin-description">Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam.</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
			<div class="onOrOffLineUser red"></div>
		</div>
		<div class="bulletin-center-column">
			<checkbox ng-model='main.boolean'></checkbox>
			<div class="bulletin-action">Искать похожие</div>
		</div>
	</div>
</section>