<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<div th:fragment="locale">
    <div class="locale">
        <a href="?lang=uk_UA" th:classappend="${#locale.language == 'uk'} ? selected-locale">UA</a>
        |&nbsp;
        <a href="?lang=ru_RU" th:classappend="${#locale.language == 'ru'} ? selected-locale">RU</a>
        |&nbsp;
        <a href="?lang=en_US" th:classappend="${#locale.language == 'en'} ? selected-locale">EN</a>
    </div>
</div>

<div th:fragment="logo">
    <div class="logo">
        <img th:src="@{/images/logo-small.svg}" src="images/logo-small.svg" alt="logo">
        <div class="title">
            <div class="top">Global</div>
            <div class="bot">Ukrainian portal</div>
        </div>
    </div>
</div>

<div th:fragment="social">
    <h3 th:text="#{social.login}">Войти через соц. сети</h3>
    <div class="social">
        <div class="submit flex-half-width social-elem facebook">
            <a th:href="@{/login/facebook}">
                <p>Facebook</p>
                <img th:src="@{/images/facebook.svg}" src="../static/images/facebook.svg" alt="facebook"/>
            </a>
        </div>
        <div class="submit flex-half-width social-elem google">
            <p>Google</p>
            <img th:src="@{/images/google.svg}" src="../static/images/google.svg" alt="google">
        </div>
    </div>
</div>


<div th:fragment="license">
    <div class="rights">
        <p th:inline="text">
            <span th:utext="#{license.text.short}"> Создавая новый аккаунт вы завещаете нам почку и соглашаетесь с</span>
            <a href="#"><span th:text="#{license.text.link}"></span></a>
        </p>
    </div>
</div>

<div th:fragment="registerlink">
    <div class="register" sec:authorize="${not isAuthenticated()}">
        <p th:text="#{noAccountQuestion}">Нет аккаунта?</p>
        <a href="#" th:href="@{/register}" th:text="#{register}">Зарегистрироваться</a>
    </div>
</div>
<div th:fragment="loginlink">
    <div class="register">
        <p th:text="#{allreadyRegisteredQuestion}">Уже зарегистрированы?</p>
        <a href="#" th:href="@{/login}" th:text="#{login}">Войти</a>
    </div>
</div>
<div th:fragment="restorelink">
    <div class="register">
        <p th:text="#{forget.password}">Забыли пароль?</p>
        <a href="#" th:href="@{/register/password/restore}" th:text="#{restore}">Восстановить</a>
    </div>
</div>


</body>

</html>

