.feedContainer {
    position: relative;
}

.contentContainer {
    position: relative;
    border-radius: 10px;
    border: 4px #99cc66 solid;
}

.feedContainer .feedFooter {
    height: 20px;
}

.projectFeedContainer {}

.projectsVSInvestments-block {
    position: relative;
    height: 87px;
}
.projAndInvestCaretDown {
    cursor: pointer;
    padding: 10px 408px;
}

.projectsVSInvestments-btn {
    position: absolute;
    text-align: center;
    margin: 25px 40px;
    padding: 5px 10px;
    border: 4px white solid;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
}

.projectsVSInvestments-btn a {
    color: #1269a7;
    font-weight: bold;
    font: 400 17px ArianAMU;
}

.projectsVSInvestments-btn:hover {
    border-color: #1269a7;
    background-color: #1269a7;
}

.projectsVSInvestments-btn:hover a {
    color: white;
}

.projectsVSInvestments-btn.active {
    border-color: #1269a7;
}

.projectsVSInvestments-btn.projects {
    right: 50%;
}

.projectsVSInvestments-btn.investments {
    left: 50%;
}

.projectsVSInvestmentsCats {
    text-align: center;
}

.projectsVSInvestmentsCats > .catContainer {
    display: inline-block;
    width: 190px;
    height: 150px;
    cursor: pointer;
}

.projectsVSInvestmentsCats > .catContainer > .wrapper {
    width: 91px;
    margin: auto;
}

.projectsVSInvestmentsCats > .catContainer > .catLogo {
    width: 100px;
    height: 100px;
    margin: auto;
}

.projectsVSInvestmentsCats > .catContainer > .catName {
    bottom: 0;
    text-align: center;
    color: #99cc66;
    font: 18px DroidSans;
    border: 3px solid white;
    border-radius: 5px;
    padding: 0 5px;
}

.projectsVSInvestmentsCats > .catContainer:hover > .catName {
    background-color: #99cc66;
    border-color: #99cc66;
    color: white;
}

.projectsVSInvestmentsCats > .catContainer.selected > .catName {
    color: #36aae0;
    border: 3px solid #5ebbe6;
}

.projectsVSInvestmentsCats > .catContainer.selected:hover > .catName {
    background-color: #36aae0;
    border-color: #36aae0;
    color: white;
}

.projectsVSInvestmentsCats > .catContainer > .catLogo.restruct {
    background: url(images/projectCat/restruct.png) center no-repeat;
}

.projectsVSInvestmentsCats > .catContainer > .catLogo.prototype {
    background: url(images/projectCat/prototype.png) center no-repeat;
}

.projectsVSInvestmentsCats > .catContainer > .catLogo.paper {
    background: url(images/projectCat/paper.png) center no-repeat;
}

.projectsVSInvestmentsCats > .catContainer > .catLogo.nouHau {
    background: url(images/projectCat/nouHau.png) center no-repeat;
}

.feedItem {
    margin: 15px 5px;
    border-radius: 10px;
    border: 2px solid;
    position: relative;
}

.feedItem .publishDate {
    position: absolute;
    right: 0;
    color: #545454;
    font: 11px DroidSans;
    /*font-style: italic;*/
    padding: 0 5px;
}

.projectFeedContainer .feedItem {
    border-color: #99cc66;
}

.projectFeedContainer .feedItem .preview {
    position: relative;
    width: 246px;
    height: 154px;
    margin: 10px;
}

.projectFeedContainer .feedItem .preview img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px #99cc66 solid;
}

.projectFeedContainer .feedItem .preview .likes {
    position: absolute;
    bottom: 5px;
    right: 12px;
    background-color: white;
    border-radius: 5px;
    padding: 2px 5px;
    /*cursor: pointer;*/
}


/*.projectFeedContainer .feedItem .preview .likes:hover{
    background-color: #36aae0;
}*/


/*.projectFeedContainer .feedItem .preview .likes:hover .number{
    color: white;
}*/

.projectFeedContainer .feedItem .preview .likes .number {
    color: #36aae0;
    margin-right: 20px;
    font: 14px DroidSans;
}

.projectFeedContainer .feedItem .preview .likes .hearthPlace {
    position: absolute;
    background: url(images/projectsFeed/hearthPlace.png);
    width: 33px;
    height: 33px;
    right: -10px;
    top: -7px;
}

.projectFeedContainer .feedItem .preview .likes .hearthPlace .hearth {
    position: absolute;
    top: 8px;
    left: 6px;
    width: 21px;
    height: 19px;
    background: url(images/projectsFeed/hearth.png);
}

.projectFeedContainer .content {
    position: absolute;
    top: 3px;
    left: 270px;
    right: 10px;
}

.projectFeedContainer .content .title {
    color: #99cc66;
    font: 24px Calibri;
}

.projectFeedContainer .content .text {
    color: #242424;
    font: 14px Calibri;
    text-indent: 40px;
}

.projectFeedContainer .bottomContent {
    position: absolute;
    bottom: 5px;
    left: 270px;
    right: 10px;
}

.abutton {
    border-radius: 5px;
    border: 2px #99cc66 solid;
    background-color: #99cc66;
    padding: 3px 10px;
    color: #ffffff;
    font: 15px DroidSans;
}

.abutton:hover {
    background-color: white;
    color: #99cc66;
}
.abutton.blue {
    border-color: #36aae0;
    background-color: #36aae0;
}

.abutton.blue:hover {
    background-color: white;
    color: #36aae0;
}

.projectFeedContainer .bottomContent .abutton {
    float: right;
}

.projectProgressBlock {
    float: right;
    padding-top: 7px;
    margin-right: 20px;
}

.projectProgressBlock .elem {
    display: inline-block;
}

.projectProgressBlock .cash {
    font: 14px DroidSans;
    color: #1269a7;
}

.projectProgressBlock .bar {
    margin-bottom: -2px;
    position: relative;
    width: 280px;
    height: 14px;
}

.projectProgressBlock .bar .colored {
    position: absolute;
    background: url(images/projectsFeed/progressFull.png);
    background-size: 100%;
    width: 277px;
    height: 14px;
    margin-left: 1px;
}

.projectProgressBlock .bar .empty {
    position: absolute;
    background: url(images/projectsFeed/progressEmpty.jpg);
    right: 0;
    height: 100%;
}

.investmentsFeedContainer {}

.investmentsFeedContainer .feedItem {
    border-color: #1269a7;
}

.investmentsFeedContainer .feedItem .photo {
    position: relative;
    width: 156px;
    height: 156px;
    border-radius: 5px;
    border: 4px solid #1269a7;
    margin: 10px;
}

.investmentsFeedContainer .feedItem .photo img {
    width: 120px;
    height: 121px;
    margin: 14px;
}

.investmentsFeedContainer .feedItem .content {
    position: absolute;
    left: 184px;
    top: 10px;
    width: 271px;
    padding-left: 10px;
}

.investmentsFeedContainer .feedItem .content .title {
    color: #1269a7;
    font: 19px ArianAMU;
}

.investmentsFeedContainer .feedItem .content .desc {
    padding-left: 20px;
    color: #bfc4c7;
    font: 12px Calibri;
    padding-left: 5px;
}

.investmentsFeedContainer .feedItem .content .text {
    color: #828a8f;
    font: 13px Calibri;
    text-indent: 20px;
    max-height: 108px;
    overflow: hidden;
}

.investmentsFeedContainer .feedItem .cats {
    position: absolute;
    left: 460px;
    top: 45px;
    width: 220px;
    padding-left: 10px;
}

.investmentsFeedContainer .feedItem .cats ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    /*list-style-type: disc;*/
    list-style-image: url(images/listStyleImage.png);
    list-style-position: inside;
}

.investmentsFeedContainer .feedItem .cats ul li a {
    color: #2c95b5;
    font: 16px Calibri;
    line-height: 10px;
}

.investmentsFeedContainer .feedItem .cats ul li a:hover {
    text-decoration: underline;
}

.investmentsFeedContainer .feedItem .details {
    position: absolute;
    right: 19px;
    top: 50px;
    width: 164px;
    padding-left: 10px;
}

.investmentsFeedContainer .feedItem .details .canInvest {
    height: 48px;
    background-color: #ffed33;
    color: #2c95b5;
    font: 20px Calibri;
    font-weight: bold;
    text-align: center;
    padding-top: 12px;
}

.investmentsFeedContainer .feedItem .details .alreadyInvested {
    margin-top: 6px;
    border: 1px solid #4bc5e6;
    border-radius: 3px;
    padding: 5px;
}

.investmentsFeedContainer .feedItem .details .alreadyInvested .desc {
    color: #828a8f;
    font: 9px Calibri;
    padding-left: 5px;
}

.investmentsFeedContainer .feedItem .details .alreadyInvested .total {
    display: inline-block;
    color: #2c95b5;
    font: 14px Calibri;
    padding: 0px 5px;
    line-height: 13px;
    background-color: #b1e3e7;
    border-radius: 5px;
}

.investmentsFeedContainer .feedItem .details .alreadyInvested .totalProjects {
    color: #36aae0;
    font: 12px Calibri;
    padding-left: 5px;
}

.editor {
    position: relative;
}

.editor .title {
    color: #1269a7;
    font: 17px ArianAMU;
    margin-top: 25px;
    text-align: center;
}

.editor form.investor,
.editor form.project {
    position: relative;
    padding-top: 50px;
    padding-left: 67px;
    padding-bottom: 20px;
    padding-right: 33px;
}

.editor .field {
    margin-bottom: 15px;
    min-height: 23px;
}

.editor .editorLabel {
    float: left;
    width: 200px;
    text-align: left;
    color: #9e9e9e;
    font: 17px DroidSans;
}

.editor .field.required .editorLabel:after {
    content: '*';
    color: #ed4423;
}

.editor form.project .editorLabel {
    width: 90px;
}

.editor .editorInput {
    position: relative;
    margin-left: 5px;
    border: 3px solid rgb(153, 204, 102);
    border-radius: 6px;
    font: 400 16px DroidSans;
    line-height: 20px;
}

.editor .radioGroup {}

.editor .field .radioGroup label {
    color: #959595;
    font: 11px DroidSans;
    text-align: right;
}

.editor form.investor .kvd .editorInput {
    width: 553px;
}

/*.editor form.investor .sum .editorLabel {*/
    /*width: 70px;*/
/*}*/

.editor form.investor .sum .editorInput {
    width: 292px;
}

/*.editor form.investor .sum {*/
    /*padding-left: 165px;*/
/*}*/

.editor .field .currency {
    position: relative;
    border: 3px solid rgb(153, 204, 102);
    border-radius: 3px;
    padding: 2px 5px;
    color: #1269a7;
}

.editor form.investor .field.description {
    margin-top: 100px;
}

.editor form.project .field.description {
    margin-top: 70px;
}

.editor form.investor .field.description .editorLabel,
.editor form.project .field.description .editorLabel {
    width: 90px;
}

.editor form.investor .field.description .editorInput,
.editor form.project .field.description .editorInput {
    width: 670px;
    height: 242px;
}

.editor form.project .tit .editorInput {
    width: 553px;
}

.editor form.project .projType .editorLabel {
    width: 120px;
}

.editor form.project .field.projType .radioGroup {
    margin-left: 220px;
}

.editor form.project .field.projType .radioGroup .column {
    display: inline-block;
    width: 140px;
    margin-left: 60px;
}

.editor form.project .field.projType .radioGroup .column .row {
    width: 150px;
    margin-bottom: 16px;
}

.editor form.project .field.projType .radioGroup .label-checkbox {
    float: right;
}

.editor form.project .field.projType .radioGroup label {
    line-height: 35px;
}

.field.IMGUploader {
    min-height: 50px;
    margin: 30px 0;
}

.IMGUploader .titleFile {
    margin-left: 95px;
    float: left;
}

.IMGUploader .IMGBlock {
    float: left;
    margin-top: -12px;
}

.IMGUploader .IMGBlock .defaultIMG {
    display: inline-block;
    margin: 0 0 0 10px;
}

.projectContent {
    padding: 0 34px;
}

.projectContent .topSection {
    position: relative;
    height: 12px;
    margin: 10px 48px;
}
.projectContent .bottomSection {
    margin: 15px 50px;
}

.projectsCommentsForm {
    width: 345px;
    margin: 0 auto;
}

.projectsFormComments {
    height: 126px;
    width: 100%;
    resize: none;
    font: 400 14px DroidSans;
    padding: 15px;
    border-radius: 5px;
    border: 0;
}

.projectContent .topSection .abutton.invest,
.projectContent .bottomSection .abutton.invest {
    float: right;
}

.projectContent .topSection .statInfo {
    position: relative;
}

.projectContent .topSection .statInfo .publish {
    color: #545454;
    font: 12px DroidSans;
    /*font-style: italic;*/
    float: right;
}

.projectContent .topSection .statInfo .views {
    color: #545454;
    font: 12px DroidSans;
    /*font-style: italic;*/
    float: left;
}

.projectContent .contentHeader {
    position: relative;
    background-color: #99cc66;
    border-radius: 10px;
    padding: 10px 47px;
    margin: 0 48px;
    height: 283px;
}

.projectContent .leftSec {
    float: left;
    width: 210px;
}

.projectContent .rightSec {
    float: left;
}

.projectContent .contentHeader .author,
.projectContent .contentHeader .name {
    color: #1269a7;
    font-family: DroidSans;
    margin-bottom: 15px;
}

.projectContent .contentHeader .author {
    font-size: 12px;
    padding-left: 5px;
}

.projectContent .contentHeader .name {
    font-size: 12px;
}

.projectContent .contentHeader .additionalPhotos {
    width: 422px;
}

.projectContent .contentHeader .additionalPhotos .photo {
    display: inline-block;
    width: 77px;
    height: 70px;
    margin: 0 12px 7px 0;
    cursor: progress;
    cursor: pointer;
}

.projectContent .contentHeader .additionalPhotos .photo.full {
    float: left;
    width: 312px;
    height: 231px;
}

.projectContent .contentHeader .additionalPhotos .photo,
.projectContent .contentHeader .mainPhoto {
    border-radius: 5px;
}

.projectContent .contentHeader .mainPhoto {
    width: 167px;
    height: 210px;
    margin-top: 15px;
}
.projectContent .description {
    position: relative;
}
.projectContent .description .title {
    color: #3e5da2;
    font: 14px Calibri;
    font-weight: bold;
    padding-left: 67px;
}
.projectContent .description .text {
    padding: 0 47px;
    text-indent: 20px;
    text-align:justify;
    color: #828a8f;
    font: 14px Calibri;
}
.projectContent .commentsSection {
    position: relative;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
}
.projectContent .commentsSection .count {
    color: #464646;
    font: 12px Calibri;
}

.greenBox {
    position: relative;
    border: 3px solid #99cc66;
    border-radius: 8px;
    background-color: #fff;
}
.greenBox .titleMain {
    text-align: center;
    color: #42abe0;
    font: 20px DroidSans;
    padding: 9px 0;
}
.greenBox .toggler {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #fff;
    background-image: url(images/toggleArrowDown.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.greenBox .toggler.toggled {
    background-image: url(images/toggleArrowUp.png);
}
.greenBox .closeBox {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 17px;
    background: url(images/greenBoxClose.png);
    opacity: 0.3;
    cursor: pointer;
}
.greenBox .closeBox:hover {
    opacity: 1;
}
.sideBlock {
    float: left;
    margin-top: 65px;
}
.contentBlock {
    float: right;
    width: 517px;
    margin-right: 100px;
}
.buttonBack {
    display: block;
    width: 84px;
    height: 25px;
    background-color: #c5c5c5;
    text-align: center;
    color: #1269a7;
    font: 15px DroidSans;
    line-height: 25px;
    border-radius: 5px;
}
.buttonBack:hover {
    background-color: #1269a7;
    color: #fff;
}
.sideBlock .mainInfo {
    margin-top: 41px;
}
.sideBlock .mainInfo .name {
    color: #1269a7;
    font: 20px DroidSansBold;
}
.sideBlock .mainInfo .photo {
    margin-top: 8px;
    width: 198px;
    height: 207px;
}
.sideBlock .mainInfo .photo img {
    width: 100%;
    height: 100%;
}
.sideBlock .mainInfo .photo .rating {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6px;
    color: #ffffff;
    font: 15px DroidSans;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 0 0 0 6px;
}
.sideBlock .mainInfo .photo .uploadButton {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 34px;
    height: 33px;
    cursor: pointer;
    background: url(images/privateOffice/buttonUpload.png);
}
.sideBlock .mainInfo .photo:hover .uploadButton {
    display: block;
}
.greenBox.settings {
    margin-top: 36px;
}
.greenBox .settingsToggle {
    background: url(images/privateOffice/downArrowBig.png);
    width: 58px;
    height: 28px;
    margin: 7px auto;
    cursor: pointer;
}
.greenBox .settingsToggle.toggled {
    background: url(images/privateOffice/upArrowBig.png);
}
.greenBox .panel-group {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.greenBox .panel-group .panel {
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
}
.greenBox .panel-group .panel > a {
    display: block;
    width: 100%;
    height: 100%;
    color: #68717a;
    font: 10px DroidSans;
    padding: 10px 6px;
    background-color: #b7dff3;
    border-bottom: 2px solid #b7dff3;
    border-top: 2px solid #b7dff3;
    transition: 1000ms;
}
.greenBox .panel-group .panel a.collapsed {
    color: #424244;
    font: 10px DroidSans;
    background-color: #fff;
    border-bottom: 2px solid #99cc66;
    border-top: 2px solid #99cc66;
    transition: 200ms;
}
.greenBox .panel-group .panel a.collapsed:hover {
    background-color: #b7dff3;
    transition: 200ms;
}
.greenBox .panel-group .panel .panel-body {
    margin: 0;
    padding: 11px 27px;
}
.greenBox .panel-group .panel .collapse {
    margin: 0;
    padding: 0;
    max-width: 190px;
    color: #424244;
    font: 8px DroidSans;
}
.greenBox .panel-group .panel .collapse.in {
    margin: 0;
    padding: 0;
    max-width: 190px;
    color: #424244;
    font: 8px DroidSans;
}
.greenBox .panel-group .panel .collapsing {
    margin: 0;
    padding: 0;
    max-width: 190px;
    color: #424244;
    font: 8px DroidSans;
}
.greenBox.settings .panel-group .info-submit {
    display: block;
    float: none;
    margin: 15px auto;
}
.greenBox.settings .panel-group .radioGroup {
}
.greenBox.settings .panel-group .radioGroup .row {
    line-height: 20px;
    padding: 5px 0;
}
.greenBox.settings .panel-group .radioGroup .label-checkbox {
    float: right;
    width: 20px;
    height: 20px;
}
.greenBox.settings .panel-group .radioGroup .label-checkbox span {
    background-size: cover;
}
.contactsMain {
    width: 475px;
    margin: 0 auto;
    margin-top: 89px;
}
.contactsMain .topBar {
    position: relative;
    width: 454px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    background-color: #99cc66;
    border-radius: 10px;
}
.contactsMain .topBar .searchContactsF {
    position: absolute;
    margin: 5px 9px;
    padding: 0;
    overflow: hidden;
    height: 16px;
    width: 340px;
    border: none;
}
.contactsMain .topBar .searchContactsF input.text {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 290px;
    color: #68717a;
    font: 10px DroidSans;
    height: 100%;
    border: none;
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
}
.contactsMain .topBar .searchContactsF input.startSearch {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
    width: 50px;
    max-width: 50px;
    height: 100%;
    border: none;
    background-color: #1269a7;
    color: #ffffff;
    font: 10px DroidSans;
    border-radius: 2px;
}
.contactsMain .topBar .searchContactsF input.startSearch:hover {
    background-color: #fff;
    color: #1269a7;
}
.contactsMain .topBar .count {
    position: absolute;
    right: 7px;
    top: 6px;
    color: #ffffff;
    font: 13px ArianAMU;
    text-decoration: underline;
    cursor: pointer;
}
.contactsMain .topBar .count:hover {
    color: #ffffff;
    text-decoration: none;
}
.contactsMain .contactsContainer {
    position: relative;
    max-height: 110px;
    padding: 0 15px;
    padding-bottom: 25px;
    margin-top: -7px;
    background-color: #fff;
    font-size: 22px;
    overflow: hidden;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}
.contactsContainer.toggled {
    max-height: 999px;
}
.contactsContainer .contactEntity {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 70px;
    margin-top: 10px;
}
.contactsContainer .contactEntity .photo {
    position: absolute;
    top: 0;
    width: 58px;
    height: 58px;
    border: 2px solid;
    border-radius: 5px;
}
.contactsContainer .contactEntity .photo img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.contactsContainer .contactEntity .photo .sendMessage {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 17px;
    height: 16px;
    background: url(images/sendMessage.png);
}
.contactsContainer .contactEntity .photo .name {
    position: absolute;
    bottom: -12px;
    color: #68717a;
    font: 7px DroidSans;
    text-align: center;
    width: 100%;
}
.msAndNt {
    margin-top: 73px;
    width: 100%;
}
.msAndNt .ptabs {
    position: absolute;
    width: 100%;
    top: -30px;
    font-size: 0;
    text-align: center;
}
.msAndNt .ptabs .ptab {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 3px 20px;
    border: 3px solid;
    background-color: #dfe5e6;
}
.msAndNt .ptabs .ptab:hover {
    background-color: #fff;
}
.msAndNt .ptabs .ptab.active {
    background-color: #99cc66;
}
.msAndNt .ptabs .ptab.active a {
    color: #fff;
}
.msAndNt .ptabs .ptab:first-child {
    border-radius: 10px 0 0 0;
}
.msAndNt .ptabs .ptab:last-child {
    border-radius: 0 10px 0 0;
}
.msAndNt .ptabs .ptab a {
    color: #42abe0;
    font: 13px DroidSans;
}
.msAndNt .ptabs .ptab .count {
    position: absolute;
    top: -5px;
    left: -10px;
    background-color: #1269a7;
    border-radius: 999px;
    color: #ffffff;
    font: 12px DroidSans;
    padding: 1px 5px;
    display: none;
}
.msAndNt .ptabs .ptab .count.show {
    display: block;
}
.msAndNt .messages {
    position: relative;
    width: 513px;
    overflow: hidden;
}
.msAndNt .messages .dialog {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 65px;
    border-bottom: 1px solid #99cc66;
    overflow: hidden;
}
.msAndNt .messages .dialog:first-child {
    border-radius: 5px 5px 0 0;
}
.msAndNt .messages .dialog.opened {
    height: 300px;
    overflow-y: scroll;
}
.msAndNt .messages .dialog .msg {
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #edf6e3;
}
.msAndNt .messages .dialog.opened .msg {
    cursor: auto;
}
.msAndNt .messages .dialog:hover {
    background-color: #d9edf7;
}
.msAndNt .messages .dialog.opened:hover {
    background-color: #fff;
}
.msAndNt .messages .dialog .msg .persona {
    position: relative;
    margin: 3px 3px;
    padding-bottom: 10px;
    float: right;
}
.msAndNt .messages .dialog .msg.myself .persona {
    float: left;
}
.msAndNt .messages .dialog .msg .persona img.avatar {
    width: 47px;
    height: 47px;
    margin: 0 auto;
    background-color: #dfe5e6;
    border-radius: 5px;
}
.msAndNt .messages .dialog .msg .persona .date {
    position: absolute;
    top: 50px;
    right: 9px;
    left: auto;
    color: #828a8f;
    font: 8px DroidSans;
    text-align: center;
}
.msAndNt .messages .dialog .msg .text {
    color: #646b6f;
    font: 11px DroidSans;
    margin: 10px;
    max-width: 490px;
    text-align:justify;
}
.msAndNt .messages .dialog.opened .msg .text {
}
.msAndNt .messages .messageForm {
    position: relative;
    margin: 12px auto;
    width: 484px;
}
.msAndNt .messages .messageForm .text {
    margin: 0;
    min-height: 65px;
    border: 2px solid;
    border-radius: 5px;
    color: #646b6f;
    font: 11px DroidSans;
    width: calc(100% - 4px);
    max-width: calc(100% - 4px);
}
.msAndNt .messages .messageForm .messageSubmit {
    bottom: 7px;
    right: 11px;
    background-color: #42abe0;
    border-radius: 5px;
    color: #ffffff;
    font: 8px DroidSans;
    border: 2px solid;
    padding: 3px 9px;
}
.msAndNt .messages .messageForm .messageSubmit:hover {
    background-color: #fff;
    border-radius: 5px;
    color: #42abe0;
    border-color: #42abe0;
    cursor: pointer;
}
.msAndNt .messages .messageForm .arrowHide {
    width: 49px;
    height: 15px;
    margin: 0 auto;
    background: url(images/toggleArrowUp.png);
}

/***VIP***/

.borderColor {
    border-color: #99cc66 !important;
}

.feedItem.vip {
    border: 4px #ffd781 solid;
}

.vip .border-color,
.vip.bg-color {
    border-color: #ffbb00 !important;
}

.projectFeedContainer .feedItem.vip .preview .likes .hearthPlace {
    background: url(images/projectsFeed/likedHearthPlace.png) no-repeat;
}

.vip .abutton {
    border-color: #36aae0;
    background-color: #36aae0;
}

.vip .abutton:hover {
    background-color: white;
    color: #36aae0;
}

.investmentsFeedContainer .feedItem.vip .content .title {
    color: #50b5e4;
}

.vip.contentContainer .projectContent .contentHeader {
    background-color: #faaf3a;
}