/*Default styles*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);


body {
    padding: 0;
    margin: 0;
    font-family: 'Droid Sans', sans-serif;
    font: 14px/18px 'Droid Sans';
}

* {
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
}

.container-main {
    width: 900px;
    padding: 0px;
    margin: 0 auto;
}


/*Titles*/

.title-h1-blue {
    padding: 25px 0;
    margin: 0;
    color: #1269a7;
    font: 32px/35px 'Droid Sans', sans-serif;
}

.title-h2-blue {
    padding: 40px 0 10px;
    margin: 0;
    color: #1269a7;
    font: 28px/30px 'Droid Sans', sans-serif;
}

.author-rating {
    padding: 0 36px 0 12px;
    float: left;
    color: #36a5f5;
    font: 30px/42px 'Droid Sans';
    border: solid #36a5f5;
    border-width: 2px 0 2px 2px;
    position: relative;
}

.author-rating:before,
.author-rating:after {
    content: "";
    display: inline-block;
    top: -1px;
    right: 1px;
    position: absolute;
    border: 22px solid #36a5f5;
    border-color: transparent #36a5f5 transparent transparent;
}

.author-rating:after {
    right: -1px;
    border-color: transparent #fff transparent transparent;
}


/* Notice box */

.notice-box {
    padding: 20px 0 0;
    overflow: hidden;
    clear: both;
    list-style: none;
}

.notice-box li {
    width: 168px;
    padding: 7px 10px;
    margin-left: 15px;
    float: left;
    border: 4px solid #9c6;
    border-radius: 5px;
}

.notice-box li:first-child {
    margin-left: 0;
}

.notice-box li a.image {
    margin-bottom: 4px;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    position: relative;
}

.notice-box li a.image i.fa {
    top: 5px;
    right: 5px;
    position: absolute;
    color: #fff200;
}

.notice-box li a.image img {
    border: 1px solid rgb( 251, 180, 20 );
    border-radius: 5px;
    background-color: #F7F6F6;
    width: 128px;
    height: 96px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

.notice-box li span {
    margin-left: 0px;
    display: inline-block;
    font-size: 9px;
}

/* Descr info box */

.offer-info-wrap::after {
    content: '';
    clear: both;
    display: table;
}

.offer-info-wrap div,
.offer-info-wrap span,
.offer-info-wrap h2 {
    font-family: 'Droid Sans', sans-serif;
}

.offer-info-wrap .clearfix {
    clear: both;
}

.offer-info-box {
    width: 420px;
    float: left;
}

.offer-info-box .reservation {
    padding: 5px 0px 5px 5px;
    overflow: hidden;
    background: #8bd0ea;
    font-size: 22px;
    line-height: 32px;
    border-radius: 5px;
}

.offer-info-box .reservation #make-reserve {
    color: #fff;
}

.offer-info-box .reservation i.fa-lock {
    color: #fff;
}

.offer-info-box .contact {
    padding: 5px 30px 5px 15px;
    background: #99cc66;
    color: #fff;
    font-size: 17px;
    line-height: 32px;
    border-radius: 5px;
    position: relative;
}

.offer-info-box .contact i.fa-skype {
    top: 12px;
    right: 10px;
    position: absolute;
}

.offer-info-box .contact i.fa-phone {
    top: 50%;
    right: 10px;
    position: absolute;
    margin-top: -17px;
}

.offer-info-box .clearfix {
    height: 10px;
}

.offer-info-slider {
    width: 450px;
    float: right;
    position: relative;
}

.offer-info-slider > div:nth-child(1) {
    position: absolute;
    top: -19px;
    left: -5px;
    font: 13px DroidSans;
    color: rgb( 99, 99, 99 );
}

.offer-info-slider > div:nth-child(2) {
    position: absolute;
    top: -19px;
    right: 4px;
    font: 13px DroidSans;
    color: rgb( 99, 99, 99 );
}


/* Descr text box */

.descr-text-box {
    color: #7b7b7b;
    font: 15px/18px 'Droid Sans', sans-serif;
}

.descr-text-box p {
    padding: 20px 0 0;
    margin: 0;
}

.descr-text-box p:first-letter {
    padding-left: 35px;
}


/* Page navigation */

.page-navigation {
    padding: 5px;
    margin: 0px 0 20px;
    overflow: hidden;
    list-style: none;
    background-color: #97ca65;
    border-radius: 4px;
}

.page-navigation + .page-navigation {
    padding: 5px;
    background-color: #1269a7;
    margin: 0 0 30px;
}

.page-navigation li {
    padding: 0 0 0 5px;
    float: left;
    font-size: 14px;
}

.page-navigation li:before {
    content: "/";
    display: inline-block;
    color: #7b7b7b;
}

.page-navigation li:first-child:before {
    content: "";
}

.page-navigation li:first-child a {
    margin: 0;
}

.page-navigation li a {
    margin-left: 5px;
    color: white;
}

.page-navigation li a:hover {
    color: #000;
}


/* New advertisement box */

.new-adv-box {}

.new-adv-box em {
    color: red;
    font-style: normal;
}

.new-adv-box .row {
    padding-top: 15px;
}

.new-adv-box > .row div {
    color: #7b7b7b;
    font: 17px/20px 'Droid Sans', sans-serif;
}

.new-adv-box input[type=text],
.new-adv-box textarea,
.new-adv-box select {
    width: 100%;
    border: 4px solid #9c6;
    border-radius: 5px;
}

.new-adv-box input[type=file] {
    display: none;
}

.new-adv-box .file-browse-wrap {
    padding-top: 30px;
}

.new-adv-box .file-browse-wrap > .col-xs-4 {
    padding-top: 19px;
}

.new-adv-box .file-browse {
    width: 300px;
    height: 60px;
    display: inline-block;
    text-align: center;
    border: 10px solid #9c6;
    border-radius: 5px;
}

.new-adv-box .file-browse i.fa {
    color: #9c6;
    font-size: 30px;
    line-height: 40px;
}

.new-ad-btn {
    padding: 40px 0 0;
    text-align: right;
}

.offer-map {
    border: 3px solid #9c6;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
}

.offer-info-slider .bx-wrapper .bx-controls-direction a {
    width: 32px;
    height: 32px;
}

.offer-info-slider .bx-wrapper img {
    margin: 0 auto;
    cursor: pointer;
}

.modalSlider {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modalSlider > img {
    border-radius: 5px;
    object-fit: contain;
    -o-object-fit: contain;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    height: 525px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.modalSlider span {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modalSlider > span:hover,
.modalSlider > :focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modalSlider > img {
        width: 100%;
    }
}

.offer-info-slider .bx-wrapper .bx-viewport {
    box-shadow: 0;
    border: 4px solid #9c6;
    overflow: hidden;
    border-radius: 10px;
}

.offer-info-slider .bx-wrapper .bx-next {
    right: 20px;
}

.no-padd {
    padding: 0;
}

.no-padd-left {
    padding-left: 0;
}

.no-padd-right {
    padding-right: 0;
}

.contact.phone-numbers {
    cursor: pointer;
}

.offer-info-box .foto img {
    width: 100%;
    border: 4px solid #9c6;
    display: block;
    border-radius: 7px;
}

.normalNews {
    height: auto;
    padding: 20px 0;
}

.normalNews-p,
.normalNews-p2 {
    top: 5px;
}

.normalNews-p3 {
    bottom: 5px;
}

.blogCreation .input-group.cat {
    padding: 20px 0 0 50px;
}

.blogCreation .input-group.cat > label {
    padding-left: 10px;
}

.tableOffer::after {
    content: '';
    clear: both;
    display: table;
}

.tableOffer .col-xs-6 {
    border-bottom: 2px solid rgb( 153, 204, 102 );
    margin: 5px 0;
    font: 700 18px Calibri;
}

.tableOffer .col-xs-6:nth-child(even) {
    font-weight: 400;
}

.tableOffer .col-xs-6:nth-child(even):hover {
    cursor: pointer;
}

.contact.skype-block > p.offer-skype {
    width: 110px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.notice-box li a.image p {
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

._Описание___Практичный_ноутбук_с_диагональю_экр {
    font-size: 30px;
    font-family: "ArianAMU";
    color: rgb( 142, 51, 146 );
    text-align: left;
    -moz-transform: matrix( 0.74895833333333,0,0,0.749,0,0);
    -webkit-transform: matrix( 0.74895833333333,0,0,0.749,0,0);
    -ms-transform: matrix( 0.74895833333333,0,0,0.749,0,0);
    position: absolute;
    left: 177.085px;
    top: 836.046px;
    width: 1063.83px;
    height: 357.771px;
    z-index: 94;
}

.anonymUser {
    background-color: #9c6;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
}

.anonymUser > p {
    color: white;
    font: 400 15px DroidSans;
    text-align: center;
}

.offer-info-slider .bx-wrapper .bx-wrapper .bx-prev {
    background: url(/resources/images/controls.png) no-repeat 0 -32px
}