.notice-box {
	padding: 5px 20px;
	overflow: hidden;
	clear: both;
}

.notice-box li:first-child {
	margin-left: 0;
}

.notice-box li {
	position: relative;
	width: 160px;
	height: 160px;
	padding: 7px 10px;
	margin-left: 15px;
	float: left;
	border: 5px solid #99cc66;
	border-radius: 11px;
}
.notice-box li p {
	font: 12px DroidSans;
}

.notice-box .btn.btn-xs.btn-warning {
	position: absolute;
	left: 5px;
	bottom: 5px;
}

.notice-box li a.image {	
	margin-bottom: 4px;
	display: block;
	text-align: center;
	font-size: 13px;
}

.notice-box li a.image img {
	width: 130px;
	height: 90px;
	display: block;
	border: 2px solid #faaf3a;
	border-radius: 10px;
	object-fit: contain;

}

.notice-box li span {
	position: absolute;
	font-size: 9px;
	bottom: 10px;
	right: 5px;
}
