/*Default styles*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);


body {
    padding: 0;
    margin: 0;
    font-family: 'Droid Sans', sans-serif;
    font: 14px/18px 'Droid Sans';
}

* {
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
}

.container-main {
    width: 900px;
    padding: 0px;
    margin: 0 auto;
}


/*Titles*/

.title-h1-blue {
    padding: 25px 0 20px;
    margin: 0;
    color: #1269a7;
    font: 32px/35px 'Droid Sans', sans-serif;
}

.title-h2-blue {
    padding: 40px 0 10px;
    margin: 0;
    color: #1269a7;
    font: 28px/30px 'Droid Sans', sans-serif;
}

.author-rating {
    padding: 0 36px 0 12px;
    float: left;
    color: #36a5f5;
    font: 30px/42px 'Droid Sans';
    border: solid #36a5f5;
    border-width: 2px 0 2px 2px;
    position: relative;
}

.author-rating:before,
.author-rating:after {
    content: "";
    display: inline-block;
    top: -1px;
    right: 1px;
    position: absolute;
    border: 22px solid #36a5f5;
    border-color: transparent #36a5f5 transparent transparent;
}

.author-rating:after {
    right: -1px;
    border-color: transparent #fff transparent transparent;
}


/* Notice box */

.notice-box {
    padding: 20px 0 0;
    overflow: hidden;
    clear: both;
    list-style: none;
}

.notice-box li {
    width: calc(20% - 20px);
    padding: 7px 10px;
    margin-left: 20px;
    float: left;
    border: 5px solid #99cc66;
    border-radius: 11px;
}

.notice-box li:first-child {
    margin-left: 0;
}

.notice-box li a.image {
    margin-bottom: 4px;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    position: relative;
}

.notice-box li a.image i.fa {
    top: 5px;
    right: 5px;
    position: absolute;
    color: #fff200;
}

.notice-box li a.image img {
    width: 100%;
    margin-bottom: 10px;
    display: block;
    border: 2px solid #faaf3a;
    border-radius: 10px;
}

.notice-box li span {
    margin-left: 0px;
    display: inline-block;
    font-size: 9px;
}


/* Descr info box */

.offer-info-wrap {
    overflow: hidden;
}

.offer-info-wrap div,
.offer-info-wrap span,
.offer-info-wrap h2 {
    font-family: 'Droid Sans', sans-serif;
}

.offer-info-box {
    width: 420px;
    float: left;
}

.offer-info-box .reservation {
    padding: 5px 0px 5px 5px;
    margin-top: 15px;
    overflow: hidden;
    background: #8bd0ea;
    font-size: 22px;
    line-height: 32px;
    border-radius: 5px;
}

.offer-info-box .reservation #make-reserve {
    color: #fff;
}

.offer-info-box .reservation i.fa-lock {
    color: #fff;
}

.offer-info-box .contact {
    padding: 5px 30px 5px 5px;
    background: #99cc66;
    color: #fff;
    font-size: 17px;
    line-height: 32px;
    border-radius: 5px;
    position: relative;
}

.offer-info-box .contact i.fa-skype {
    top: 12px;
    right: 10px;
    position: absolute;
}

.offer-info-box .contact i.fa-phone {
    top: 50%;
    right: 10px;
    position: absolute;
    margin-top: -17px;
}

.offer-info-box .clearfix {
    height: 10px;
}

.offer-info-slider {
    width: 450px;
    float: right;
}


/* Descr text box */

.descr-text-box {
    color: #7b7b7b;
    font: 25px/30px 'Droid Sans', sans-serif;
}

.descr-text-box p {
    padding: 20px 0 0;
    margin: 0;
}

.descr-text-box p:first-letter {
    padding-left: 35px;
}


/* Page navigation */

.page-navigation {
    padding: 0px 0 30px;
    margin: 0;
    overflow: hidden;
    list-style: none;
}

.page-navigation li {
    padding: 0 0 0 5px;
    float: left;
    font-size: 14px;
}

.page-navigation li:before {
    content: "/";
    display: inline-block;
    color: #7b7b7b;
}

.page-navigation li:first-child:before {
    content: "";
}

.page-navigation li:first-child a {
    margin: 0;
}

.page-navigation li a {
    margin-left: 5px;
    color: #7b7b7b;
}

.page-navigation li a:hover {
    color: #000;
}


/* New advertisement box */

.new-adv-box {}

.new-adv-box em {
    color: red;
    font-style: normal;
}

.new-adv-box .row {
    padding-top: 15px;
}

.new-adv-box > .row div {
    color: #7b7b7b;
    font: 17px/20px 'Droid Sans', sans-serif;
}

.new-adv-box input[type=text],
.new-adv-box textarea,
.new-adv-box select {
    width: 100%;
    border: 4px solid #9c6;
    border-radius: 5px;
}

.new-adv-box input[type=file] {
    display: none;
}

.new-adv-box .file-browse-wrap {
    padding-top: 30px;
}

.new-adv-box .file-browse-wrap > .col-xs-4 {
    padding-top: 19px;
}

.new-adv-box .file-browse {
    width: 300px;
    height: 60px;
    display: inline-block;
    text-align: center;
    border: 10px solid #9c6;
    border-radius: 5px;
}

.new-adv-box .file-browse i.fa {
    color: #9c6;
    font-size: 30px;
    line-height: 40px;
}

.new-ad-btn {
    padding: 40px 0 0;
    text-align: right;
}

.offer-map {
    border: 3px solid #9c6;
    overflow: hidden;
    border-radius: 10px;
}

.offer-info-slider .bx-wrapper .bx-controls-direction a {
    width: 32px;
    height: 32px;
}

.offer-info-slider .bx-wrapper img {
    margin: 0 auto;
}

.offer-info-slider .bx-wrapper .bx-viewport {
    box-shadow: 0;
    border: 4px solid #9c6;
    overflow: hidden;
    border-radius: 10px;
}

.offer-info-slider .bx-wrapper .bx-next {
    right: 20px;
}