html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
a:hover {
	text-decoration: none;
}
body {
	line-height: 1;
}
*:focus {outline: none;}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@-webkit-keyframes swing
{
	15%
	{
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}
	30%
	{
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	50%
	{
		-webkit-transform: translateX(3px);
		transform: translateX(3px);
	}
	65%
	{
		-webkit-transform: translateX(-3px);
		transform: translateX(-3px);
	}
	80%
	{
		-webkit-transform: translateX(2px);
		transform: translateX(2px);
	}
	100%
	{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes swing
{
	15%
	{
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}
	30%
	{
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	50%
	{
		-webkit-transform: translateX(3px);
		transform: translateX(3px);
	}
	65%
	{
		-webkit-transform: translateX(-3px);
		transform: translateX(-3px);
	}
	80%
	{
		-webkit-transform: translateX(2px);
		transform: translateX(2px);
	}
	100%
	{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

.menu {
	background-color: #97CA65;
	height: 42px;
}

.menuName {
	color: #faffff;
	font: 700 24px HelveticaNeue;
	float: right;
	margin: 5px 12px 0 12px;
}

.menuName:hover {
	text-decoration: none;
	color: #faffff;
}

.groupLi {
	display: inline-block;
	margin-top: 5px;
	position: relative;
}

.groupLi li {
	float: left;
}

.btnMenu {
	padding: 0 10px;
}

.score {
	color: #0033cc;
	font: 400 36px DroidSans;
}

.score:hover {
	text-decoration: none;
	color: #0033cc;
}

.brand {
	margin: 39px 24px 50px 27px;
	display: inline-block;
}

.logo {
	float: left;
	width: 540px;
}

.logo-p {
	color: #000000;
	font: 400 36px HelveticaNeue;
	float: right;
	margin-top: 80px;
}

.store li {
	display: inline-block;
}

.social {
	float: right;
	margin-top: 55px;
	margin: 55px 0 23px 0;
}

.socialBtn {
	color: #ffffff;
	font: 700 19px Arial;
	background-color: #35A8DE;
	border-radius: 5px;
	border: 0;
	padding: 16px 9px 16px 18px;
	margin-top: 25px;
	-webkit-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.socialBtn:hover {
	background-color: #99cc66;
}

.socialBtn:focus {
	outline: none !important;
}

.search {
	background-color: #1269a7;
	border-radius: 5px;
	height: 99px;
	margin: 0 auto;
}

.sear {
	font: 400 18px DroidSans;
	height: 42px;
	width: 450px;
	margin: 19px 8px 0 19px;
	border-radius: 3px;
	float: left;
}

#form {
	display: inline-block;
}

.selectBox select {
	border-radius: 0;
	height: 42px;
	width: 216px;
	color: #898989;
	font: 400 18px DroidSans;
	background: transparent;
	padding: 0 35px 0 24px;
	border: 0;
}

.selectBox {
	width: 203px;
	display: inline-block;
	overflow: hidden;
	background: url(images/caret.png) no-repeat 98%;
	border-radius: 3px;
	background-color: #ffffff;
	margin-top: 19px;
	float: left;
}

.submit-search {
	color: #ffffff;
	font: 400 30px DroidSans;
	background-color: #99cc66;
	height: 46px;
	width: 163px;
	border: 0;
	border-radius: 4px;
	margin-top: 17px;
	margin-left: 16px;
	-webkit-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.submit-search:hover {
	background: -webkit-linear-gradient(top, #9c6, #70ab35);
	background: -webkit-linear-gradient(top, #6cb52b, #538a1c);
	background: linear-gradient(top, #6cb52b, #538a1c);
}

.submit-search:focus {
	outline: none !important;
}

.users {
	color: #1269a7;
	font: 400 30px DroidSans;
	width: 253px;
	height: 58px;
	background-color: white;
	border: 6px solid #84cddd;
	border-radius: 6px;
	margin-left: 11px;
}

.users:focus {
	outline: none !important;
}

.users:hover {
	border-color: #1269a7;
	background: -webkit-linear-gradient(top, #9c6, #70ab35);
	background: -webkit-linear-gradient(top, #6cb52b, #538a1c);
	background: linear-gradient(top, #6cb52b, #538a1c);
	color: white;
}

.search img {
	margin: 0 auto;
	display: block;
}

.slider {
	margin: 20px 0 0 7px;
}

.ad-p {
	color: #ffffff;
	font: 400 16px ArianAMU;
	background-color: #70ab35;
	border: 5px solid #70ab35;
	border-radius: 5px;
	height: 27px;
	width: 156px;
	position: absolute;
	top: -28px;
	left: 70px;
}

.ad {
	position: relative;
	width: 635px;
	border: 5px solid #70ab35;
	border-radius: 5px;
	float: left;
	margin-top: 60px;
}

.add-top1 {
	position: relative;
	width: 190px;
	height: 224px;
	border: 5px solid #70ab35;
	border-radius: 5px;
	float: left;
	margin: 9.1px;
}

.ad-a1 {
	color: #ffffff;
	font: 400 19px ArianAMU;
	background-color: rgba(0, 0, 0, 0.5);
	height: 59px;
	width: 100%;
	position: absolute;
	bottom: 14px;
	text-align: center;
	padding: 10px;
}

.ad-a1:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.75);
}

.caretDown {
	cursor: pointer;
	border-top: 5px solid #70ab35;
	padding: 10px 265px;
}

.tend-p {
	color: #ffffff;
	font: 400 16px ArianAMU;
	background-color: #70ab35;
	border: 5px solid #70ab35;
	border-radius: 5px;
	height: 27px;
	width: 156px;
	position: absolute;
	top: -28px;
	right: 70px;
	text-align: center;
}

.proj-p {
	color: #ffffff;
	font: 400 16px ArianAMU;
	background-color: #70ab35;
	border: 5px solid #70ab35;
	border-radius: 5px;
	height: 27px;
	width: 156px;
	position: absolute;
	top: -28px;
	left: 70px;
	text-align: center;
}

.tidings {
	position: relative;
	width: 493px;
	border: 5px solid #70ab35;
	border-radius: 5px;
	float: right;
	margin-top: 60px;
	margin-left: 10px;
}

.tidiDown {
	cursor: pointer;
	border-top: 5px solid #70ab35;
	padding: 10px 195px;
	margin-top: 20px;
}

.tidi1 {
	float: right;
	position: relative;
	margin: 20px;
	height: 335px;
	width: 221px;
}

.tidi1-a {
	position: absolute;
	bottom: 3px;
	left: 13px;
	color: #ffffff;
	font: 400 18px ArianAMU;
}

.tidi1-a:hover {
	text-decoration: none;
	color: #ffffff;
}

.tidi2 {
	position: relative;
	margin: 20px 0 0 20px;
	height: 93px;
	width: 199px;
	display: inline-block;
}

.tidi2-p {
	color: #ffffff;
	font: 400 18px ArianAMU;
	position: absolute;
	bottom: 14px;
	left: 12px;
}

.tidi3 {
	height: 224px;
	width: 199px;
	margin: 17px 0 0 20px;
	position: relative;
	display: inline-block;
}

.tidi3-a {
	color: #ffffff;
	font: 400 26px ArianAMU;
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.tidi3-a:hover {
	background-color: rgba(0, 0, 0, 0.75);
	text-decoration: none;
	color: #ffffff;
}

.tidi4 {
	width: 430px;
	height: 152px;
	border: 5px solid #70ab35;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
}

.tidi4 img {
	margin: 9px 19px 9px 13px;
	float: left;
}

.tidi4-a {
	color: #1269a7;
	font: 400 14px DroidSans;
	display: block;
	margin-top: 15px;
}

.tidi4-a:hover {
	text-decoration: none;
	color: #1269a7;
}

.tidi4-p {
	color: #868787;
	font: 400 13px DroidSans;
	display: inline-block;
	width: 170px;
}

.tidi4-a2 {
	display: inline-block;
	color: #70ab35;
	font: 400 14px DroidSans;
	margin: 0;
}

.tidi4-a2:hover {
	text-decoration: none;
	color: #70ab35;
}

.data-tidi5 {
	color: #626262;
	font: 400 10px DroidSans;
	position: absolute;
	top: 10px;
	left: 13px;
}

.tidi4-ar {
	color: #1269a7;
	font: 400 14px DroidSans;
	display: inline-block;
	margin-top: 23px;
	margin-left: 20px;
}

.tidi4-pr {
	color: #868787;
	font: 400 13px DroidSans;
	display: inline-block;
	width: 170px;
	margin-left: 20px;
}

.tidi4-ar:hover {
	text-decoration: none;
	color: #1269a7;
}

.footer {
	background-color: #9c6;
	height: 56px;
	margin-top: 79px;
}

.bookDrop {
	position: absolute;
	background-color: #99cc66;
	height: 236px;
	width: 284px;
	top: 18px;
	padding: 21px 0;
	left: 1px;
	display: none;
	border-radius: 5px;
}

.bookDrop ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-align-content: space-around;
	-ms-flex-line-pack: distribute;
	align-content: space-around;
}

.bookDrop a {
	margin: 0 5px;
}

.balance {
	background-color: #99cc66;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 40px;
	width: 228px;
	position: absolute;
	top: 42px;
	left: -35px;
	text-align: center;
	z-index: 100;
	display: none;
}

.btnBalance {
	color: #ffffff;
	font: 300 18px Helvetica;
	border-radius: 5px;
	border: 0;
	background-color: #1269a7;
	height: 25px;
	width: 187px;
	margin-top: 5px;
	-webkit-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.btnBalance:hover {
	background-color: transparent;
	color: #0033cc;
}

.btnBalance:focus {
	outline: none !important;
}

.btnbook:hover .bookDrop {
	display: block;
}

.btnbook {
	position: relative;
}

.money {
	float: right;
	margin-right: 140px;
	position: relative;
}

.money li:hover .balance {
	display: block;
}

.mid {
	margin-top: 16px;
	display: table;
}

.mid li:hover .dropUl {
	display: block;
}

.mid li:hover .ads-img {
	border-radius: 0;
	border-bottom: 0;
}

.mid li:hover .ads-p {
	background-color: #36aae0;
	height: 36px;
	line-height: 36px;
	margin-top: 5px;
	-webkit-transition: all ease .25s;
	transition: all ease .25s;
	text-decoration: none;
	color: #ffffff;
}

.mid li {
	float: left;
	width: 191px;
	margin-right: 1px;
}

.mid li:last-child {
	width: 350px;
}

.ads-p {
	color: #ffffff;
	font: 400 18px DroidSans;
	background-color: #1269a7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 25px;
	width: 100%;
	text-align: center;
	line-height: 25px;
	margin-top: 16px;
	display: block;
}

.ads-img {
	border: 5px solid #1269a7;
	border-top: 0;
	width: 100%;
	height: 193px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.ads-img a {
	width: 180px;
	height: 190px;
	display: inline-block;
}

.ads-img a img {
	margin: 35px auto;
}

.ads-a1 {
	color: #2f3846;
	font: 300 18px Helvetica;
	display: block;
	width: 100%;
	border: 3px solid #36aae0;
	border-bottom: 0;
	padding-left: 10px;
}

.ads-a1:hover {
	text-decoration: none;
	color: #2f3846;
	display: block;
	width: 100%;
	background-color: #9c6;
}

.dropUl {
	display: none;
}

.ads-drop {
	color: #2f3846;
	font: 300 18px Helvetica;
	display: block;
	width: 191px;
	border: 3px solid #36aae0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-left: 10px;
}

.ads-drop:hover {
	text-decoration: none;
	color: #2f3846;
	background-color: #9c6;
}

.data {
	color: #626262;
	font: 400 10px DroidSans;
	position: absolute;
	top: 9px;
	right: 11px;
}

.mailDrop {
	position: absolute;
	background-color: #99cc66;
	width: 284px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	top: 17px;
	left: 1px;
	display: none;
	padding-top: 8px;
	z-index: 4;
}

.mailDrop a {
	display: table;
	margin: 10px 6px 0 10px;
	float: left;
}

#comment {
	background-color: #e1e1e1;
	border-radius: 5px;
	width: 209px;
	resize: none;
	margin-top: 10px;
	color: #5f5f5f;
	font: 400 12px Calibri;
}

.btnSubmit {
	color: #ffffff;
	font: 400 11px HelveticaNeue;
	background-color: #3eade1;
	border-radius: 4px;
	height: 16px;
	width: 63px;
	border: 0;
	-webkit-transition: all .25s;
	transition: all .25s;
	float: right;
	margin: 5px 15px 5px 0;
}

.btnSubmit:hover {
	background-color: transparent;
}

/*
.btnMail:hover .mailDrop {
	display: block;
}
*/

.btnMail {
	position: relative;
}

.dropFace {
	background-color: #99cc66;
	height: 161px;
	width: 193px;
	position: absolute;
	top: 36px;
	padding: 21px 0 0 16px;
	display: none;
	z-index: 4;
}

.dropFace ul {
	float: left;
}

.dropFace ul li a {
	color: #ffffff;
	font: 300 18px Helvetica;
	-webkit-transition: all ease .25s;
	transition: all ease .25s;
}

.dropFace ul li a:hover {
	color: #1269a7;
	text-decoration: none;
	padding-left: 5px;
}

.dropFace ul li {
	float: none;
}

.edit {
	color: #ffffff;
	font: 300 12px Helvetica;
	text-decoration: underline;
	float: right;
	padding: 11px 7px 7px 0;
	-webkit-transition: all ease .25s;
	transition: all ease .25s;
	font-style: italic;
}

.edit:hover {
	color: #1269a7;
	text-decoration: none;
}

.btnFace:hover .dropFace {
	display: block;
}

.tidi5-img {
	float: right;
}

.question {
	position: fixed;
	top: 50%;
	margin-top: -250px;
	z-index: 3;
}

.question-img {
	cursor: pointer;
}

.questionForm {
	display: none;
	background-color: #1269a7;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	width: 334px;
	max-height: 614px;
	overflow: hidden;
	float: left;
	-webkit-transition: all ease .25s;
	transition: all ease .25s;
}

.quest-p {
	color: #ffffff;
	font: 400 18px ArianAMU;
	text-align: center;
	margin-top: 14px;
}

#form-quest {
	width: 278px;
	margin: 0 auto;
	margin-top: 43px;
	display: table;
}

.inText {
	border-radius: 5px;
	height: 24px;
	font: 400 14px DroidSans;
}

#comment-quest {
	background-color: #ffffff;
	border-radius: 5px;
	font: 400 14px DroidSans;
	margin-top: 16px;
	resize: none;
}

.btn-quest {
	float: right;
	border: 0;
	margin-top: 11px;
	margin-bottom: 5px;
	color: #ffffff;
	font: 400 14px ArianAMU;
	background-color: #99cc66;
	border-radius: 5px;
	line-height: 21px;
	height: 21px;
	width: 82px;
	-webkit-transition: all ease .25s;
	transition: all ease .25s;
}

.btn-quest:hover {
	background-color: transparent;
}

.message {
	margin-top: 8px;
	background-color: #ffffff;
	border-radius: 5px;
	width: 280px;
	position: relative;
}

.message a {
	color: #42abe0;
	font: 400 10px DroidSans;
	margin: 4px 0 2px 0;
}

.message a:hover {
	text-decoration: none;
}

.message img {
	float: left;
	margin: 7px;
}

.data-mess {
	color: #898989;
	font: 400 8px ArianAMU;
	position: absolute;
	right: 9px;
	top: 4px;
}

.mess-p {
	color: #646b6f;
	font: 400 9px Calibri;
	width: 220px;
	display: inline-block;
	margin-bottom: 8px;
}





.mod1 {
	max-width: 216px;
	float: left;
}

.notLogged-li {
	float: left;
	line-height: 42px;
	color: #ffffff;
}

.notLogged-li a {
	color: white;
}

.Logged {
	display: block;
}

#modal_form {
	width: 960px;
	height: 496px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px solid #99cc66;
	background: #ffffff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 50%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -248px;
	margin-left: -480px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
}

#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color: transparent;
	width:100%;
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}

.notLogged {
	display: block;
}

.label-checkbox {
	width: 35px; /* Ширина рисунка */
	height: 35px; /* Высота рисунка */
	position: relative; /* Относительное позиционирование */
	float: left;
}

input[type="checkbox"] + span {
	position: absolute; /* Абсолютное позиционирование */
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: url(images/backgroundCheck.png) no-repeat; /* Фоновый рисунок */
	cursor: pointer; /* Курсор в виде руки */
}

input[type="checkbox"]:checked + span  	{
	background: url(images/check.png) no-repeat; /* Фоновый рисунок */
}

.submit {
	color: #ffffff;
	font: 400 30px ArianAMU;
	background-color: #99cc66;
	height: 49px;
	width: 112px;
	margin: 0 auto;
	margin-left: 375px;
	margin-top: 35px;
	border: 0;
	border-radius: 5px;
	display: block;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.submit:hover {
	background-color: #1269a7;
}

.contactA {
	color: #36aae0;
	font: 400 24px DroidSans;
	margin-top: 50px;
	margin-left: 350px;
	display: block;
}

.profile {
	border: 5px solid #99cc66;
	border-radius: 8px;
	width: 100%;
	display: table;
	position: relative;
	margin-top: 10px;
}

.online {
	color: #ffb405;
	font: 400 36px DroidSans;
	top: 11px;
	right: 76px;
	position: absolute;
}

.profile-img {
	border: 1px solid #99cc66;
	margin: 30px 0 0 28px;
	border-radius: 21px;
	float: left;
	position: relative;
	height: 415px;
	width: 344px;
	overflow: hidden;
}

.firstName {
	margin: 32px 0 0 39px;
	display: inline-block;
	color: #1269a7;
	font: 400 40px DroidSans;
}

.DateOfBirth li {
	float: left;
	color: #898989;
	font: 400 30px DroidSans;
}

.DateOfBirth {
	margin: 22px 0 0 37px;
	display: inline-block;
}

.phone {
	background-color: #99cc66;
	border-radius: 7px;
	height: 124px;
	width: 320px;
}

.phone-img {
	float: right;
	margin: 32px 10px 0 0;
}

.contacts {
	width: 699px;
	display: inline-block;
	margin: 17px 28px;
}

.phoneNumber {
	color: #ffffff;
	font: 400 30px DroidSans;
	margin: 19px 0 0 20px;
	display: inline-block;
}

.phoneNumber2 {
	color: #ffffff;
	font: 400 30px DroidSans;
	margin: 19px 0 0 20px;
	display: inline-block;
}

.skypeContact {
	background-color: #99cc66;
	height: 69px;
	width: 320px;
	margin-top: 22px;
	border-radius: 7px;
}

.emailContact {
	background-color: #99cc66;
	border-radius: 7px;
	height: 70px;
	width: 320px;
	margin-top: 22px;
}

.skypeContact-img {
	float: right;
	margin: 11px 13px 0 0;
}

.skype {
	color: #ffffff;
	font: 400 30px DroidSans;
	display: inline-block;
	margin: 18px 0 0 17px;
}

.skypeName {
	color: #ffffff;
	font: 400 30px DroidSans;
	display: inline-block;
	margin: 18px 0 0 0;
}

.email {
	color: #ffffff;
	font: 400 21.14px DroidSans;
	display: inline-block;
	margin: 23px 0 0 15px;
}

.emailcontact-img {
	float: right;
	margin: 22px 16px 0 0;
}

.emailName {
	color: #ffffff;
	font: 400 21.14px DroidSans;
	display: inline-block;
	margin: 23px 0 0 0;
}

.map {
	width: 359px;
	border-radius: 7px;
	border: 2px solid #99cc66;
	float: right;
}

.map-p {
	color: #99cc66;
	font: 400 23px DroidSans;
	height: 51px;
	width: 337px;
	display: block;
	margin: 0 auto;
}

.mapContact {
	border-radius: 7px;
	height: 174px;
	width: 336px;
	margin: 0 auto;
	margin-top: 6px;
	display: none;
}

.caretContact {
	height: 42px;
	width: 87px;
	margin: 0 auto;
	margin-top: 13px;
	margin-bottom: 13px;
	cursor: pointer;
	background: url(images/caretDown.png) no-repeat center center;
}
.caretContact.lol {
	background: url(images/caretUp.png) no-repeat center center;
}

.writeMessage {
	height: 52px;
	width: 347px;
	color: #ffffff;
	font: 400 26.6px DroidSans;
	background-color: #63CAED;
	border-radius: 7px;
	border: 0;
	margin: 0 25px 0 28px;
	-webkit-transition: all ease .25s;
	transition: all ease .25s;
}

.writeMessage:hover {
	background-color: #99cc66;
}

.contact-btn-group {
	margin-top: 8px;
}

.addToContact {
	color: #ffffff;
	font: 400 26.6px DroidSans;
	width: 320px;
	background-color: #1168A5;
	border-radius: 7px;
	border: 0;
	height: 52px;
	-webkit-transition: all ease .25s;
	transition: all ease .25s;
}

.addToContact:hover {
	background-color: #99cc66;
}

.num {
	background-color: #3d5da1;
	border-radius: 50%;
	height: 15px;
	width: 15px;
	position: absolute;
	top: -10px;
	left: 1px;
	color: #ffffff;
	font: 400 10px Calibri;
	text-align: center;
}

.social-icon {
	margin: 13px 28px 44px 0;
	height: 68px;
}

.social-icon a {
	margin-left: 30px;
	display: inline-block;
	float: right;
}

.social-icon a:hover {
	-webkit-animation: swing 0.5s ease;
	animation: swing 0.5s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.tab-profile:nth-child(1) {
	height: 57px;
	width: 176px;
	border-radius: 7px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid #99cc66;
	position: absolute;
	top: 1px;
	left: 1px;
	text-align: center;
}

.tab-profile:nth-child(2) {
	height: 57px;
	width: 468px;
	border-radius: 7px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid #99cc66;
	position: absolute;
	top: 1px;
	right: 1px;
	text-align: center;
}

.tab-profile a {
	color: #99cc66;
	font: 400 30px DroidSans;
	line-height: 56px;
}

.tab-profile a.active {
	color: #ffffff;
}

.etabs-profile {
	width: 630px;
	height: 57px;
	position: relative;
	margin: 0 auto;
}

.tab-profile.active {
	background-color: #99cc66;
}

#aboutMe {
	border: 3px solid #99cc66;
	border-radius: 7px;
	margin: 0 28px;
	margin-bottom: 57px;
	padding: 30px;
}

#aboutMe h2 {
	color: #898989;
	font: 400 26px Arial;
}

#moreInformation {
	border: 3px solid #99cc66;
	border-radius: 7px;
	margin: 0 28px;
	margin-bottom: 57px;
	padding: 30px;
}

#moreInformation h2 {
	color: #898989;
	font: 400 26px Arial;
}

.vip-color-border {
	border-color: #FDB205;
}

.organization-color-border {
	border-color: #1168A5;
}

.vip-color-background {
	background-color: #FDB205;
}

.rating-vip {
	background: url(images/rating.png) no-repeat;
	height: 70px;
	width: 139px;
	position: absolute;
	left: -1px;
	bottom: 50px;
	z-index: 2;
}

.rating p {
	color: #1269a7;
	font: 400 36px DroidSans;
	text-align: left;
	line-height: 70px;
	padding-left: 23px;
}

.backgroundSun {
	position: absolute;
	bottom: -3px;
	right: -3px;
	z-index: 10;
}

.vip-profile-img {
	display: none;
}

.tend-top1 {
	position: relative;
	width: 190px;
	height: 224px;
	border: 5px solid #70ab35;
	border-radius: 5px;
	float: left;
	margin: 9.1px;
}

.proj-top1 {
	position: relative;
	width: 190px;
	height: 224px;
	border: 5px solid #70ab35;
	border-radius: 5px;
	float: left;
	margin: 9.1px;
}

.massage-box {
	margin: 0 auto;
	margin-left: 30px;
	margin-bottom: 8px;
	height: 210px;
	width: 297px;
	overflow: scroll;
}

.rating-organization {
	background: url(images/rating-organization.png) no-repeat;
	height: 70px;
	width: 139px;
	position: absolute;
	left: -1px;
	bottom: 50px;
	z-index: 2;
}

.rating-organization p {
	color: #1269a7;
	font: 400 36px DroidSans;
	text-align: left;
	line-height: 70px;
	padding-left: 23px;
}

.organization-profile-img {
	display: none;
}

.tab-news {
	float: left;
	width: 50%;
	height: 57px;
}

.tab-news a {
	color: #b7b7b7;
	font: 400 28px DroidSans;
	border-radius: 12px;
	border: 1px solid transparent;
	padding: 15px 30px;
	line-height: 57px;
}

.tab-news a.active {
	border-color: #1269a7;
	color: #1269a7;
}

.tab-news:nth-child(1) {
	text-align: right;
}

.tab-container-news {
	margin-top: 57px;
}

.blogs {
	height: 179px;
	width: 1050px;
	border: 5px solid #97CA65;
	border-radius: 7px;
	margin: 0 auto;
	margin-bottom: 23px;
	position: relative;
}

.blogs-img {
	float: left;
	margin: 17px 0 0 18px;
	height: 135px;
	width: 180px;
}

.etabs-news {
	display: block;
	height: 57px;
	margin-bottom: 51px;
}

.nameBlogs {
	color: #3e5da2;
	font: 400 31px ArianAMU;
	margin: 15px 0 0 17px;
	float: left;
}

.text-blogs {
	color: #828a8f;
	font: 400 25px Calibri;
	width: 813px;
	display: inline-block;
	margin-left: 17px;
	margin-top: 10px;
}

.description {
	color: #828a8f;
	font: 400 24px Calibri;
	position: absolute;
	top: 40px;
	left: 240px;
}

.views-blogs {
	color: #929d9e;
	font: italic 700 18px Calibri;
	position: absolute;
	bottom: -2px;
	left: 17px;
}

.views-blogs-num {
	color: #929d9e;
	font: italic 700 18px Calibri;
	position: absolute;
	bottom: -2px;
	left: 130px;
}

.DateOfCreation-blogs {
	color: #929d9e;
	font: 400 18px Calibri;
	position: absolute;
	bottom: -1px;
	right: 90px;
}

.DateOfCreation-blogs-num {
	color: #929d9e;
	font: 400 18px Calibri;
	position: absolute;
	bottom: -1px;
	right: 21px;
}

.tab {
	width: 50%;
	float: left;
	margin-top: 14px;
	padding: 0 20px;
}

.tab:nth-child(1) {
	text-align: right;
}

.tab a {
	color: #42abe0;
	font: 400 36px ArianAMU;
	padding: 7px 9px;
	border: 3px solid transparent;
	border-radius: 7px;
	display: inline-block;
}

.tab a.active {
	color: #1269a7;
	border-color: #1269a7;
}

#entry-form {
	width: 960px;
	margin: 0 auto;
	display: block;
	margin-top: 50px;
}

.etabs {
	width: 960px;
	display: inline-block;
}

label[for="email"] {
	color: #959595;
	font: 400 24px ArianAMU;
	float: left;
	margin-left: 100px;
}

#email {
	border: 3px solid #99cc66;
	border-radius: 7px;
	height: 32px;
	width: 488px;
	float: right;
	margin-right: 100px;
	padding: 0 7px;
	color: #898989;
	font: 400 18px DroidSans;
	margin-bottom: 18px;
}

label[for="password"] {
	color: #959595;
	font: 400 24px ArianAMU;
	float: left;
	margin-left: 100px;
}

#password {
	border: 3px solid #99cc66;
	border-radius: 7px;
	height: 32px;
	width: 488px;
	float: right;
	margin-right: 100px;
	padding: 0 7px;
	color: #898989;
	font: 400 18px DroidSans;
}

.rememberMe {
	display: block;
	margin: 0 auto;
	height: 35px;
	width: 210px;
	margin-top: 40px;
}

label[for="checkbox-modal"] {
	color: #898989;
	font: 400 24px ArianAMU;
	line-height: 35px;
	float: right;
}

label[for="registration-email"] {
	color: #959595;
	font: 400 24px ArianAMU;
	float: left;
	margin-left: 100px;
}

#registration-email {
	border: 3px solid #99cc66;
	border-radius: 7px;
	height: 32px;
	width: 488px;
	float: right;
	margin-right: 100px;
	padding: 0 7px;
	color: #898989;
	font: 400 18px DroidSans;
	margin-bottom: 18px;
}

label[for="registration-password"] {
	color: #959595;
	font: 400 24px ArianAMU;
	float: left;
	margin-left: 100px;
}

#registration-password {
	border: 3px solid #99cc66;
	border-radius: 7px;
	height: 32px;
	width: 488px;
	float: right;
	margin-right: 100px;
	padding: 0 7px;
	color: #898989;
	font: 400 18px DroidSans;
	margin-bottom: 18px;
}

label[for="repeat-registration-password"] {
	color: #959595;
	font: 400 24px ArianAMU;
	float: left;
	margin-left: 100px;
}

#repeat-registration-password {
	border: 3px solid #99cc66;
	border-radius: 7px;
	height: 32px;
	width: 488px;
	float: right;
	margin-right: 100px;
	padding: 0 7px;
	color: #898989;
	font: 400 18px DroidSans;
	margin-bottom: 18px;
}

#registration {
	width: 960px;
	margin: 0 auto;
	display: block;
	margin-top: 50px;
}

.conditions {
	display: table;
	margin-left: 300px;
	height: 35px;
	width: 410px;
	margin-top: 40px;
}

.conditions a {
	color: #42abe0;
	font: 400 24px ArianAMU;
	text-decoration: underline;
}

.registration-submit {
	color: #ffffff;
	font: 400 30px ArianAMU;
	background-color: #99cc66;
	height: 41px;
	width: auto;
	margin: 0 auto;
	margin-left: 375px;
	margin-top: 35px;
	border: 0;
	border-radius: 5px;
	display: block;
	padding: 0 20px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.registration-submit:hover {
	background-color: #1269a7;
}

.mailDrop-message {
	width: 100%;
	border-top: 1px solid white;
	display: inline-block;
	cursor: pointer;
}

.mailDrop-message-p {
	float: right;
	width: 204px;
	text-align: justify;
	margin: 10px;
	color: white;
	font: 400 13px DroidSans;
}

.answer {
	position: relative;
	display: none;
	width: 284px;
	height: 148px;
}

.answer p {
	position: absolute;
	bottom: 8px;
	left: 8px;
	color: white;
}

.answer-a {
	position: absolute;
	bottom: 8px;
	left: 68px;
	color: white;
	text-decoration: underline;
}

.answer form {
	float: right;
	margin-right: 10px;
}

.moreInformation {
	border: 7px solid rgb(153, 204, 102);
	border-radius: 7px;
	width: 1140px;
	position: relative;
	margin-top: 10px;
}

.info-p {
	color: #1269a7;
	font: 400 36px ArianAMU;
	text-align: center;
	margin-top: 19px;
}

#selectBox-info-type select {
	border-radius: 0;
	width: 500px;
	color: #898989;
	font: 400 18px DroidSans;
	background: transparent;
	padding: 0 35px 0 24px;
	border: 0;
	height: 28px;
	line-height: 28px;
}

#selectBox-info-type {
	width: 491px;
	display: inline-block;
	overflow: hidden;
	background: url(images/caret.png) no-repeat 98%;
	border-radius: 3px;
	border: 3px solid rgb(153, 204, 102);
	border-radius: 6px;
	height: 33px;
	float: right;
	margin-right: 190px;
	margin-bottom: 15px;
}

.label-form-info {
	float: left;
	color: #959595;
	font: 400 24px ArianAMU;
	line-height: 33px;
}

#selectBox-info-sphere select {
	border-radius: 0;
	width: 500px;
	color: #898989;
	font: 400 18px DroidSans;
	background: transparent;
	padding: 0 35px 0 24px;
	border: 0;
	height: 28px;
	line-height: 28px;
}

#selectBox-info-sphere {
	width: 491px;
	display: inline-block;
	overflow: hidden;
	background: url(images/caret.png) no-repeat 98%;
	border-radius: 3px;
	border: 3px solid rgb(153, 204, 102);
	border-radius: 6px;
	height: 33px;
	float: right;
	margin-right: 190px;
	margin-bottom: 15px;
}


.form-info-input {
	border: 3px solid rgb(153, 204, 102);
	border-radius: 6px;
	width: 491px;
	height: 37px;
	font: 400 18px DroidSans;
	padding-left: 7px;
	float: right;
	margin-right: 190px;
	margin-bottom: 15px;
}

.input-info-min {
	border: 3px solid rgb(153, 204, 102);
	border-radius: 6px;
	width: 236px;
	height: 38px;
	font: 400 18px DroidSans;
	padding-left: 7px;
	float: right;
	margin-right: 445px;
	margin-bottom: 15px;
}

.input-info-normal {
	width: 314px;
	height: 38px;
	border: 3px solid rgb(153, 204, 102);
	border-radius: 6px;
	font: 400 18px DroidSans;
	padding-left: 7px;
	float: right;
	margin-right: 367px;
	margin-bottom: 15px;
}

.textarea-about-me {
	border: 3px solid rgb(153, 204, 102);
	border-radius: 6px;
	width: 680px;
	height: 273px;
	resize: none;
	padding: 7px;
	float: right;
	margin-bottom: 15px;
}

.info-submit {
	background-color: #35A8DE;
	width: 175px;
	height: 41px;
	border-radius: 5px;
	color: #ffffff;
	font: 400 30px ArianAMU;
	border: 0;
	text-align: center;
	float: right;
	margin-bottom: 22px;
}

#moreInformation-form {
	display: inline-block;
	width: 990px;
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 50px;
}
.moreInformation-img {
	position: absolute;
	border-radius: 7px;
	border: 5px solid rgb(18, 105, 167);
	width: 161px;
	height: 188px;
	top: 110px;
	right: 72px;
	background: url(images/logo-img-2.png) no-repeat center center;
}
