html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
*:focus {outline: none;}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.menu {
     background-color: #97CA65;
     height: 42px;
}

.menuName {
    color: #faffff;
    font: 700 24px HelveticaNeue;
    float: right;
    margin: 5px 12px 0 12px;
}

.menuName:hover {
    text-decoration: none;
    color: #faffff;
}

.groupLi {
    display: inline-block;
    margin-top: 5px;
	position: relative;
}

.groupLi li {
	float: left;
}

.btnMenu {
    padding: 0 10px;
}

.score {
    color: #0033cc;
    font: 400 36px DroidSans;
}

.score:hover {
    text-decoration: none;
    color: #0033cc;
}

.brand {
    margin: 39px 24px 50px 27px;
    display: inline-block;
}

.logo {
    float: left;
    width: 540px;
}

.logo-p {
    color: #000000;
    font: 400 36px HelveticaNeue;
    float: right;
    margin-top: 80px;
}

.store li {
    display: inline-block;
}

.social {
    float: right;
    margin-top: 55px;
	margin: 55px 0 23px 0;
}

.socialBtn {
    color: #ffffff;
    font: 700 19px Arial;
    background-color: #35A8DE;
    border-radius: 5px;
    border: 0;
    padding: 16px 9px 16px 18px;
    margin-top: 25px;
	-webkit-transition: all ease 0.3s;
  	transition: all ease 0.3s;
}

.socialBtn:hover {
	background-color: #99cc66;
}

.socialBtn:focus {
  outline: none !important;
}

.search {
	background-color: #1269a7;
	border-radius: 5px;
	height: 99px;
	margin: 0 auto;
}

.sear {
	font: 400 18px DroidSans;
	height: 42px;
	width: 450px;
	margin: 19px 8px 0 19px;
	border-radius: 3px;
	float: left;
}

#form {
	display: inline-block;
}

.selectBox select {
	border-radius: 0;
	height: 42px;
	width: 216px;
	color: #898989;
	font: 400 18px DroidSans;
	background: transparent;
	padding: 0 35px 0 24px;
	border: 0;
}

.selectBox {
	width: 203px;
	display: inline-block;
	overflow: hidden;
	background: url(images/caret.png) no-repeat 98%;
	border-radius: 3px;
	background-color: #ffffff;
	margin-top: 19px;
	float: left;
}

.submit-search {
	color: #ffffff;
	font: 400 30px DroidSans;
	background-color: #99cc66;
	height: 46px;
	width: 163px;
	border: 0;
	border-radius: 4px;
	margin-top: 17px;
	margin-left: 16px;
	-webkit-transition: all ease 0.3s;
  	transition: all ease 0.3s;
}

.submit-search:hover {
	background: -webkit-linear-gradient(top, #9c6, #70ab35);
    background: linear-gradient(top, #6cb52b, #538a1c);
}

.submit-search:focus {
  outline: none !important;
}

.users {
	color: #1269a7;
	font: 400 30px DroidSans;
	width: 253px;
	height: 58px;
	background-color: white;
	border: 6px solid #84cddd;
	border-radius: 6px;
	margin-left: 11px;
}

.users:focus {
  outline: none !important;
}

.users:hover {
	border-color: #1269a7;
	background: -webkit-linear-gradient(top, #9c6, #70ab35);
    background: linear-gradient(top, #6cb52b, #538a1c);
    color: white;
}

.search img {
	margin: 0 auto;
	display: block;
}

.slider {
	margin: 50px 0 0 7px;
}

.ad-p {
	color: #ffffff;
	font: 400 16px ArianAMU;
	background-color: #70ab35;
	border: 5px solid #70ab35;
	border-radius: 5px;
	height: 27px;
	width: 156px;
	position: absolute;
	top: -28px;
	left: 70px;
}

.ad {
	position: relative;
	width: 645px;
	border: 5px solid #70ab35;
	border-radius: 5px;
	float: left;
    margin-top: 64px;
}

.add-top1 {
	position: relative;
	width: 190px;
	height: 224px;
	border: 5px solid #70ab35;
	border-radius: 5px;
	float: left;
	margin: 26px 10px;
}

.ad-a1 {
	color: #ffffff;
	font: 400 20px ArianAMU;
	background-color: rgba(0, 0, 0, 0.5);
	height: 59px;
	width: 100%;
	position: absolute;
	bottom: 14px;
	text-align: center;
	line-height: 59px;
}

.ad-a1:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.75);
}

.ad-p2 {
	color: #ffffff;
	font: 400 20px ArianAMU;
	background-color: rgba(0, 0, 0, 0.5);
	height: 59px;
	width: 100%;
	position: absolute;
	bottom: 14px;
	text-align: center;
}

.ad-p2:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.75);
}

.drop {
	display: none;
}

.caretDown {
	cursor: pointer;
	border-top: 5px solid #70ab35;
	padding: 10px 270px;
}

.tend-p {
	color: #ffffff;
	font: 400 16px ArianAMU;
	background-color: #70ab35;
	border: 5px solid #70ab35;
	border-radius: 5px;
	height: 27px;
	width: 156px;
	position: absolute;
	top: -28px;
	left: 452px;
	text-align: center;
}

.tend-drop {
	display: none;
}

.proj-p {
	color: #ffffff;
	font: 400 16px ArianAMU;
	background-color: #70ab35;
	border: 5px solid #70ab35;
	border-radius: 5px;
	height: 27px;
	width: 156px;
	position: absolute;
	top: -28px;
	left: 70px;
	text-align: center;
}

.proj-drop {
	display: none;
}

.tidings {
	position: relative;
	width: 493px;
	border: 5px solid #70ab35;
	border-radius: 5px;
	float: right;
    margin-top: 64px;
}

.tidiDown {
	cursor: pointer;
	border-top: 5px solid #70ab35;
	padding: 10px 195px;
	margin-top: 29px;
}

.tidi1 {
	float: right;
	position: relative;
	margin: 29px 29px 0 0;
	height: 335px;
	width: 221px;
}

.tidi1-a {
	position: absolute;
	bottom: 3px;
	left: 13px;
	color: #ffffff;
	font: 400 18px ArianAMU;
}

.tidi1-a:hover {
	text-decoration: none;
	color: #ffffff;
}

.tidi2 {
	position: relative;
	margin: 29px 0 0 29px;
	height: 93px;
	width: 199px;
	display: inline-block;
}

.tidi2-p {
	color: #ffffff;
	font: 400 18px ArianAMU;
	position: absolute;
	bottom: 14px;
	left: 12px;
}

.tidi3 {
	height: 224px;
	width: 199px;
	margin: 17px 0 0 29px;
	position: relative;
	display: inline-block;
}

.tidi3-a {
	color: #ffffff;
	font: 400 26px ArianAMU;
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.tidi3-a:hover {
	background-color: rgba(0, 0, 0, 0.75);
	text-decoration: none;
	color: #ffffff;
}

.tidi4 {
	width: 430px;
	height: 152px;
	border: 5px solid #70ab35;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 29px;
	position: relative;
}

.tidi4 img {
	margin: 9px 19px 9px 13px;
	float: left;
}

.tidi4-a {
	color: #1269a7;
	font: 400 14px DroidSans;
	display: block;
	margin-top: 15px;
}

.tidi4-a:hover {
	text-decoration: none;
	color: #1269a7;
}

.tidi4-p {
	color: #868787;
	font: 400 14px DroidSans;
	display: inline-block;
	width: 170px;
}

.tidi4-a2 {
	display: inline-block;
	color: #70ab35;
	font: 400 14px DroidSans;
	margin: 0;
}

.tidi4-a2:hover {
	text-decoration: none;
	color: #70ab35;
}

.data-tidi5 {
	color: #626262;
	font: 400 10px DroidSans;
	position: absolute;
	top: 10px;
	left: 13px;
}

.tidi4-ar {
	color: #1269a7;
	font: 400 14px DroidSans;
	display: inline-block;
	margin-top: 23px;
	margin-left: 20px;
}

.tidi4-pr {
	color: #868787;
	font: 400 14px DroidSans;
	display: inline-block;
	width: 170px;
	margin-left: 20px;
}

.tidi4-ar:hover {
	text-decoration: none;
	color: #1269a7;
}

.tidi-drop {
	display: none;
}

.footer {
	background-color: #9c6;
	height: 56px;
	margin-top: 79px;
}

.bookDrop {
	position: absolute;
	background-color: #99cc66;
	height: 236px;
	width: 284px;
	top: 29px;
	padding: 21px 0;
	left: 345px;
	display: none;
	border-radius: 5px;
}

.bookDrop ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-align-content: space-around;
	-ms-flex-line-pack: distribute;
	align-content: space-around;
}

.bookDrop a {
	margin: 0 5px;
}

.balance {
	background-color: #99cc66;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 40px;
	width: 228px;
	position: absolute;
	top: 42px;
	left: -30px;
	text-align: center;
	z-index: 100;
	display: none;
}

.btnBalance {
	color: #ffffff;
	font: 300 18px Helvetica;
	border-radius: 5px;
	border: 0;
	background-color: #1269a7;
	height: 25px;
	width: 187px;
	margin-top: 5px;
	-webkit-transition: all ease 0.3s;
  	transition: all ease 0.3s;
}

.btnBalance:hover {
	background-color: transparent;
	color: #0033cc;
}

.btnBalance:focus {
  outline: none !important;
}

.btnbook:hover .bookDrop {
	display: block;
}

.money {
	float: right;
	margin-right: 140px;
    position: relative;
}

.money li:hover .balance {
	display: block;
}

.mid {
	margin-top: 16px;
	display: table;
}

.mid li:hover .dropUl {
	display: block;
}

.mid li:hover .ads-img {
	border-radius: 0;
    border-bottom: 0;
}

.mid li:hover .ads-p {
	background-color: #36aae0;
	height: 36px;
	line-height: 36px;
	margin-top: 5px;
 	-webkit-transition: all ease .25s;
 	transition: all ease .25s;
    text-decoration: none;
    color: #ffffff;
}

.mid li {
	float: left;
	width: 191px;
	margin-right: 1px;
}

.mid li:last-child {
	width: 350px;
}

.ads-p {
	color: #ffffff;
	font: 400 18px DroidSans;
	background-color: #1269a7;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 25px;
	width: 100%;
	text-align: center;
	line-height: 25px;
	margin-top: 16px;
    display: block;
}

.ads-img {
	border: 5px solid #1269a7;
	border-top: 0;
	width: 100%;
	height: 193px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ads-img a {
	width: 180px;
    height: 190px;
    display: inline-block;
}

.ads-img a img {
    margin: 35px auto;
}





.ads-a1 {
	color: #2f3846;
	font: 300 18px Helvetica;
	display: block;
	width: 100%;
	border: 3px solid #36aae0;
	border-bottom: 0;
	padding-left: 10px;
}

.ads-a1:hover {
	text-decoration: none;
	color: #2f3846;
    display: block;
	width: 100%;
	background-color: #9c6;
}

.dropUl {
	display: none;
}

.ads-drop {
	color: #2f3846;
	font: 300 18px Helvetica;
	display: block;
	width: 191px;
	border: 3px solid #36aae0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-left: 10px;
}

.ads-drop:hover {
	text-decoration: none;
	color: #2f3846;
	background-color: #9c6;
}

.data {
	color: #626262;
	font: 400 10px DroidSans;
	position: absolute;
	top: 9px;
	right: 11px;
}

.mailDrop {
	position: absolute;
	background-color: #99cc66;
	height: 141px;
	width: 284px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	top: 29px;
	left: 240px;
	display: none;
}

.mailDrop a {
	display: table;
	margin: 10px 6px 0 10px;
	float: left;
}

#comment {
	background-color: #e1e1e1;
	border-radius: 5px;
	width: 209px;
	resize: none;
	margin-top: 10px;
	color: #5f5f5f;
	font: 400 12px Calibri;
}

.btnSubmit {
	color: #ffffff;
	font: 400 11px HelveticaNeue;
	background-color: #3eade1;
	border-radius: 4px;
	height: 16px;
	width: 63px;
	border: 0;
	-webkit-transition: all .25s;
	transition: all .25s;
	float: right;
	margin: 1px 15px 0 0;
}

.btnSubmit:hover {
	background-color: transparent;
}

.btnMail:hover .mailDrop {
	display: block;
}

.dropFace {
	background-color: #99cc66;
	height: 161px;
	width: 193px;
	position: absolute;
	top: 36px;
	padding: 21px 0 0 16px;
	display: none;
}

.dropFace ul {
	float: left;
}

.dropFace ul li a {
	color: #ffffff;
	font: 300 18px Helvetica;
 	-webkit-transition: all ease .25s;
 	transition: all ease .25s;
}

.dropFace ul li a:hover {
	color: #1269a7;
	text-decoration: none;
	padding-left: 5px;
}

.dropFace ul li {
	float: none;
}

.edit {
	color: #ffffff;
	font: 300 12px Helvetica;
	text-decoration: underline;
	float: right;
	padding: 11px 7px 7px 0;
 	-webkit-transition: all ease .25s;
 	transition: all ease .25s;
	font-style: italic;
}

.edit:hover {
	color: #1269a7;
	text-decoration: none;
}

.btnFace:hover .dropFace {
	display: block;
}

.tidi5-img {
    float: right;
}
.question {
    position: fixed;
    top: 50%;
    margin-top: -307px;
}

.question-img {
    cursor: pointer;
}

.questionForm {
    display: none;
    background-color: #1269a7;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 334px;
    max-height: 614px;
    overflow: hidden;
    float: left;
    -webkit-transition: all ease .25s;
 	transition: all ease .25s;
}

.quest-p {
    color: #ffffff;
    font: 400 18px ArianAMU;
    text-align: center;
    margin-top: 14px;
}

#form-quest {
    width: 278px;
    margin: 0 auto;
    margin-top: 43px;
    display: table;
}

.inText {
    border-radius: 5px;
    height: 24px;
    font: 400 14px DroidSans;
}

#comment-quest {
    background-color: #ffffff;
    border-radius: 5px;
    font: 400 14px DroidSans;
    margin-top: 16px;
    resize: none;
}

.btn-quest {
    float: right;
    border: 0;
    margin-top: 11px;
    margin-bottom: 5px;
    color: #ffffff;
    font: 400 14px ArianAMU;
    background-color: #99cc66;
    border-radius: 5px;
    line-height: 21px;
    height: 21px;
    width: 82px;
    -webkit-transition: all ease .25s;
 	transition: all ease .25s;
}

.btn-quest:hover {
    background-color: transparent;
}

.message {
    margin: 8px auto;
    background-color: #ffffff;
    border-radius: 5px;
    width: 280px;
    position: relative;
}

.message a {
    color: #42abe0;
    font: 400 10px DroidSans;
    margin: 4px 0 2px 0;
}

.message a:hover {
    text-decoration: none;
}

.message img {
    float: left;
    margin: 7px;
}

.data-mess {
    color: #898989;
    font: 400 8px ArianAMU;
    position: absolute;
    right: 9px;
    top: 4px;
}

.mess-p {
    color: #646b6f;
    font: 400 9px Calibri;
    width: 220px;
    display: inline-block;
    margin-bottom: 8px;
}
.modal-content {
    background-color: #1269a7;
}

.mod {
    margin-left: 10px;
    float: left;
}

.mod1 {
    max-width: 216px;
    float: left;
}

.notLogged ul li {
    float: left;
    line-height: 42px;
    color: white;
}

.notLogged ul li a {
    color: white;
}

.notLogged ul li a:hover {
    text-decoration: none;
}
.Logged {
    display: block;
}


/* Style modal */
#modal_form {
    width: 960px;
    height: 496px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
    border: 3px solid #99cc66;
    background: #ffffff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 50%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -248px;
	margin-left: -480px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
}

/* Пoдлoжкa */
#overlay {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}

.etabs .tab1 a {
    color: #42abe0;
    font: 400 36px ArianAMU;
    float: right;
    margin-right: 43px;
    padding: 7px 9px;
    border: 3px solid transparent;
    border-radius: 5px;
    margin-top: 14px
}

.etabs .tab1 .active {
    border: 3px solid #1269a7;
    color: #1269a7;
}

.etabs .tab2 a {
    margin-top: 14px;
    color: #42abe0;
    font: 400 36px ArianAMU;
    float: left;
    margin-left: 43px;
    padding: 7px 9px;
    border: 3px solid transparent;
    border-radius: 5px;
}

.etabs .tab2 .active {
    border: 3px solid #1269a7;
    color: #1269a7;
}

.etabs .tab1 {
    width: 50%;
}

.etabs .tab2 {
    width: 50%;
}

.contact_form label {
    color: #959595;
    font: 400 24px ArianAMU;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
    width: 234px;
    margin-right: 26px;
}

.contactUl {
    width: 750px;
    margin: 0 auto;
    margin-top: 50px;
    display: table;
}

.notLogged .contactUl .contactLi {
    padding-bottom: 18px;
    position:relative;
    display: table;
    float: none;
    line-height: normal;
}

.contact_form input {
    height: 32px;
    width: 488px;
    padding: 0 8px;
    border:3px solid #99cc66;
    border-radius:5px;
    color: black;
    line-height: 32px;
}

.contact_form input:focus {
    box-shadow: 0 0 5px #99cc66;
}

.notLogged {
    display: none;
}

.contact_form {
    display: table;
    margin: 0 auto;
}

input[type="checkbox"] {
    height: 29px;
    width: 29px;
} /*--здесь подключаем спрайт и выбираем нужный элемент--*/
.submit {
    color: #ffffff;
    font: 400 30px ArianAMU;
    background-color: #99cc66;
    height: 49px;
    width: 112px;
    margin: 0 auto;
    margin-left: 260px;
    border: 0;
    border-radius: 5px;
    display: block;
}

.contactA {
    color: #36aae0;
    font: 400 24px DroidSans;
    margin-top: 50px;
    margin-left: 360px;
    display: inline-block;
}