
.greenBox {
    position: relative;
    border: 3px solid #99cc66;
    border-radius: 8px;
    background-color: #fff;
}

.greenBox .titleMain {
    text-align: center;
    color: #42abe0;
    font: 17px DroidSans;
    padding: 9px 0;
}

.greenBox.closed .titleMain {
    opacity: 0;
    transition: 300ms;
}

.greenBox .titleMain.big {
    text-align: center;
    color: #42abe0;
    font: 20px DroidSans;
    padding: 9px 0;
}

.greenBox .titleMain.toggler {
    cursor: pointer;
}

.greenBox .arrow.toggler,
.greenBox .arrow.loader{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #fff;
    background-image: url(images/toggleArrowDown.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 1;
    border-radius: 0 0 5px 5px;
}

.greenBox .arrow.toggler.toggled {
    background-image: url(images/toggleArrowUp.png);
}

.greenBox.closed .arrow.toggler {
    background-image: url(images/toggleArrowUp.png);
    opacity: 0;
    transition: 300ms;
}

.greenBox[toggler] {
    padding-bottom: 25px;
}

.greenBox .closeBox {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 17px;
    background: url(images/greenBoxClose.png);
    opacity: 0.3;
    cursor: pointer;
}

.greenBox .closeBox:hover {
    opacity: 1;
}

.sideBlock {
    float: left;
    margin-top: 30px;
}

.contentBlock {
    float: right;
    width: 650px;
}

.buttonBack {
    display: block;
    width: 84px;
    height: 25px;
    background-color: #c5c5c5;
    text-align: center;
    color: #1269a7;
    font: 15px DroidSans;
    line-height: 25px;
    border-radius: 5px;
}

.buttonBack:hover {
    background-color: #1269a7;
    color: #fff;
}

.sideBlock .mainInfo {
    margin-top: 0px;
}

.sideBlock .mainInfo .name {
    color: #1269a7;
    font: 16px DroidSansBold;
    max-width: 200px;
}

.sideBlock .mainInfo .photo {
    margin-top: 8px;
    width: 198px;
    height: 207px;
    cursor: pointer;
    overflow: hidden;
}

.sideBlock .mainInfo .photo img {
    width: 100%;
    height: 100%;
}

.sideBlock .mainInfo .photo .rating {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6px;
    color: #ffffff;
    font: 15px DroidSans;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 0 0 0 6px;
}

.sideBlock .mainInfo .photo .uploadButton {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 34px;
    height: 33px;
    cursor: pointer;
    background: url(images/privateOffice/buttonUpload.png);
}

.sideBlock .mainInfo .photo:hover .uploadButton {
    display: block;
}

.greenBox.settings {
    margin-top: 36px;
}

.greenBox .settingsToggle {
    background: url(images/privateOffice/downArrowBig.png);
    width: 58px;
    height: 28px;
    margin: 7px auto;
    cursor: pointer;
}

.greenBox .settingsToggle.toggled {
    background: url(images/privateOffice/upArrowBig.png);
}

.greenBox .panel-group {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.greenBox .panel-group .panel {
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
}


.greenBox .panel-group .panel > a {
    color: #fff;
    background-color: #99cc66;
    display: block;
    width: 100%;
    height: 100%;
    font: 12px DroidSans;
    text-decoration: none;
    padding: 5px 15px;
    border-bottom: 2px solid #99cc66;
    border-top: 2px solid #99cc66;
    transition: 200ms;
}

.greenBox .panel-group .panel a.collapsed {
    color: #99cc66;
    background-color: #fff;
    font: 12px DroidSans;
    padding: 5px 6px;
    border-bottom: 2px solid #99cc66;
    border-top: 2px solid #fff;
    transition: 200ms;
}

.greenBox .panel-group .panel a.collapsed:hover {
    color: #fff;
    background-color: #99cc66;
    border-bottom: 2px solid #99cc66;
    border-top: 2px solid #99cc66;
    transition: 200ms;
}

.greenBox .panel-group .panel .panel-body {
    margin: 0;
    padding: 11px 27px;
}

.greenBox .panel-group .panel .collapse {
    margin: 0;
    padding: 0;
    max-width: 190px;
    color: #6b6b6b;
    font: 10px DroidSans;
}

.greenBox .panel-group .panel .collapse.in {
    margin: 0;
    padding: 0;
    max-width: 190px;
    color: #6b6b6b;
    font: 10px DroidSans;
}

.greenBox .panel-group .panel .collapsing {
    margin: 0;
    padding: 0;
    max-width: 190px;
    color: #6b6b6b;
    font: 10px DroidSans;
}

.greenBox.settings .panel-group .info-submit {
    display: block;
    float: none;
    margin: 15px auto;
    background-color: #99cc66;
    font-size: 15px;
}
.greenBox.settings .panel-group .info-submit:hover {
    background-color: #35A8DE;
}

.greenBox.settings .panel-group .radioGroup {}

.greenBox.settings .panel-group .radioGroup .row {
    line-height: 20px;
    padding: 5px 0;
}

.greenBox.settings .panel-group .radioGroup .label-checkbox {
    float: right;
    width: 20px;
    height: 20px;
}

.greenBox.settings .panel-group .radioGroup .label-checkbox span {
    background-size: cover;
}

.contactsMain {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}

.contactsMain .topBar {
    position: relative;
    width: 474px;
    height: 35px;
    margin: 0 auto;
    padding: 0;
    background-color: #99cc66;
    border-radius: 10px;
}

.contactsMain .topBar .searchContactsF {
    position: absolute;
    margin: 5px 9px;
    padding: 0;
    overflow: hidden;
    height: 21px;
    width: 340px;
    border: none;
}

.contactsMain .topBar .searchContactsF input.text {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #68717a;
    font: 12px DroidSans;
    height: 100%;
    border: none;
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
}

.contactsMain .topBar .searchContactsF input.startSearch {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
    width: 50px;
    max-width: 50px;
    height: 100%;
    border: none;
    background-color: #1269a7;
    color: #ffffff;
    font: 10px DroidSans;
    border-radius: 2px;
}

.contactsMain .topBar .searchContactsF input.startSearch:hover {
    background-color: #fff;
    color: #1269a7;
}

.contactsMain .topBar .count {
    position: absolute;
    right: 25px;
    top: 8px;
    color: #ffffff;
    font: 14px ArianAMU;
    text-decoration: underline;
    cursor: pointer;
}

.contactsMain .topBar .count:hover {
    color: #ffffff;
    text-decoration: none;
}

.contactsMain .contactsContainer {
    position: relative;
    max-height: 125px;
    padding: 0 15px;
    padding-bottom: 30px;
    margin-top: -7px;
    background-color: #fff;
    font-size: 21px;
    overflow: hidden;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
}

.contactsContainer.toggled {
    max-height: 999px;
}
.contactsContainer .noFinded {
    color: #68717a;
    font: 14px DroidSans;
    text-align: center;
}

.contactsContainer .persona {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 70px;
    margin-top: 10px;
    margin-right: 7px;
}

.contactsContainer .persona .photo {
    position: absolute;
    top: 0;
    width: 58px;
    height: 58px;
    border: 2px solid;
    border-radius: 5px;
    overflow: hidden;
}

.contactsContainer .persona .photo img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.contactsContainer .persona .photo .sendMessage {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 17px;
    height: 16px;
    background: url(images/sendMessage.png);
}

.contactsContainer .persona .photo .name {
    position: absolute;
    top: 57px;
    color: #68717a;
    font: 7px DroidSans;
    text-align: center;
    width: 100%;
}

.msAndNt {
    margin-top: 73px;
    width: 100%;
}

.msAndNt .ptabs {
    position: absolute;
    width: 100%;
    top: -30px;
    font-size: 0;
    text-align: center;
}

.msAndNt .ptabs .ptab {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 3px 20px;
    border: 3px solid;
    background-color: #dfe5e6;
}

.msAndNt .ptabs .ptab:hover {
    background-color: #fff;
}

.msAndNt .ptabs .ptab.active {
    background-color: #99cc66;
}

.msAndNt .ptabs .ptab.active a {
    color: #fff;
}

.msAndNt .ptabs .ptab:first-child {
    border-radius: 10px 0 0 0;
}

.msAndNt .ptabs .ptab:last-child {
    border-radius: 0 10px 0 0;
}

.msAndNt .ptabs .ptab a {
    color: #42abe0;
    font: 13px DroidSans;
}

.msAndNt .ptabs .ptab .count {
    position: absolute;
    top: -5px;
    left: -10px;
    background-color: #1269a7;
    border-radius: 999px;
    color: #ffffff;
    font: 12px DroidSans;
    padding: 1px 5px;
    display: none;
}

.msAndNt .ptabs .ptab .count.show {
    display: block;
}

.msAndNt .messages {
    position: relative;
    width: 100%;
    overflow-y: auto;
    max-height: 455px;
}

.msAndNt .notifications {
    position: relative;
    width: 100%;
}

.messages .baron__scroller {
    position: relative;
    width: 100%;
}

.msAndNt .messages.opened {
    overflow: visible;
    max-height: none;
}

.msAndNt .messages .dialog {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    height: 65px;
    border-top: 1px solid #99cc66;
    overflow: hidden;
    width: calc(100% - 0px);
}

.msAndNt .messages .dialog:first-child,
.msAndNt .notifications .notify {
    border-radius: 5px 5px 0 0;
    border-top: none;
}

.msAndNt .messages .dialog.opened {
    height: 300px;
    overflow-y: auto;
}

.msAndNt .messages .dialog .msg,
.msAndNt .notifications .notify {
    position: relative;
    cursor: pointer;
    border-top: 2px solid #edf6e3;
}

.msAndNt .notifications .notify {
    min-height: 65px;
    width: 100%;
    display: block;
}
.msAndNt .notifications .notify .text a {
    font-weight: bold;
}

.msAndNt .messages .scrollPreffered {
    position: absolute;
    right: -5px;
    width: 10px;
    height: 100%;
    top: 0;
    background-color: #99cc66;
}
.msAndNt .messages .dialog.opened .msg {
    cursor: auto;
}

.msAndNt .messages .dialog:hover,
.msAndNt .notifications .notify:hover {
    background-color: #d9edf7;
}

.msAndNt .messages .dialog.opened:hover {
    background-color: #fff;
}

.msAndNt .messages .dialog .msg .persona,
.msAndNt .notifications .notify .persona {
    position: relative;
    margin: 3px 10px;
    padding-bottom: 10px;
    float: left;
}
.msAndNt .messages .dialog .msg .persona {
    pointer-events: none;
}
.msAndNt .messages .dialog.opened .msg .persona {
    cursor: pointer;
    pointer-events: auto;
}

.msAndNt .messages .dialog .msg.myself .persona {
    float: right;
}

.msAndNt .messages .dialog .msg .persona img.avatar,
.msAndNt .notifications .notify .persona img.avatar {
    width: 47px;
    height: 47px;
    margin: 0 auto;
    background-color: #dfe5e6;
    border-radius: 5px;
}

.msAndNt .messages .dialog .msg .persona .date,
.msAndNt .notifications .notify .persona .date {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50px;
    left: auto;
    color: #828a8f;
    font: 8px DroidSans;
    text-align: center;
}

.msAndNt .messages .dialog .msg .text,
.msAndNt .notifications .notify .text {
    color: #646b6f;
    font: 11px DroidSans;
    margin: 4px 10px;
    text-align: justify;
}

.msAndNt .messages .dialog.opened .msg .text {}

.msAndNt .messages .messageForm {
    position: relative;
    margin: 12px auto;
    width: 570px;
    display: none;
}

.msAndNt .messages .messageForm .text {
    margin: 0;
    min-height: 65px;
    border: 2px solid;
    border-radius: 5px;
    color: #646b6f;
    font: 11px DroidSans;
    width: calc(100% - 4px);
    max-width: calc(100% - 4px);
}

.msAndNt .messages .messageForm .messageSubmit {
    bottom: 7px;
    right: 11px;
    background-color: #42abe0;
    border-radius: 5px;
    color: #ffffff;
    font: 8px DroidSans;
    border: 2px solid;
    padding: 3px 9px;
}

.msAndNt .messages .messageForm .messageSubmit:hover {
    background-color: #fff;
    border-radius: 5px;
    color: #42abe0;
    border-color: #42abe0;
    cursor: pointer;
}

.msAndNt .messages .messageForm .arrowHide {
    width: 49px;
    height: 15px;
    margin: 0 auto;
    background: url(images/toggleArrowUp.png);
    cursor: pointer;
}
.historyContainer {
    width: 100%!important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content:space-between; */
    height:auto;
    width: 100%;
    overflow-y:scroll;
}
.historyBox {
    width: calc(50% - 50px);
}

.historyBox .historyContent {
    max-height: 159px;
    overflow: hidden;
}

.historyBox.toggled .historyContent {
    max-height: 999px;
}

.balanceHistory .record {
    color: #68717a;
    font: 10px DroidSans;
    padding: 0 8px;
}

.inlineBox {
    position: relative;
    /*display: inline-block;
    width: calc(50% - 52px);*/
    margin: 25px 25px;
}

.historyBox .historyItem {
    display: block;
    padding: 8px 8px;
    color: #898989;
    font: 10px DroidSans;
    border-top: 2px solid #99cc66;
}

.historyBox .historyItem:hover {
    background-color: #d9edf7;
}

.historyBox .historyIcon {
    position: absolute;
    float: left;
    left: -25px;
    top: -20px;
    width: 60px;
    height: 60px;
    border: 4px solid;
    border-radius: 999px;
    border-color: #1269a7;
    background-color: #fff;
    overflow: visible;
}

.historyBox .historyIcon:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}

.historyBox#myTenders .historyIcon:after {
    background-image: url(images/hammer.png);
}

.historyBox#myProjects .historyIcon:after {
    background-image: url(images/compass.png);
}

.historyBox#myNews .historyIcon:after {
    background-image: url(images/newspaper.png);
}

.historyBox#myBalance .historyIcon:after {
    background-image: url(images/balance.png);
}

.historyBox#myOffers .historyIcon:after {
    background-image: url(images/rupor.png);
}

.historyBox#myInvestments .historyIcon:after {
    background-image: url(images/dollarUp.png);
}




.vip .persona img,
.vip.persona img {
    border: 2px solid #ffbb00 !important;
}


::-webkit-scrollbar {
    /* for Mac OS X support */
    width: 0;
}

.track3 {
    width: 5px;
    border-left: 2px solid #99cc66;
}

.track3:hover,
.track3.dragging {}

.handle3 {
    width: 10px;
    right: -5px;
    background: #99cc66;
}

.track3:hover .handle3,
.track3.dragging .handle3 {}

