#investModal {
    background-color: #1269a7;
    border-radius: 8px;
    width: 528px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -155px;
    margin-left: -264px;
    z-index: 5;
}

#investModal > h2 {
    text-align: center;
    color: #ffffff;
    font: 400 19px DroidSans;
    margin-top: 18px;
    margin-bottom: 10px;
}

#investModal > .whichBankYouChoose {
    background-color: #ffffff;
    border-radius: 7px;
    width: 491px;
    margin: 0 auto;
    margin-bottom: 18px;
}