<div class="order-content content-box">
  <div class="order-container">
    <div class="header">Форма обратной связи</div>

    <div class="form-container">
      <form method="post" ng-submit="order.sendForm()" enctype="multipart/form-data">
        <div class="row">
          Имя: *
          <input type="text" class="right" ng-model="order.name"></input>
        </div>

        <div class="row">
          Фамилия: *
          <input type="text" class="right" ng-model="order.surname"></input>
        </div>

        <div class="row">
          Адрес E-mail: *
          <input type="text" class="right" ng-model="order.email"></input>
        </div>

        <div class="row">
          Телефон: *
          <input type="text" class="right" ng-model="order.phone"></input>
        </div>

        <hr class="separator">

        <textarea rows="6" ng-model="order.message"></textarea>

        <div class="row center">
          <label>Прикрепить файл: </label>
            <input class="selected-file right" type="text" placeholder="Файл не выбран" ng-hide="myFile"></input>
            <span ng-show="myFile">{{myFile}}</span>
          <div class="file">
            <div>Обзор</div>
            <input type="file" id="file" file-model="myFile" size="1" style="margin-top: -50px; margin-left:-410px; -moz-opacity: 0; filter: alpha(opacity=0); opacity: 0; font-size: 150px; height: 100px;">          </div>

        </div>

        <hr class="separator">

        <div class="row center">
          <input class="nice-button" type="submit" value="Отправить"></input>
        </div>

      </form>
    </div>
  </div>
</div>
