<div class="services-details-content content-box">
  <h3>ИНТЕРЬЕР</h3>

  <div class="row">
    <div class="left-column">
      <div class="column-header">Изготовление</div>
      <ul>
        <li>- Колонны</li>
        <li>- Полу-колонны</li>
        <li>- Балюстрады</li>
        <li>- Карнизы</li>
        <li>- Тяги</li>
        <li>- Зеркала</li>
        <li>- 3Д панели</li>
        <li>- Наличники</li>
        <li class="active">- Розетки</li>
        <li>- Пилястры</li>
        <li>- Кронштейны</li>
      </ul>

      <div class="column-header">Монтаж</div>
      <ul>
        <li>- Колонны</li>
        <li>- Полу-колонны</li>
        <li>- Балюстрады</li>
        <li>- Карнизы</li>
        <li>- Тяги</li>
        <li>- Зеркала</li>
        <li>- 3Д панели</li>
        <li>- Наличники</li>
        <li>- Розетки</li>
        <li>- Пилястры</li>
        <li>- Кронштейны</li>
      </ul>
    </div>

    <div class="right-column">
      <div class="photos-container">

        <div class="large-photo-container">

        </div>

        <div class="slider-container">
          <div class="arrow-up"></div>
          <div class="slide"></div>
          <div class="slide"></div>
          <div class="slide"></div>
          <div class="slide"></div>
          <div class="slide"></div>
          <div class="arrow-down"></div>
        </div>

        <div class="slide-description">
          Офигенная штука<br />
          Украсит любой интерьер<br />
          Стоит - много денег
        </div>
      </div>

      <div class="info-container">
        Информация о роезетках <br />в целом<br /><br />

        С другой стороны реализация намеченных плановых заданий в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
      </div>


    </div>

  </div>

</div>
