/src/main/webapp/WEB-INF/views/123.html
/src/main/java/ua/com/itproekt/novaera/api/rest/TestRest.java
**/.idea/*
*.iml
**/target/**
**/out/**
**/startMongo
frontend-dev/node_modules
frontend-dev2/node_modules
chat/node_modules
/public/src/main/webapp/app.js
