/src/main/webapp/WEB-INF/views/123.html
/src/main/java/ua/com/itproekt/novaera/api/rest/TestRest.java
**/.idea/*
*.iml
**/target/**
**/startMongo
frontend-dev/node_modules
public/src/main/webapp/app.js
