* {
  margin:0;
  padding:0;
}

body {
	padding: 1.83333% 1.666666%;
	background: #020e13;
	font-family: Arial;
  transition:1.5s;
}

/* Body classes for each page type */
body.index {
	background-image:url("../img/index_bg.png");
	background-repeat: no-repeat;
	background-position-x: right;
}

body.about {
  background-image:url("../img/index_bg.png");
	background-repeat: no-repeat;
	background-position-x: right;
}

body.order {
  background-image:url("../img/order_bg.png");
	background-repeat: no-repeat;
	background-position-x: right;
}

body.contacts {
	background-image:url("../img/contacts_bg.png");
	background-repeat: no-repeat;
	background-position-x: right;
}

body.services {
	background-image:url("../img/services_bg.png");
	background-repeat: no-repeat;
	background-position-x: right;
}

body.gallery {
	background-image:url("../img/gallery_bg.png");
	background-repeat: no-repeat;
	background-position-x: right;
}


/* HEADER */
header {
	height:180px;
}

.logo {
	display:inline-block;
	float:left;
	height:174px;
	width:21.5%; /* 258px */
	min-width:150px;
	background: rgba(2, 14, 19, 0.7);
	background-image: url("../img/logo.png");
	background-repeat:no-repeat;
	background-position:center;
	border-top:3px solid white;
	border-bottom:3px solid white;

}

/* Menu & content container */
.container {
	width:100%;
	min-height: 530px;
	margin-bottom:60px; /* Footer space */
}

/* MENU */
.menu {
	display:inline-block;
	float: left;
	width: 21.5%; /* 258px 25800 / 1200 = 21.5 */
	min-width: 150px;
	font-size: 1.1875em; /* 19px */
	color: white;
	padding-top: 30px;
	background: rgba(2, 14, 19, 0.7);
	border-bottom:3px solid white;
}

.menu ul {
	list-style-type: none;
}

.menu .masson {
	display: inline-block;
	text-align: right;
	margin-right: 6.2015503875969%; /* 16px 1600 / 258 =  6.2015503875969 */
	width: 14.728682170542635%; /* 38px 3800 / 258 = 14.728682170542635 */
	min-height: 15px;
}

.menu li {
	margin-bottom:15px;
}

.menu a {
	color:inherit;
	text-decoration: none;
}

.menu a:hover{
	color: #8b715e;
}

.menu li:hover>.masson {
	background-image: url("../img/masson_bg.png");
	background-repeat: no-repeat;
	background-position: right;
}

/* CONTENT */
.content {
	position: relative;
	display: inline-block;
	padding-top: 30px;
	width: 74.75%; /* 897px 89700 / 1200 =  74.75 */
	min-height: inherit;
}

.content .content-box {
	color:white;
	background: rgba(118, 124, 122, 0.7);
	border-radius: 10px;
	width:90.166109253%; /* 746px */
	margin-left:3.4166666%;
	border:2px solid white;
	font-size:1.3625em;
	box-shadow:0 0 10px white;
}

.content .content-box p {
	margin:30px 0;
}



/* Index page */
.content .index-content {
	position:absolute;
	bottom:0;
	font-family: 'Marck Script', cursive;
	color:white;
	font-size: 4.5em;
    font-style: italic;
    text-shadow:1px 1px 1px black;
}

.content .offset-left {
	margin-left: 55%;
}

/* Contact page */
.contacts-content {
	padding-left: 4.013377%;
}

.offset-span {
	padding-left:33px;
}

/* Service page */
.services-index-content .service-column {
	display:inline-block;
	width:50%; /* 373px */
	text-align: center;
}

.services-index-content .right-column {
	float:right;
}

.services-index-content .service-box {
	display:flex;
	justify-content: center;
	align-items: center;
	width: 83.109919571%; /* 310px */
	min-width:220px;
	height: 225px;
	margin:4.25% auto;
	border-radius: 10px;
	color:white;
	text-shadow:1px 1px 0 black;
	cursor:pointer;
}

.services-index-content .fasad {
	background-image:url("../img/fasad_btn_bg_inactive.png");
	background-repeat: no-repeat;
	background-position: center;
  background-size:cover;
}

.services-index-content .fasad:hover {
	background-image:url("../img/fasad_btn_bg_active.png");
	background-repeat: no-repeat;
	background-position: center;
  background-size:cover;
}

.services-index-content .interrior {
	background-image:url("../img/interrior_btn_bg_inactive.png");
	background-repeat: no-repeat;
	background-position: center;
  background-size:cover;
}

.services-index-content .interrior:hover {
	background-image:url("../img/interrior_btn_bg_active.png");
	background-repeat: no-repeat;
	background-position: center;
  background-size:cover;
}

.services-index-content .restoration {
	background-image:url("../img/restoration_btn_bg_inactive.png");
	background-repeat: no-repeat;
	background-position: center;
  background-size:cover;
}

.services-index-content .restoration:hover {
	background-image:url("../img/restoration_btn_bg_active.png");
	background-repeat: no-repeat;
	background-position: center;
  background-size:cover;
}

.services-index-content .rospis {
	background-image:url("../img/rospis_btn_bg_inactive.png");
	background-repeat: no-repeat;
	background-position: center;
  background-size:cover;
}

.services-index-content .rospis:hover {
	background-image:url("../img/rospis_btn_bg_active.png");
	background-repeat: no-repeat;
	background-position: center;
  background-size:cover;
}

.services-index-content .design {
	background-image:url("../img/design_btn_bg_inactive.png");
	background-repeat: no-repeat;
	background-position: center;
  background-size:cover;
}

.services-index-content .design:hover {
	background-image:url("../img/design_btn_bg_active.png");
	background-repeat: no-repeat;
	background-position: center;
  background-size:cover;
}

.services-index-content .sculpture {
	background-image:url("../img/sculpture_btn_bg_inactive.png");
	background-repeat: no-repeat;
	background-position: center;
  background-size:cover;
}

.services-index-content .sculpture:hover {
	background-image:url("../img/sculpture_btn_bg_active.png");
	background-repeat: no-repeat;
	background-position: center;
  background-size:cover;
}

/* Services inner page */
.services-details-content h3 {
	text-align: center;
	font-size: 1.375em; /* 22px */
}

.services-details-content .column-header {
	color:black;
	font-weight: bold;
	font-size:1.5625em;
}

.services-details-content ul {
	margin-bottom: 20px;
	list-style-type: none;
	font-weight: bold;
	font-size:1.1em;
}

.services-details-content .active {
	color: #383c3d;
}

.row {
	width:100%;	/* */
}

/* parent 746px */
.services-details-content .left-column {
	display:inline-block;
	width : 37.5335120643%; /* 280px */
	text-indent: 10.7142857142%; /* 30px */
}

/* parent 746px */
.services-details-content .right-column {
	float:right;
	display: inline-block;
	width:61.3941018766%; /* 458px */
	font-size:0.85em;
}

.services-details-content .photos-container {
	border-radius: 10px;
	width: 84.7161572052%; /* 436px */
	padding:5.24017467248%;
	background:#606361;
}

.services-details-content .large-photo-container {
	border-radius: 10px;
	background:black;
	width: 73.119266055%; /* 297px */
	height: 348px;
	display:inline-block;
	cursor:pointer;

	background-image: url("../img/example_photo_big.png") ; /* TEMPORARY IMAGE*/
	background-repeat: no-repeat;
	background-position: center;
}

.services-details-content .slider-container {
	width: 17.4311926605%; /* 76px */
	height:383px;
	display: inline-block;
	float:right;
	margin-top:-5.24017467248%;
}

.services-details-content .arrow-up {
	background-image:url("../img/arrow-up.png");
	background-repeat: no-repeat;
	background-position: center;
	height:15px;
	cursor:pointer;
}

.services-details-content .arrow-down {
	background-image:url("../img/arrow-down.png");
	background-repeat: no-repeat;
	background-position: center;
	height:15px;
	cursor:pointer;
}

.services-details-content .slide {
	width:75px;
	height:65px;
	background:black;
	border-radius: 10px;
	cursor:pointer;

	background-image: url("../img/example_photo_small.png") ; /* TEMPORARY IMAGE*/
	background-repeat: no-repeat;
	background-position: center;
}

.services-details-content .slider-container div {
	margin: 5px 0;
}

.services-details-content .slide-description {
	width:67%;
	margin-top:10px;
	border-radius: 10px;
	border:2px solid white;
	padding:3%;
}

.services-details-content .info-container {
	margin-top:20px;
	border-radius: 10px;
	width: 84.7161572052%; /* 436px */
	padding:5.24017467248%;
	background:#606361;
}

/* Gallery index page */
.gallery-index-content {
	font-size:0.9em;
}

.gallery-index-content .header {
	margin:10px;
	text-align: center;
	font-weight: bold;
	color:#0b0c10;
}

.gallery-index-content .image {
	display: inline-block;
	float:left;
	border-radius: 10px;
	background:black;
	width:30%;
	margin:1.5%;
	height:160px;
	position:relative;
	cursor:pointer;
}

.gallery-index-content .image .description {
	position:absolute;
	border-radius: 10px;
	text-align: center;
	background:#545b59;
	bottom:5px;
	margin:0 2.5%;
	width:95%;
	font-size:0.8em;
	color:#0b0c10;
	font-weight: bold;
}

/* Gallery inner page */
.gallery-inner-content {

}

.gallery-inner-content .header {
	position:relative;
	margin:10px;
	color:#0b0c10;
	font-size:0.8em;
	font-weight: bold;
	text-align: center;
}

.gallery-inner-content .close-button {
	position:absolute;
	right:0;
	top:-6px;
	background-image:url("../img/close_button.png");
	background-repeat: no-repeat;
	background-position: center;
	width:30px;
	height:30px;
	cursor:pointer;
}

.gallery-inner-content .slider-container {
	width:100%;
}

.gallery-inner-content .slider-container .left {
	width:7.5%;
	height:475px;
	display:inline-block;
	background-image:url("../img/arrow-left.png");
	background-repeat: no-repeat;
	background-position-x:right;
	background-position-y:center;
	float:left;
	cursor:pointer;
}

.gallery-inner-content .slider-container .right {
	width:7.5%;
	height:475px;
	display:inline-block;
	background-image:url("../img/arrow-right.png");
	background-repeat: no-repeat;
	background-position-x:left;
	background-position-y:center;
	float:right;
	cursor:pointer;
}

.gallery-inner-content .slider-container .image {
	width:83%;
	height:475px;
	margin:auto;
	background-image:url("../img/gallery_example_photo_big.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}

.gallery-inner-content .description {
	margin:30px 0;
	color:#0b0c10;
	text-indent: 7.5%;
	font-size:0.8em;
	font-weight: bold;
}

/* Order content*/
.order-content {
  width:47.16666666666% !important;
  margin-left: 15% !important;
}

.order-content form {
  margin:0 20px;
}

.order-content .row {
  margin-top:10px;
}

.order-content .order-container {
  margin:20px;
}

.order-content .right {
  display:inline-block;
  float:right;
  height:20px;
}

.order-content .center {
  text-align:center;
}

.order-content .header {
  margin-bottom:30px;
}

.order-content input {
  border-radius:5px;
  width:50%;
}

.order-content hr.separator {
  width:100%;
  margin:20px 0;
}

.order-content textarea {
  width:100%;
  border-radius: 5px;
}

.order-content .nice-button {
  width:60%;
  margin:20px 0;
  height:30px;
  font-size: 1em;
  color: #8a8484;
}

.order-content .file {
  margin:10px auto;
  text-align: center;
  overflow: hidden;
  width: 40%;
  height: 20px;
  background-color: #d6d6d6;
  border-radius:5px;
}

.order-content .file div {
  line-height:20px;
  color: #8a8484;
  font-size: 0.8em;
}

.order-content .selected-file {
  width:40%;
}


/* FOOTER */
footer {
	background: rgba(0,0,0,0.4);
	border-top:3px solid white;
	width:95.833333333%;
	margin:auto;
	color:white;
	font-size: 1.1875em;
	text-align: center;
	padding:20px;
	text-shadow: 1px 1px 0 black;
}

footer span {
	margin: 0 30px;
}
