@import "config.scss";

body {
	background-color: #ECECEC;
}

.calendar, .addCalendar {
	position: relative;
	background: url(../images/calendar.png) no-repeat center left;
	padding-left: 45px;
	box-sizing: border-box;
	margin-bottom: 40px;
	box-sizing: border-box;

	&>.defaultValue {
		border-bottom: 1px solid grey;
		background: url(../images/caretCalendar.png) no-repeat center right 5px;
		cursor: pointer;
		padding-right: 15px;
		box-sizing: border-box;

		&>p {
			text-align: left;
			color: #262626;
			font: 400 14px / 20px Roboto;
		}
	}

	&>.listValue {
		display: none;
	}
}

header {
  height: 70px;
  box-shadow: $boxShadow;
  background-color: $blue;
}

.btn-blue, .btn-grey {
    position:relative;
    display:inline-block;
    overflow: hidden;
	border-radius: 5px;
	box-shadow: $boxShadow;
	cursor: pointer;
	text-align: center;
}

.btn-grey {
	background-color: #D8D8D8;
	color: #868686;
	font: 400 14px / 21px Roboto;
}

.container {
	width: 1280px;
	position: relative;
	margin: 0 auto;
}

.ink {
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 100%;
	transform: scale(0);
}

.ink.animate {
	animation: ripple .5s ease-in;
}

@keyframes ripple {
	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}

.headLeft {
	padding-top: 5px;
	display: inline-block;
	width: calc(100% - 490px);
	height: 70px;
	box-sizing: border-box;

	&>.logo {
		cursor: pointer;
		border-radius: 50%;
		float: left;
		height: 60px;
		width: 60px;
		background: url(../images/logo.png) no-repeat;
		margin-left: 15px;
	}

	&>.dropDown {
		position: absolute;
		top: 45px;
		left: 95px;
		max-height: 190px;
		min-width: 215px;
		overflow: auto;
		box-shadow: $boxShadow;
		background-color: $white;
		z-index: 1;

		&>p {
			color: #333333;
			font: 400 14px / 40px Roboto;
			padding-left: 15px;
			transition: all .25s;
			cursor: pointer;

			&:hover {
				background-color: #EBEBEB;
			}
		}
	}

	&>.inputForm {
		margin-top: 21px;
		margin-left: 20px;
		float: left;
		border-color: $white;
		box-sizing: border-box;
		height: auto;
		width: 200px;
		border-bottom: 1px solid $white;

		&>label, input {
			color: #ffffff;
			font: 400 14px Roboto;
		}
	}

	&>.selectBox {
		float: left;
		margin-top: 21px;
		margin-left: 20px;

		&>.defaultValue {
			background: none;
			padding: 0 5px;
		}
	}

	&>.add {
		cursor: pointer;
		float: right;
		height: 35px;
		width: 200px;
		margin-right: 20px;
		margin-top: 10px;
		background: url(../images/add.png) no-repeat center right 10px;
		padding-left: 10px;
		text-align: left;
		box-shadow: 0px 2px 4px 0.00px rgba(0, 0, 0, 0.4);
		border: 1px solid white;
		transition: all .15s;

		&>p {
			color: #ffffff;
			font: 400 14px / 35px Roboto;
		}
	}
}

.headRight {
	float: right;
	width: 490px;
	height: 70px;
	border-left: 1px solid grey;
	box-sizing: border-box;
	padding-top: 22px;

	&>.mail {
		height: 26px;
		width: 33px;
		cursor: pointer;
		position: relative;
		float: left;
		background: url(../images/mail.png) no-repeat center center;
		margin-left: 20px;
		transition: all .25s;

		&>p {
			color: #ffffff;
			font: 400 10px / 15px Roboto;
			position: absolute;
			bottom: -3px;
			left: 32px;
			cursor: default;
		}

		&>.chooseYourStyle {
			background-color: #ffffff;
			height: 90px;
			width: 200px;
			box-shadow: $boxShadow;
			position: absolute;
			top: 35px;
			left: 50%;
			margin-left: -100px;
			z-index: 1;

			&>p {
				color: #333333;
				font: 400 14px / 45px Roboto;
				padding-left: 15px;
				transition: all .25s;

				&:hover {
					cursor: pointer;
					background-color: #EBEBEB;
				}
			}
		}

		&:hover {
			background: url(../images/mail_shadow.png) no-repeat center center;
		}
	}

	&>.bell {
		height: 24px;
		width: 23px;
		cursor: pointer;
		position: relative;
		display: inline-block;
		float: left;
		margin-left: 30px;
		background: url(../images/bell.png) no-repeat center center;
		border-radius: 15px 0 15px 10px;
		transition: all .25s;

		&>p {
			color: #ffffff;
			font: 400 10px / 15px Roboto;
			position: absolute;
			bottom: -7px;
			left: 22px;
			cursor: default;
		}

		&:hover {
			background: url(../images/bell_shadow.png) no-repeat center center;
		}
	}

	&>.services {
		height: 27px;
		width: 28px;
		cursor: pointer;
		float: right;
		margin-right: 30px;
		background: url(../images/services.png) no-repeat center center;
		transition: all .25s;
		position: relative;

		&:hover {
			background: url(../images/services_shadow.png) no-repeat center center;
		}

		&>.vidgets {
			position: absolute;
			height: 244px;
			width: 327px;
			background: url(../images/backgroundVidgets.png) no-repeat center center;
			top: 26px;
			right: -20px;
			z-index: 1;
			cursor: default;
			padding: 20px 30px;
			box-sizing: border-box;

			&>h2 {
				color: #212121;
				font: 700 18px Roboto;
				text-align: center;
				margin-bottom: 25px;
			}

			&>a {
				height: 65px;
				margin-left: 30px;
				float: left;
				color: #546e7a;
				font: 400 14px Roboto;
				position: relative;
				margin-bottom: 25px;

				&>p {
					position: absolute;
					bottom: 0;
				}

				&:nth-of-type(1) {
					margin-left: 0;
					background: url(../images/rypr.png) no-repeat top center;
					width: 80px;
				}

				&:nth-of-type(2) {
					background: url(../images/tender.png) no-repeat top center;
					width: 60px;
					opacity: 0.5;
					cursor: not-allowed;
				}

				&:nth-of-type(3) {
					background: url(../images/frilans.png) no-repeat top center;
					width: 60px;
					opacity: 0.5;
					cursor: not-allowed;
				}

				&:nth-of-type(4) {
					margin-left: 0;
					background: url(../images/tehnologii.png) no-repeat top center;
					width: 75px;
					opacity: 0.5;
					cursor: not-allowed;
				}

				&:nth-of-type(5) {
					background: url(../images/rabota.png) no-repeat top center;
					width: 50px;
					margin-left: 43px;
					opacity: 0.5;
					cursor: not-allowed;
				}

				&:nth-of-type(6) {
					background: url(../images/proekti.png) no-repeat top center;
					width: 60px;
					margin-left: 36px;
					opacity: 0.5;
					cursor: not-allowed;
				}
			}
		}
	}

	&>.userName {
		float: right;
		margin-right: 25px;
		background: url(../images/userName.png) no-repeat center left;
		padding-left: 30px;
		max-width: 270px;
		position: relative;

		&>p {
			color: #ffffff;
			font: 400 14px / 27px Roboto;
			cursor: pointer;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&>div {
			background-color: $white;
			box-shadow: $boxShadow;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
			right: 0;

			&>p {
				cursor: pointer;
				padding: 0 15px;
				width: 220px;
				font: 400 16px / 50px Roboto;
				transition: all .25s;
				box-sizing: border-box;
				transition: all .25s;

				&:hover {
					background-color: #eeeeee;
				}
			}
		}
	}

	&>.auth {
		color: white;
		float: right;
		margin-right: 20px;
		font: 400 14px / 26px Roboto;

		span {
			cursor: pointer;
			margin: 0 10px;
		}
	}
}

.inputSearch {
	position: relative;
	display: inline-block;
	margin-top: 10px;
	border-bottom: 1px solid white;

	&>input {
		border: none;
		padding:2px 0;
		background-color: transparent;
		outline: none;
		color: #ffffff;
		font: 400 14px / 21px Roboto;
	}

	&>label {
		position: absolute;
		top: 0;
		left: 0;
		color: #ffffff;
		font: 400 14px / 21px Roboto;
		cursor: text;
		transition: .5s;
	}
}

.selectBox {
	position: relative;
	display: inline-block;
	cursor: pointer;

	&>.defaultValue {
		color: #ffffff;
		font: 400 14px / 19px Roboto;
		overflow: hidden;
		border-bottom: 1px solid white;
		background: url(../images/caretCalendar.png) no-repeat center right 5px;
		padding-right: 20px;
		box-sizing: border-box;

		span {
			font-size:16px;
		}
	}

	&>.listOfValues {
		position: absolute;
		top: 0;
		left: 0;
		background-color: white;
		z-index: 1;
		box-shadow: $boxShadow;
		animation: animatetop .25s;

		&>div {
			cursor: pointer;
			padding: 0 15px;
			height: 50px;
			width: 120px;
			font: 400 16px / 50px Roboto;
			transition: all .25s;

			&:hover {
				background-color: rgb(238,238,238);
			}
		}
	}
}

@keyframes animatetop {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


aside.bulletinDetails {
	float: right;
	margin-top: 5px;
}

section.openAdvertert {
	background-color: white;
	float: right;
	margin-right: 10px;
	box-shadow: $boxShadow;
	width: 715px;
	padding: 25px 100px 45px;
	box-sizing: border-box;
	margin-top: 5px;

	&>h3 {
		color: #202020;
		font: 400 22px / 26px Roboto;
		float: left;
	}

	&>.price {
		color: #1f1f1f;
		font: 400 18px / 26px Roboto;
		float: right;
	}

	&>.checkBox {
		float: right;
		margin-right: 15px;
		margin-top: -1px;
	}

	&>.breadCrumbs {
		color: rgba(31, 31, 31, 0.54);
		font: 400 12px / 14px Roboto;
		float: left;
		margin-top: 10px;
		cursor: default;
	}

	&>.id {
		color: rgba(32, 32, 32, 0.54);
		font: 400 12px / 14px Roboto;
		float: right;
		cursor: default;
		margin-top: 10px;
	}

	&> .slider {
		height: 120px;
		position: relative;
		margin-top: 10px;
		float: left;
		width: 100%;
		margin-bottom: 10px;

		&>div {
			float: left;
			margin-left: 10px;
			height: 100%;
			width: 165px;

			&:nth-of-type(1) {
				margin: 0;
			}

			&>img {
				object-fit: contain;
				width: 100%;
				background-color: #F4F4F4;
				height: 100%;
				cursor: pointer;
			}
		}


		&>.next {
			position: absolute;
			background: url(../images/next.png) no-repeat left center;
			height: 14px;
			width: 10px;
			cursor: pointer;
			top: 50%;
			margin-top: -7px;
			right: -25px;
		}

		&>.prev {
			position: absolute;
			background: url(../images/prev.png) no-repeat right center;
			height: 14px;
			width: 10px;
			cursor: pointer;
			top: 50%;
			margin-top: -7px;
			left: -25px;
		}
	}

	&>div.buyProduct {

		&>#mapForOneAdvertert {
			float: left;
			height: 230px;
			width: 225px;
			margin-bottom: 25px;
		}

		&>.descriptionAd {
			color: #0c0c1e;
			font: 400 12px / 18px Roboto;
			margin-top: 15px;
			margin-bottom: 20px;
		}

		&>.goToMap {
			color: #1976d2;
			font: 400 14px / 21px Roboto;
			cursor: pointer;
			float: left;
		}

		&>.allComments {
			color: #1976d2;
			font: 400 14px / 21px Roboto;
			cursor: pointer;
			float: right;
			margin-right: 50px;
		}

		&>.writeAReview {
			color: #1976d2;
			font: 400 14px / 21px Roboto;
			cursor: pointer;
			float: right;
		}

		&>.nameUser {
			color: #1976d2;
			font: 400 14px / 18px Roboto;
			float: left;
			margin-left: 20px;
			cursor: default;
			margin-bottom: 35px;

		}

		&>.onOrOffLineUser {
			float: left;
		}

		.btn-grey {
			float: right;
			height: 35px;
			width: 140px;
			margin-right: 25px;
			line-height: 35px;
		}

		.btn-blue {
			float: right;
			height: 35px;
			width: 180px;
			line-height: 35px;
		}
	}

	&>.rentProduct {
		margin-top: 45px;

		&>.rentCalendar {
			margin-bottom: 45px;

			&>p {
				color: #263238;
				font: 400 16px / 21px Roboto;
				float: left;
				cursor: default;

				&:nth-of-type(2) {
					margin-left: 55px;
				}
			}

			&>.calendar {
				float: left;
				margin-left: 45px;
				width: 165px;
				margin-bottom: 0;

				&>.defaultValue {

				}
			}
		}

		&>.inputForm  {
			color: #9a9a9a;
			margin-bottom: 40px;
		}

		&>.btn-blue {
			box-shadow: 0px 2px 4px 0.00px rgba(0, 0, 0, 0.4);
			height: 35px;
			width: 180px;
			line-height: 35px;
			float: right;
		}
	}
}

.wrapForDiv {
	width: 265px;
	float: right;
	overflow: hidden;
	margin-bottom: 25px;
	border: 1px solid #E9E9E9;
	box-sizing: border-box;

	&>ul.tab {
		list-style-type: none;
		height: 50px;
		background-color: white;
		border-bottom: 1px solid #E9E9E9;
		box-sizing: border-box;

		&>li {
			float: left;

			&>a {
				color: #939393;
				font: 400 14px / 50px Roboto;
				display: block;
				transition: all .25s;
				text-align: center;
				position: relative;

				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					width: 0;
					height: 2px;
					background-color: #FD5151;
					transition: all .25s;
				}

//					&:hover {
//						background-color: #ddd;
//					}

				&:focus,
				&.active {
					color: #7eafe1;

					&:after {
						width: 100%;
					}
				}
			}

			&:nth-of-type(1) {
				&>a {
					width: 159px;

					&:after {
						right: 0;
					}
				}
			}

			&:nth-of-type(2) {
				&>a {
					width: 104px;

					&:after {
						left: 0;
					}
				}
			}
		}
	}

	&>.featuresAndReviews {
		height: 178px;
		width: 282px;
		background-color: #F4F4F4;
		overflow: auto;
		box-sizing: border-box;

		&>.tabcontent {
			display: none;
			-webkit-animation: fadeEffect 1s;
			animation: fadeEffect 1s;

			&.active {
				display: block;
			}
		}

		&>#reviews {
			position: relative;

			&>div {
				padding: 30px 20px 25px 65px;
				position: relative;
				border-bottom: 1px solid #E9E9E9;

				&:nth-last-of-type(1) {
					border: none;
				}

				&>img {
					position: absolute;
					height: 30px;
					width: 25px;
					top: 35px;
					left: 20px;
				}

				&>p {
					color: #0d0d1e;
					font: 400 12px / 18px Roboto;
				}
			}
		}
	}
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.btn-blue {
	background-color: $blue;
	color: #ffffff;
	font: 400 14px / 21px Roboto;
}

.onOrOffLineUser {
	background-color: #00C652;
	border: 1px solid white;
	box-shadow: 1px 1px 3px 0.00px rgba(0, 0, 0, 0.65);
	height: 18px;
	width: 18px;
	box-sizing: border-box;
	border-radius: 50%;
}

.error-container {
    width:1103px;
    margin:auto;

    background-image: url('../images/error_bg.png');
    background-repeat:no-repeat;
    background-position-x:right;
    background-position-y:80px;

    min-height:500px;

    h1 {
        color: #1f1f1f;
        font: 400 22px / 26.4px Roboto;
        text-align: center;
        margin-top:65px;
    }

    h2 {
        color: #1f1f1f;
        font: 400 22px / 26.4px Roboto;
        margin-top:189px;
    }

    h3 {
        color:rgba(31, 31, 31, 0.54);
        font:400 12px / 14.4px Roboto;
        margin-top:10px;
        margin-bottom:30px;
    }

	&>.btn-blue{
		box-shadow: 0px 2px 4px 0.00px rgba(0, 0, 0, 0.4);
		height: 35px;
		width: 180px;
		line-height: 35px;
	}
}

.clicked {
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4) !important;
	margin-top: 12px !important;
}

.multiple {
	width: 1150px;
	margin: 5px auto 0;

	&>.bulletin-short {
		float: left;
		width: 380px;
		margin-left: 5px;
		height: 165px;
		padding: 15px;

		&:nth-of-type(3n-2) {
			margin-left: 0;
		}

		&:nth-of-type(1) {
			background-color: #BCE6E9;
		}

		&:nth-of-type(2) {
			background-color: #BCE6E9;
		}

		&:nth-of-type(3) {
			background-color: #BCE6E9;
		}

		&>.bulletin-center-column {
			float: none;
			margin: 0;
			position: absolute;
			top: 15px;
			right: 110px;

			&>.bulletin-action {
				bottom: -43px;
				width: 110px;
				right: -30px;
				z-index: 1;
			}
		}

		&>.bulletin-left-column {

			&>.bulletin-description {
				color: #0c0c1e;
				font: 400 12px / 18px Roboto;
				width: 170px;
				overflow: hidden;
				height: 40px;
			}
		}
	}
}

.red {
	background-color: #F74A4A;
}

.inputForm-required{
    position: relative;
    padding: 6px 2px;
    font: 400 16px / 24.8px Roboto;
    box-sizing: border-box;
    border-bottom: 1px solid #9b9b9b;
    margin-top: 15px;
    label{
        position: absolute;
        left:2px;
        top:6px;
        color: $input-placeholder-color;
				transition: all .25s;
    }
    input, textarea{
        border: none;
        outline: none;
        width:100%;
        background-color: transparent;
    }

    textarea{
        resize: none;
    }
}

.inputForm.required {
	border-bottom: 1px solid #9b9b9b;
}

.inputForm{
    position: relative;
    font: 400 16px Roboto;
    box-sizing: border-box;
	border-bottom: 1px dotted #999999;

    label{
        position: absolute;
        left: 5px;
        color: $input-placeholder-color;
		transition: all .25s;
		top: -1px;
    }

    input, textarea{
        border: none;
        outline: none;
        width:100%;
        background-color: transparent;
		position: relative;
		padding: 1px 5px;
    }
    
    textarea{
        resize: none;
    }
}

/* Text element animation */
.textOut {
	top: -15px !important;
	font-size: 12px !important;
	left: 5px !important;
}

section.login, section.register {
	background-color: $white;
	box-shadow: $boxShadow;
	padding: 65px 230px;
	width: 1100px;
	margin: 5px auto 0;
	box-sizing: border-box;

	&>h2 {
		text-align: center;
		color: #202020;
		font: 400 22px Roboto;
		margin-bottom: 55px;
	}

	&>.inputForm {
		margin-bottom: 45px;

		&>label, input {
			color: #9a9a9a;
			font: 400 16px Roboto;
		}
	}

	&>.btn-blue {
		height: 35px;
		width: 180px;
		margin-left: 45px;
		line-height: 35px;

		&.vk {
			background: #0186CF url(../images/vk.png) no-repeat center left 10px;
			margin-left: 0;
		}

		&.facebook {
			background: #3E50B3 url(../images/facebook.png) no-repeat center left 10px;
		}

		&.google {
			background: #FD3C00 url(../images/google.png) no-repeat center left 10px;
		}
	}
}

section.bulletinAdd {
	box-shadow: $boxShadow;
	background-color: $white;
	width: 1100px;
	margin: 5px auto 0;
	padding: 65px 225px;
	box-sizing: border-box;

	&>h2 {
		color: #1f1f1f;
		font: 400 22px Roboto;
		text-align: center;
		margin-bottom: 40px;
	}

	&>.selectBox {
		margin-bottom: 45px;
		margin-top: 15px;

		&>.defaultValue {
			border-color: grey;
			min-width: 195px;
			color: #9e9e9e;
			font: 400 16px Roboto;
			padding-left: 5px;
		}
	}

	&>.file {
		float: right;
		position: relative;
		background-color: $white;
		border-bottom: 1px solid #9e9e9e;
		width: 410px;
		padding-bottom: 5px;

		&>input {
			position: absolute;
			z-index: -1;
		}

		&>p {
			color: #9e9e9e;
			font: 400 16px Roboto;
			cursor: default;
			float: left;
			padding-top: 10px;
		}

		&>.btn-blue {
			float: right;
			box-shadow: 0px 2px 4px 0.00px rgba(0, 0, 0, 0.4);
			height: 30px;
			width: 85px;
			line-height: 30px;
		}
	}

	&>.inputForm {
		margin-bottom: 45px;

		&>label, input {
			color: #999999;
			font: 400 16px Roboto;
		}
	}

	&>.color {
		margin-bottom: 40px;

		&>p {
			color: #999999;
			font: 400 16px Roboto;
			border-bottom: 1px dotted #999999;
			width: 160px;
			float: left;
			height: 21px;
			box-sizing: border-box;
		}

		&>div {
			float: left;
			margin-left: 19px;
			margin-top: 3px;
			width: 16px;
			height: 15px;
			cursor: pointer;
			box-sizing: border-box;
			outline: 1px solid transparent;
			border: 1px solid white;

			&.transparent {
				border-color: #E9E9E9;
				overflow: hidden;

				&>.redStick {
					transform: rotate(-43deg);
					background-color: red;
					height: 2px;
					margin-top: 5.5px;
					width: 20px;
					margin-left: -3px;
				}
			}

			&.red {
				background-color: red;
			}

			&.orange {
				background-color: orange;
			}

			&.yellow {
				background-color: yellow;
			}

			&.green {
				background-color: green;
			}

			&.lightBlue {
				background-color: lightBlue;
			}

			&.blue {
				background-color: blue;
			}

			&.pink {
				background-color: pink;
			}

			&.purple {
				background-color: purple;
			}

			&.white {
				background-color: white;
				border-color: #E9E9E9;
			}

			&.gray {
				background-color: gray;
			}

			&.black {
				background-color: black;
			}

			&.brown {
				background-color: brown;
			}

			&.multicolor {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0000+0,ffff00+20,1dff00+40,00ffff+60,0400ff+80,ff00fa+100 */
				background: #ff0000; /* Old browsers */
				background: -moz-linear-gradient(left,  #ff0000 0%, #ffff00 20%, #1dff00 40%, #00ffff 60%, #0400ff 80%, #ff00fa 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left,  #ff0000 0%,#ffff00 20%,#1dff00 40%,#00ffff 60%,#0400ff 80%,#ff00fa 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right,  #ff0000 0%,#ffff00 20%,#1dff00 40%,#00ffff 60%,#0400ff 80%,#ff00fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff00fa',GradientType=1 ); /* IE6-9 */
			}

			&.active {
				outline-color: red;
			}
		}
	}

	&>.calendar, .addCalendar {
		width: 230px;
	}

	&>.addCalendar {
		background-image: url(../images/addCalendar.png);

		&>.defaultValue {
			border-bottom-color: blue;
			background: none;

			&>p {
				color: #1976d2;
				font-size: 16px;
			}
		}
	}

	&>.btn-blue {
		height: 35px;
		width: 180px;
		line-height: 35px;
		display: block;
		margin: 0 auto;
	}
}

.errors {
	position: absolute;
	font: 400 12px / 14px Roboto;
	color: rgb(221,44,0);
	bottom: -17px;
}

nav {
	width: 255px;
	float: left;
	background-color: $white;
	box-shadow: $boxShadow;
	margin-top: 5px;
	z-index: 2;
	position: absolute;

	.map {
		height: 145px;
		width: 255px;
	}

	&>ul {
		list-style: none;

		&>li {
			position: relative;

			&>p {
				padding-left: 75px;
				color: #263238;
				font: 500 13px / 40px Roboto;
				background: url(../images/caretRightNav.png) no-repeat center right 20px;
				cursor: pointer;
			}

			&:hover {
				background-color: #E6E6E6 !important;
			}

			&.childsWorld {
				background: url(../images/ForChildren.png) no-repeat left 25px center;
			}

			&.animals {
				background: url(../images/ForAnimals.png) no-repeat left 25px center;
			}

			&.job {
				background: url(../images/Business.png) no-repeat left 25px center;
			}

			&.theProperty {
				background: url(../images/TheProperty.png) no-repeat left 25px center;
			}

			&.transport {
				background: url(../images/Transport.png) no-repeat left 25px center;
			}

			&.fashionAndStyle {
				background: url(../images/ClothingAndCosmetics.png) no-repeat left 25px center;
			}

			&.helpWanted {
				background: url(../images/Volunteering.png) no-repeat left 25px center;
			}

			&.aHouseAndAGarden {
				background: url(../images/AHouseAndAGarden.png) no-repeat left 25px center;
			}

			&.hobbiesAndSports {
				background: url(../images/HobbiesAndSports.png) no-repeat left 25px center;
			}

			&.electronics {
				background: url(../images/Technologies.png) no-repeat left 25px center;
			}

			&.businessAndServices {
				background: url(../images/businessAndServices.png) no-repeat left 25px center;
			}

			&>ul {
				position: absolute;
				top: 0;
				left: 255px;
				background-color: $white;
				list-style-type: none;

				&>li {
					padding-left: 30px;
					color: #263238;
					font: 500 13px / 40px Roboto;
					background: url(../images/caretRightNav.png) no-repeat center right 20px;
					cursor: pointer;
					width: 350px;
					position: relative;

					&:hover {
						background-color: #E6E6E6 !important;
					}
					
					&>ul {
						list-style-type: none;
						position: absolute;
						top: 0;
						left: 380px;
						background-color: $white;
						
						&>li {
							padding-left: 30px;
							color: #263238;
							font: 500 13px / 40px Roboto;
							cursor: pointer;
							white-space: nowrap;
							padding-right: 20px;
							
							&:hover {
								background-color: #E6E6E6 !important;
							}
						}
					}
				}
			}
		}
	}
}

.navBtn {
	width: 43px;
    height: 49px;
    position: absolute;
    left: 0;
    top: 90px;
    cursor: pointer;
    background: url(../images/rupr.png) no-repeat;
    transition: all .25s;
    z-index: 1;

	&:hover {
		width: 60px;
		background-image: url(../images/ruprHover.png);
	}
}

.cover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 5;

	&.hide {
		animation: hide 1s;
	}
}

@keyframes hide {
    100% { background-color: rgba(0, 0, 0, 0) }
}

section.mail {
	background-color: $white;
	box-shadow: $boxShadow;
	width: 1105px;
	margin: 5px auto 10px;
	padding: 45px 0 80px;

	&>.tab {
		width: 905px;
		border: 1px solid #E9E9E9;
		border-bottom: none;
		margin: 0 auto;
		background-color: #F4F4F4;

		&>ul {
			background-color: $white;
			list-style: none;
			border-bottom: 1px solid #E9E9E9;
			height: 50px;
			box-sizing: border-box;

			&>li {
				color: #9e9e9e;
				font: 400 14px / 50px Roboto;
				cursor: pointer;
				text-align: center;
				float: left;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					display: block;
					height: 2px;
					width: 0;
					background-color: #FD5151;
					transition: all .25s;
				}

				&.active {
					color: #7eafe1;

					&:after {
						width: 100%;
						left: 0;
					}
				}

				&:nth-of-type(1) {
					width: 110px;
				}

				&:nth-of-type(2) {
					width: 215px;
				}

				&:nth-of-type(3) {
					padding: 0 15px;
				}
			}
		}

		&>.mailTab {
			display: none;

			&>.tavleTitle {
				height: 65px;
				padding-top: 35px;
				box-sizing: border-box;
				border-bottom: 1px solid #999999;

				&>p {
					color: #9e9e9e;
					font: 400 14px / 20px Roboto;
					float: left;
					margin-left: 30px;
					cursor: default;

					&:nth-of-type(2) {
						margin-left: 45px;
					}
				}

				&>.selectBox {
					float: left;
					margin-left: 45px;

					&>.defaultValue {
						color: #9e9e9e;
						font: 400 16px Roboto;
						border-color: #999999;
						width: 195px;
					}

					&:nth-of-type(2) {
						margin-left: 10px;
					}
				}
			}

			&>.table {

				&>.tr {
					border-bottom: 1px solid #999999;
					padding: 10px 0;
					@include clearfix;
					position: relative;

					&:nth-of-type(1) {

						&>.td {
							color: #9e9e9e;
							font: 400 13px / 27px Roboto;
							text-align: left;
							cursor: default !important;

							&>.checkBox {
								    position: relative !important;
									margin-top: 0 !important;
									margin-left: 30px;
									left: 0 !important;
							}

							&>.status {

							}
						}
					}

					&>.td {
						float: left;
						color: #666666;
						font: 400 14px / 18px Roboto;

						&:nth-of-type(1) {
							width: 80px;
							min-height: 1px;

							&>.checkBox {
								left: 30px;
								position: absolute;
								top: 50%;
								margin-top: -13px;
							}
						}

						&:nth-of-type(2) {
							width: 145px;
							min-height: 1px;

							&>.trUser {
								position: absolute;
								top: 50%;
								margin-top: -9px;
							}
						}

						&:nth-of-type(3) {
							width: 310px;
							cursor: pointer;

							&>.preview {
								color: #9e9e9e;
								font: 400 14px Roboto;
								width: 310px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								margin-top: 10px;
							}
						}

						&:nth-of-type(4) {
							width: 105px;
							min-height: 1px;

							&>img {
								position: absolute;
								top: 50%;
								margin-top: -7px;
								left: 555px;
							}
						}

						&:nth-of-type(5) {
							width: 150px;
							min-height: 1px;

							&>.status {
								position: absolute;
								top: 50%;
								margin-top: -9px;
							}
						}

						&:nth-of-type(6) {
							min-height: 1px;

							&>.date {
								position: absolute;
								top: 50%;
								margin-top: -9px;
								left: 790px;
							}
						}
					}
				}
			}
		}

		&>.contactsTab {
			padding: 30px;
			border-bottom: 1px solid #E9E9E9;
			display: none;

			&>.inputForm {
				float: left;
				width: 315px;
				background: url(../images/loopSearcg.png) no-repeat center right 5px;
				margin-bottom: 30px;
			}

			&>.table {

				&>.tr {
					@extend .clearfix;
					margin-bottom: 25px;

					&:nth-of-type(1) {

						&>.td {
							height: auto;

							&>p {
								color: #9e9e9e;
								font: 400 13px Roboto;
								text-align: left;
								cursor: default;
							}

							&:nth-of-type(1) {

								&>p {
									margin-left: 65px;
								}
							}
						}
					}

					&:nth-last-of-type(1) {
						margin-bottom: 0;
					}

					&>.td {
						float: left;
						@extend .clearfix;
						height: 40px;

						&:nth-of-type(1) {
							width: 330px;
						}

						&:nth-of-type(2) {
							width: 410px;
						}

						&>.username {
							color: #666666;
							font: 400 14px / 40px Roboto;
							display: inline-block;
							margin-left: 25px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							width: 260px;
						}

						&>.onOrOffLineUser {
							margin-top: 11px;
						}
					}
				}
			}
		}
	}
}

.date {
	color: #666666;
	font: 400 14px / 40px Roboto;
}

.avatar {
	border-radius: 50%;
	height: 40px;
	width: 40px;
	cursor: pointer;
	background: url(../images/cot.png);
	float: left;
}

.dialog {
	height: 515px;
	position: relative;
	padding-top: 90px;
	box-sizing: border-box;
	overflow: hidden;
	border-bottom: 1px solid #E9E9E9;

	&>.header {
		height: 65px;
		border-bottom: 1px solid #999999;
		box-sizing: border-box;
		padding-top: 15px;
		position: absolute;
		top: 0;
		left: 0;
		width: 905px;

		&>.avatar {
			@extend .avatar;
			margin-left: 25px;
		}

		&>p {
			color: #263238;
			font: 400 14px / 40px Roboto;
			float: left;
			margin-left: 35px;

			&>i {
				color: #9e9e9e;
				font: 400 14px / 40px Roboto;
			}
		}

		&>a {
			color: #1976d2;
			font: 400 14px / 40px Roboto;
			float: left;
			margin-left: 5px;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		&>.date {
			@extend .date;
			float: right;
			margin-right: 10px;
		}
	}

	&>h2 {
		color: #202020;
		font: 400 20px Roboto;
		margin-bottom: 20px;
		margin-left: 80px;
	}

	&>.wrapMessages {
		width: 645px;
		overflow: hidden;
		margin-left: 25px;

		&>.messages {
			width: 662px;
			height: 320px;
    		overflow: auto;

			&>.postInterlocutor {
				@extend .clearfix;
				margin-bottom: 40px;

				&>p {
					float: left;
					color: #0c0c1e;
					font: 400 12px Roboto;
					margin-left: 15px;
					width: 535px;
				}
			}

			&>.yourAnswer {
				@extend .clearfix;
				margin-bottom: 40px;

				&>.avatar {
					background: url(../images/yourAvatar.png);
					float: right;
				}

				&>p {
					color: #0c0c1e;
					font: 400 12px Roboto;
					float: right;
					margin-right: 15px;
					width: 535px;
					text-align: right;
				}
			}
		}
	}

	&>.footer {
		@extend .clearfix;
		position: absolute;
		bottom: 10px;
		left: 25px;
		width: 870px;

		&>.avatar {
			float: left;
			background: url(../images/yourAvatar.png);
		}

		&>.inputForm {
			float: left;
			margin-left: 5px;
			border-bottom: 1px solid $blue;
			width: 610px;
			overflow: hidden;

			&>textarea {
				border: none;
				resize: none;
				background-color: transparent;
				outline: none;
				height: 30px;
				color: #0c0c1e;
				font: 400 12px / 15px Roboto;
				width: 630px;
				padding-right: 50px;
				box-sizing: border-box;
			}

			&>.symbols {
				display: none;
			}
		}

		&>.clip {
			background: url(../images/clip.png) no-repeat center center;
			height: 20px;
			width: 20px;
			position: absolute;
			bottom: 10px;
			right: 220px;
			cursor: pointer;
			z-index: 1;
		}

		&>.btn-blue {
			box-shadow: 0px 2px 4px 0.00px rgba(0, 0, 0, 0.4);
			height: 35px;
			width: 180px;
			line-height: 35px;
			margin-left: 30px;
		}
	}
}

.miniContacts {
	position: absolute;
	background-color: $white;
	height: 390px;
	width: 335px;
	box-shadow: $boxShadow;
	z-index: 1;

	&>.header {
		height: 65px;
		background-color: $blue;
		@extend .clearfix;

		&>.back {
			background: url(../images/back.png) no-repeat center center;
			cursor: pointer;
			height: 25px;
			width: 45px;
			float: left;
			margin-left: 20px;
			margin-top: 20px;
			transition: all .25s;

			&.toContacts {
				background-image: url(../images/toContacts.png);
				height: 30px;
				transition: all .25s;
			}
		}

		&>.close {
			background: url(../images/close.png) no-repeat center center;
			height: 25px;
			width: 25px;
			cursor: pointer;
			float: right;
			margin-right: 20px;
			margin-top: 20px;
		}
	}

	&>.table {
		height: 325px;
		overflow: auto;

		&>.tr {
			@extend .clearfix;
			padding: 15px 0;
			cursor:pointer;

			&>.td {
				float: left;
				height: 40px;
				position: relative;

				&:nth-of-type(1) {
					width: 85px;
				}

				&:nth-of-type(2) {
					width: 180px;
				}

				&>.avatar {
					margin-left: 15px;
				}

				&>.username {
					color: #666666;
					font: 400 14px / 40px Roboto;
					width: 180px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				&>.onOrOffLineUser {
					margin: 10px 15px;
				}
			}
		}
	}

	&>.wrapMessages {
		overflow: hidden;

		&>.messages {
			overflow: auto;
			height: 265px;
			width: 355px;
			padding: 15px 35px 0 15px;
			box-sizing: border-box;

			&>.postInterlocutor {
				@extend .clearfix;
				margin-bottom: 40px;

				&>.avatar {
					float: left;
				}

				&>p {
					margin-left: 15px;
					color: #0c0c1e;
					font: 400 12px Roboto;
					float: left;
					width: 190px;
				}
			}

			&>.yourAnswer {
				@extend .clearfix;
				margin-bottom: 40px;

				&>.avatar {
					background: url(../images/yourAvatar.png);
					float: right;
				}

				&>p {
					margin-right: 15px;
					color: #0c0c1e;
					font: 400 12px Roboto;
					float: right;
					width: 190px;
					text-align: right;
				}
			}
		}

		&>.footer {
			height: 60px;
			border-top: 1px solid #DBDBDB;
			padding: 15px;
			box-sizing: border-box;

			&>.inputForm {
				border-color: $blue !important;
				color: #0c0c1e;
				font: 400 12px Roboto;
				width: 305px;
				overflow: hidden;

				&>.symbols {
					display: none;
				}

				&>textarea {
					border: none;
					outline: none;
					resize: none;
					width: 322px;
					padding-right: 45px;
    				box-sizing: border-box;
				}
			}

			&>.clip {
				background: url(../images/clip.png) no-repeat center center;
				height: 20px;
				width: 20px;
				position: absolute;
				bottom: 15px;
				right: 20px;
				cursor: pointer;
				z-index: 1;
			}
		}
	}
}