//$font-stack:    Helvetica, sans-serif;
$blue: #1875D0;
//$back: red;
//
//body {
//  font: 100% $font-stack;
//  color: $primary-color;
//  background: $back;
//}

body {
	background-color: #ECECEC;
}

header {
  height: 70px;
  box-shadow: 0px 2px 2px 0.00px rgba(0, 0, 0, 0.3);
  background-color: $blue;
}

.btn-blue, .btn-grey {
    position:relative;
    display:inline-block;
    overflow: hidden;
    width:50px;
    height:30px;
}

.container {
	width: 1280px;
	position: relative;
	margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.ink {
	display: block;
	position: absolute;
	background: blue;
	border-radius: 100%;
	transform: scale(0);
}

.ink.animate {
	animation: ripple 0.65s linear;
}

@keyframes ripple {
	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}

.headLeft {
	padding-top: 5px;
	display: inline-block;
	width: calc(100% - 491px);
	height: 70px;
	box-sizing: border-box;
  
	&>.logo {
		cursor: pointer;
		border-radius: 50%;
		float: left;
		height: 60px;
		width: 60px;
		background: url(../images/logo.png) no-repeat;
		float: left;
	}
	
	&>.inputSearch {
		margin-top: 18px;
		margin-left: 20px;
		float: left;
		
		&>input {
			width: 200px;
		}
	}
	
	&>.selectBox {
		float: left;
		margin-top: 20px;
		margin-left: 20px;
	}
}

.headRight {
	float: right;
	width: 490px;
	height: 70px;
	border-left: 1px solid grey;
	
	&>.mail {
		height: 20px;
		width: 30px;
		cursor: pointer;
		position: relative;
		float: left;
		background: url(../images/mail.png) no-repeat;
		margin-top: 25px;
		margin-left: 20px;
		
		&>p {
			color: #ffffff;
			font: 400 10px / 15px Roboto;
			position: absolute;
			bottom: -7px;
			left: 30px;
			cursor: default;
		}
	}
	
	&>.bell {
		height: 20px;
		width: 20px;
		cursor: pointer;
		position: relative;
		display: inline-block;
		float: left;
		margin-top: 25px;
		margin-left: 30px;
		background: url(../images/bell.png) no-repeat center center;
		border-radius: 15px 0 15px 10px;
		
		&>p {
			color: #ffffff;
			font: 400 10px / 15px Roboto;
			position: absolute;
			bottom: -7px;
			left: 20px;
			cursor: default;
		}
	}
}

.inputSearch {
	position: relative;
	display: inline-block;
	margin-top: 10px;
	
	&>input {
		border: none;
		border-bottom: 1px solid white;
		background-color: transparent;
		outline: none;
		color: #ffffff;
		font: 400 14px / 21px Roboto;
	}
	
	&>label {
		position: absolute;
		top: 0;
		left: 0;
		color: #ffffff;
		font: 400 14px / 21px Roboto;
		cursor: text;
	}
}

.selectBox {
	position: relative;
	display: inline-block;
	margin-top: 10px;
	cursor: pointer;
	
	&>.defaultValue {
		color: #ffffff;
		font: 400 14px / 21px Roboto;
		background: url(../images/caretOfSelectBox.png) no-repeat 95% center;
		padding-right: 20px;
		overflow: hidden;
		border-bottom: 1px solid white;
	}
	
	&>.listOfValues {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		background-color: grey;
	}
}