$column_width : 490px;
$header_font_color: #212121;
$decription_font_color: #0d0d1e;
$blue: #1875D0;
$boxShadow: 0px 2px 2px 0.00px rgba(0, 0, 0, 0.3);
$input-placeholder-color:#9a9a9a;
$white: #FDFDFD;