@import "config.scss";

#favourites {
    width: 2*$column_width + 10px;
    margin: 3px auto 0;
    
    .right-column {
    width: $column_width;
    float: right;
    }

    .left-column {
        width: $column_width;
        float: left;
    }
}

.bulletin-short {
	position:relative;
	padding:20px 16px;
	width: $column_width;
	margin-bottom: 7px;
	box-shadow: $boxShadow;
	box-sizing: border-box;
	background-color: white;
	min-height: 165px;
	border: 1px solid transparent;

	&>div {
		display:inline-block;    
	}

	.bulletin-right-column {
		float:right;
		width:90px;
		position: relative;
		
		&>.onOrOffLineUser {
			position: absolute;
			top: 5px;
			left: 10px;
		}
	}

	.bulletin-center-column {
		float:right;
		margin-right: 15px;
	}

	/* Левая колонка */
	h3 {
		margin:0;
		font: 400 20px / 24px Roboto;
		color: $header_font_color;
		width: 206px;
		cursor: pointer;
		transition: all .25s;

		&:hover {
			text-decoration: underline;
			text-decoration-color: gray;
			text-decoration-style: dashed;
		}
	}

	.bulletin-category {
		color: rgba(31, 31, 31, 0.54);
		font: 400 12px / 14.4px Roboto;
		margin-top: 11px;
		margin-bottom: 16px;
	}

	.bulletin-description {
		font: 400 12px / 18.6px Roboto;
		width:254px;
		color: $decription_font_color;
	}

	/* Правая колонка */
	.bulletin-image {
		width:90px;
		height: 91px;
		background: #1875D0 url("../images/bulletin-default.png") ;
	}

	.bulletin-price {
		position:absolute;
		bottom: -54px;
		right: 0;
		color: #202020;
		font: 400 14px / 16.8px Roboto;
	}

	.bulletin-action {
		position:absolute;
		bottom:20px;
		right:117px;
		color: #212121;
		font: 400 14px / 16.8px Roboto;
	}
}

.checkBox {
	width: 25px;
	height: 25px;
	border: 1px solid grey;
	border-radius: 5px;
	cursor: pointer;
	transition: all .25s;
}

.checked {
	background: $blue url(../images/V.png) no-repeat center center;
	border-color: $blue !important;
}

div.exclamationPoint {
	background: url(../images/exclamationPoint.png) no-repeat center center;
	height: 27px;
	width: 27px;
	margin-top: 10px;
}

.dollarBill {
	background: url(../images/dollarBill.png) no-repeat center center;
	height: 27px;
	width: 27px;
	margin-top: 10px;
}

.stock {
	border-color: $blue;
}