$column_width : 490px;
$header_font_color: #212121;
$decription_font_color: #0d0d1e;

#favourites {
    width: 2*$column_width + 10px;
    margin: 3px auto;
    
    .right-column {
    width: $column_width;
    float: right;
    }

    .left-column {
        width: $column_width;
        float: left;
    }
    
    
    
    .bulletin-short {
        position:relative;
        padding:20px 16px;
        width: $column_width;
        margin-bottom: 7px;
        box-shadow: 0px 2px 2px 0.00px rgba(0, 0, 0, 0.3);
        
        &>div {
            display:inline-block;    
        }
        
        .bulletin-right-column {
            float:right;
            width:90px;
            text-align: right;
        }

        .bulletin-center-column {
            float:right;
            text-align: right;
            width:58px;
        }
        
        
        h3 {
            margin:0;
            font: 400 20px / 24px Roboto;
            color: $header_font_color;
            width: 206px;
        }
        
        .bulletin-category {
            color: rgba(31, 31, 31, 0.54);
            font: 400 12px / 14.4px Roboto;
            margin-top: 11px;
            margin-bottom: 16px;
        }
        
        .bulletin-description {
            font: 400 12px / 18.6px Roboto;
            width:254px;
            color: $decription_font_color;
        }
        
        .bulletin-image {
            width:90px;
            height: 91px;
            background: #1875D0 url("../images/bulletin-default.png") ;
        }
        
        .bulletin-price {
            position:absolute;
            bottom:18px;
            right:19px;
            color: #202020;
            font: 400 14px / 16.8px Roboto;
        }
        
    }
}

