<div class="gallery-index-content content-box">
  <div class="header">ГАЛЕРЕЯ ВЫПОЛНЕННЫХ РАБОТ</div>

  <div class="image">
    <div class="description">ОБЪЕКТ 1</div>
  </div>
  <div class="image">
    <div class="description">ОБЪЕКТ 2</div>
  </div>
  <div class="image">
    <div class="description">ОБЪЕКТ 3</div>
  </div>

  <div class="image">
    <div class="description">ОБЪЕКТ 4</div>
  </div>
  <div class="image">
    <div class="description">ОБЪЕКТ 5</div>
  </div>
  <div class="image">
    <div class="description">ОБЪЕКТ 6</div>
  </div>

  <!-- This is used to leave .image divs in the normal flow of the parent div -->
  <div style="clear:both"></div>

</div>
