<section class="editProfile">
	<div class="view-edit-profile">
		<h2>Редактирование профиля</h1>

		<form id="edit-profile-form" class="edit-profile-form clearfix">

			<select-box ng-model="profile.contact.type" items="{{ profile.contactTypes }}"></select-box>

			<div class="edit-profile-form-foto clearfix">
				<input type="file">
				<p>Лого</p>
				<nice-button class="btn-blue" ng-click="">Обзор</nice-button>
			</div>

			<text ng-model="profile.fio" label="ФИО" ng-hide="profile.contact.type === 'LEGAL_ENTITY'"></text>
			<text class="inputForm" ng-model="profile.contact.position" label="Должность" ng-hide="profile.contact.type === 'ENTREPRENEUR' || profile.contact.type === 'LEGAL_ENTITY'"></text>
			<text class="inputForm-required" ng-model="profile.contact.companyName" label="{{(profile.contact.type === 'ENTREPRENEUR' || profile.contact.type === 'LEGAL_ENTITY') && 'Название компании' || 'Место работы'}}"></text>

			<text class="inputForm-required" ng-model="profile.email" label="Основной e-mail"></text>

			<div class="edit-profile-form-contacts-container" ng-repeat="email in profile.contact.contactEmails track by $index">
				<text class="inputForm" label="Контактный email" ng-model="profile.contact.contactEmails[$index]"></text>
				<button ng-style="$first && {'visibility':'hidden'}" ng-click="profile.deleteContacts($event, $index, 'email')"></button>
			</div>

			<text class="inputForm-required" ng-model="profile.mainPhoneNumber" label="Основной телефон"></text>

			<div class="edit-profile-form-contacts-container" ng-repeat="tel in profile.contact.contactPhones track by $index">
				<text class="inputForm" label="Контактный телефон" ng-model="profile.contact.contactPhones[$index]"></text>
				<button ng-style="$first && {'visibility':'hidden'}" ng-click="profile.deleteContacts($event, $index, 'phone')"></button>
			</div>

			<text class="inputForm" ng-model="profile.contact.skypeUserName" label="Skype"></text>

			<div class="social-link-container">
				<div data-social="LINKEDIN" style="background: url('../images/icon-linkedin.png')"></div>
				<div data-social="FACEBOOK" style="background: url('../images/icon-facebook.png')"></div>
				<div data-social="GOOGLEPLUS" style="background: url('../images/icon-google-plus.png')"></div>
				<div data-social="VKONTAKTE" style="background: url('../images/icon-vk.png')"></div>
				<div data-social="TWITTER" style="background: url('../images/icon-twitter.png')"></div>
			</div>

			<div class='clearfix'></div>

			<text class="inputForm" ng-model="profile.contact.linkToWebSite" label="Ссылка на сайт"></text>
			<textarea placeholder="{{(profile.contact.type === 'ENTREPRENEUR' || profile.contact.type === 'LEGAL_ENTITY') && 'О компании' || 'О себе'}}" ng-model="profile.contact.aboutUs"></textarea>

		</form>

		<nice-button class="btn-blue" type="submit" ng-submit="profile.updateProfile($event)">СОХРАНИТЬ</nice-button>

		<form id="uploadFileForm" class="uploadFileForm">
			<input id="uploadFileFormInput" type="file" accept="image/*,image/jpeg" onchange="angular.element(this).scope().uploadFile(this)">
		</form>
	</div>
</section>
