<section class="bulletinAdd" ng-init="badd.init()">
	<h2>Добавить объявление</h2>
	<select-box ng-model="main.hello" items="{{ main.list }}" style="visibility:hidden;"></select-box>
	<div class="file clearfix">
		<input id="uploadFile" type="file">
		<p>Фото (можно несколько)</p>
		<nice-button class="btn-blue" ng-mouseUp="badd.showFileUpload()">ОБЗОР</nice-button>
	</div>
	<select-box ng-model="badd.selectedCountry" items="{{ badd.countries }}"></select-box>
	<select-box ng-model="badd.selectedRegion" items="{{ badd.regions }}"></select-box>
	<select-box ng-model="badd.selectedCity" items="{{ badd.cities }}"></select-box>
	<text class="required" ng-model="main.hello" label="Название" color="blue"></text>
	<text ng-model="main.hello" label="Характеристика 1" color="blue"></text>
	<text class="required" ng-model="main.hello" label="Характеристика 2" color="blue"></text>
	<div class="color clearfix">
		<p>Цвет</p>
		<div class="transparent">
			<div class="redStick"></div>
		</div>
		<div class="red"></div>
		<div class="orange"></div>
		<div class="yellow active"></div>
		<div class="green"></div>
		<div class="lightBlue"></div>
		<div class="blue"></div>
		<div class="pink active"></div>
		<div class="purple"></div>
		<div class="white"></div>
		<div class="gray"></div>
		<div class="black"></div>
		<div class="brown"></div>
		<div class="multicolor"></div>
	</div>
	<div class="calendar">
		<div class="defaultValue">
			<p>Месяц</p>
		</div>
		<div class="listValue"></div>
	</div>
	<div class="addCalendar">
		<div class="defaultValue">
			<p>+ добавить календарь</p>
		</div>
		<div class="listValue"></div>
	</div>
	<text ng-model="main.hello" label="Телефон" color="blue"></text>
	<text class="required" ng-model="main.hello" label="E-mail" color="blue"></text>
	<text ng-model="main.hello" label="Контактная информация" color="blue"></text>
	<nice-button class="btn-blue" ng-click="">СОХРАНИТЬ</nice-button>
</section>
