<section class="mail">
	<div class="tab">
		<ul class="clearfix">
			<li class="active">СООБЩЕНИЯ</li>
			<li>КОНТАКТЫ</li>
			<li>ОТЗЫВЫ</li>
		</ul>
		<div class="mailTab clearfix">
			<div class="tavleTitle">
				<p>Показать входящие сообщения</p>
				<select-box ng-model="main.hello" items="{{ main.list }}"></select-box>
				<p>Фильтровать сообщения</p>
				<select-box ng-model="main.hello" items="{{ main.list }}"></select-box>
			</div>
			<div class="table">
				<div class="tr">
					<div class="td"><checkbox ng-model="main.boolean"></checkbox></div>
					<div class="td">Пользователь</div>
					<div class="td">Объявление</div>
					<div class="td">Вложение</div>
					<div class="td">Статус</div>
					<div class="td">Дата</div>
				</div>
				<div class="tr">
					<div class="td"><checkbox ng-model="main.boolean"></checkbox></div>
					<div class="td"><p class="trUser">username</p></div>
					<div class="td">
						<p class="adName">GUP Mail Design</p>
						<p class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, molestias!</p>
					</div>
					<div class="td"></div>
					<div class="td"><p class="status">Отправлено</p></div>
					<div class="td"><p class="date">17 июнь, 06:28</p></div>
				</div>
				<div class="tr">
					<div class="td"><checkbox ng-model="main.boolean"></checkbox></div>
					<div class="td"><p class="trUser">username</p></div>
					<div class="td">
						<p class="adName">Title</p>
						<p class="preview">Answer</p>
					</div>
					<div class="td"><img src="../images/img.png" alt="img"></div>
					<div class="td"><p class="status">Доставлено</p></div>
					<div class="td"><p class="date">17 июнь, 06:28</p></div>
				</div>
				<div class="tr">
					<div class="td"><checkbox ng-model="main.boolean"></checkbox></div>
					<div class="td"><p class="trUser">username</p></div>
					<div class="td">
						<p class="adName">Title</p>
						<p class="preview">Answer</p>
					</div>
					<div class="td"><img src="../images/link.png" alt="link"></div>
					<div class="td"><p class="status">Прочитано</p></div>
					<div class="td"><p class="date">17 июнь, 06:28</p></div>
				</div>
				<div class="tr">
					<div class="td"><checkbox ng-model="main.boolean"></checkbox></div>
					<div class="td"><p class="trUser">username</p></div>
					<div class="td">
						<p class="adName">Title</p>
						<p class="preview">Answer</p>
					</div>
					<div class="td"><img src="../images/video.png" alt="video"></div>
					<div class="td"><p class="status">Пришел ответ</p></div>
					<div class="td"><p class="date">17 июнь, 06:28</p></div>
				</div>
				<div class="tr">
					<div class="td"><checkbox ng-model="main.boolean"></checkbox></div>
					<div class="td"><p class="trUser">username</p></div>
					<div class="td">
						<p class="adName">Title</p>
						<p class="preview">Answer</p>
					</div>
					<div class="td"></div>
					<div class="td"><p class="status">Пришел ответ</p></div>
					<div class="td"><p class="date">17 июнь, 06:28</p></div>
				</div>
				<div class="tr">
					<div class="td"><checkbox ng-model="main.boolean"></checkbox></div>
					<div class="td"><p class="trUser">username</p></div>
					<div class="td">
						<p class="adName">Title</p>
						<p class="preview">Answer</p>
					</div>
					<div class="td"></div>
					<div class="td"><p class="status">Пришел ответ</p></div>
					<div class="td"><p class="date">17 июнь, 06:28</p></div>
				</div>
			</div>
		</div>
		<div class="contactsTab">
			
		</div>
		<div class="reviewsTab">
			
		</div>
	</div>
</section>