<section class="mail">
	<div class="tab">
		<ul class="clearfix">
			<li class="active">СООБЩЕНИЯ</li>
			<li>КОНТАКТЫ</li>
			<li>ОТЗЫВЫ</li>
		</ul>
		<div class="mailTab clearfix">
			<div class="tavleTitle">
				<p>Показать входящие сообщения</p>
				<select-box ng-model="main.hello" items="{{ main.list }}"></select-box>
				<p>Фильтровать сообщения</p>
				<select-box ng-model="main.hello" items="{{ main.list }}"></select-box>
			</div>
			<div class="table">
				<div class="tr">
					<div class="td"><checkbox ng-model="main.boolean"></checkbox></div>
					<div class="td">Пользователь</div>
					<div class="td">Объявление</div>
					<div class="td">Вложение</div>
					<div class="td">Статус</div>
					<div class="td">Дата</div>
				</div>
				<div class="tr">
					<div class="td"><checkbox ng-model="main.boolean"></checkbox></div>
					<div class="td"><p class="trUser">username</p></div>
					<div class="td">
						<p class="adName">GUP Mail Design</p>
						<p class="preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, molestias!</p>
					</div>
					<div class="td"></div>
					<div class="td"><p class="status">Отправлено</p></div>
					<div class="td"><p class="date">17 июнь, 06:28</p></div>
				</div>
				<div class="tr">
					<div class="td"><checkbox ng-model="main.boolean"></checkbox></div>
					<div class="td"><p class="trUser">username</p></div>
					<div class="td">
						<p class="adName">Title</p>
						<p class="preview">Answer</p>
					</div>
					<div class="td"><img src="../images/img.png" alt="img"></div>
					<div class="td"><p class="status">Доставлено</p></div>
					<div class="td"><p class="date">17 июнь, 06:28</p></div>
				</div>
				<div class="tr">
					<div class="td"><checkbox ng-model="main.boolean"></checkbox></div>
					<div class="td"><p class="trUser">username</p></div>
					<div class="td">
						<p class="adName">Title</p>
						<p class="preview">Answer</p>
					</div>
					<div class="td"><img src="../images/link.png" alt="link"></div>
					<div class="td"><p class="status">Прочитано</p></div>
					<div class="td"><p class="date">17 июнь, 06:28</p></div>
				</div>
				<div class="tr">
					<div class="td"><checkbox ng-model="main.boolean"></checkbox></div>
					<div class="td"><p class="trUser">username</p></div>
					<div class="td">
						<p class="adName">Title</p>
						<p class="preview">Answer</p>
					</div>
					<div class="td"><img src="../images/video.png" alt="video"></div>
					<div class="td"><p class="status">Пришел ответ</p></div>
					<div class="td"><p class="date">17 июнь, 06:28</p></div>
				</div>
				<div class="tr">
					<div class="td"><checkbox ng-model="main.boolean"></checkbox></div>
					<div class="td"><p class="trUser">username</p></div>
					<div class="td">
						<p class="adName">Title</p>
						<p class="preview">Answer</p>
					</div>
					<div class="td"></div>
					<div class="td"><p class="status">Пришел ответ</p></div>
					<div class="td"><p class="date">17 июнь, 06:28</p></div>
				</div>
				<div class="tr">
					<div class="td"><checkbox ng-model="main.boolean"></checkbox></div>
					<div class="td"><p class="trUser">username</p></div>
					<div class="td">
						<p class="adName">Title</p>
						<p class="preview">Answer</p>
					</div>
					<div class="td"></div>
					<div class="td"><p class="status">Пришел ответ</p></div>
					<div class="td"><p class="date">17 июнь, 06:28</p></div>
				</div>
			</div>
		</div>
		<div class="contactsTab clearfix">
			<text class="required" ng-model="main.hello" label="Поиск сообщений или собеседников" color="blue"></text>
			<div class="clearfix"></div>
			<div class="table">
				<div class="tr">
					<div class="td"><p>Пользователь</p></div>
					<div class="td"><p>Статус</p></div>
					<div class="td"><p>Был в сети</p></div>
				</div>
				<div class="tr">
					<div class="td">
						<div class="avatar"></div>
						<p class="username">username</p>
					</div>
					<div class="td"><div class="onOrOffLineUser"></div></div>
					<div class="td"><p class="date"></p></div>
				</div>
				<div class="tr">
					<div class="td">
						<div class="avatar"></div>
						<p class="username">username</p>
					</div>
					<div class="td"><div class="onOrOffLineUser red"></div></div>
					<div class="td"><p class="date">17 июня, 06:28</p></div>
				</div>
				<div class="tr">
					<div class="td">
						<div class="avatar"></div>
						<p class="username">username</p>
					</div>
					<div class="td"><div class="onOrOffLineUser"></div></div>
					<div class="td"><p class="date"></p></div>
				</div>
				<div class="tr">
					<div class="td">
						<div class="avatar"></div>
						<p class="username">username</p>
					</div>
					<div class="td"><div class="onOrOffLineUser red"></div></div>
					<div class="td"><p class="date">17 июня, 06:28</p></div>
				</div>
				<div class="tr">
					<div class="td">
						<div class="avatar"></div>
						<p class="username">username</p>
					</div>
					<div class="td"><div class="onOrOffLineUser red"></div></div>
					<div class="td"><p class="date">17 июня, 06:28</p></div>
				</div>
				<div class="tr">
					<div class="td">
						<div class="avatar"></div>
						<p class="username">username</p>
					</div>
					<div class="td"><div class="onOrOffLineUser red"></div></div>
					<div class="td"><p class="date">17 июня, 06:28</p></div>
				</div>
			</div>
		</div>
		<div class="reviewsTab"></div>
		<div class="dialog">
			<div class="header clearfix">
				<div class="avatar"></div>
				<p>Username <i>&lt;noreply-google-plus@google.com&gt;</i></p>
				<a href="#">Отказаться от сообщений</a>
				<p class="date">17 июня, 06:28</p>
			</div>
			<h2>Заголовок объявления</h2>
			<div class="wrapMessages">
				<div class="messages">
					<div class="postInterlocutor">
						<div class="avatar"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum accusantium quisquam modi iure nisi suscipit dolore nostrum alias voluptate, natus officia earum ab cum, odit incidunt quaerat! Numquam temporibus perspiciatis suscipit repudiandae ad, minima sapiente delectus animi dignissimos possimus recusandae velit, error corporis quam aliquam impedit cumque in, sit aperiam nisi dolor autem architecto magnam! Soluta repellat maxime reiciendis. Error, quis molestiae magnam ut sed atque veritatis soluta obcaecati iusto consectetur ipsam, in voluptatum minus, fuga praesentium. Fugit quod autem iste necessitatibus labore aperiam, molestiae optio fuga iure est totam modi minus quasi id ab natus, nihil blanditiis aliquam. Ratione?</p>
					</div>
					<div class="yourAnswer">
						<div class="avatar"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, iste!</p>
					</div>
					<div class="postInterlocutor">
						<div class="avatar"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id rem ipsa quod deleniti quidem dignissimos dolore, ipsum tempore voluptas aspernatur quas illum maiores, at consequuntur quis nemo est perferendis illo!</p>
					</div>
					<div class="postInterlocutor">
						<div class="avatar"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum accusantium quisquam modi iure nisi suscipit dolore nostrum alias voluptate, natus officia earum ab cum, odit incidunt quaerat! Numquam temporibus perspiciatis suscipit repudiandae ad, minima sapiente delectus animi dignissimos possimus recusandae velit, error corporis quam aliquam impedit cumque in, sit aperiam nisi dolor autem architecto magnam! Soluta repellat maxime reiciendis. Error, quis molestiae magnam ut sed atque veritatis soluta obcaecati iusto consectetur ipsam, in voluptatum minus, fuga praesentium. Fugit quod autem iste necessitatibus labore aperiam, molestiae optio fuga iure est totam modi minus quasi id ab natus, nihil blanditiis aliquam. Ratione?</p>
					</div>
					<div class="yourAnswer">
						<div class="avatar"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, iste!</p>
					</div>
					<div class="postInterlocutor">
						<div class="avatar"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id rem ipsa quod deleniti quidem dignissimos dolore, ipsum tempore voluptas aspernatur quas illum maiores, at consequuntur quis nemo est perferendis illo!</p>
					</div>
				</div>
			</div>
			<div class="footer">
				<div class="avatar"></div>
				<text-area ng-model="main.hello" label=""></text-area>
				<nice-button class="btn-blue" ng-click="">ОТПРАВИТЬ</nice-button>
				<div class="clip"></div>
			</div>
		</div>
	</div>
</section>