#calendar {
    min-width: 85%;
    max-width: 85%;
    margin: 0px auto;
    padding: 0 10px;
    float: right;
}

#locale-selector {
    float: left;
    width: 150px;
    background: #3baae3 url("../../../resources/fullcalendar/lib/cupertino/images/ui-bg_glass_50_3baae3_1x400.png") repeat-x scroll 50% 50%;
    border: 1px solid #2694e8;
    border-radius: 5px;
    padding: 0px 8px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

#offers-selector {
    background: #3baae3 url("../../../resources/fullcalendar/lib/cupertino/images/ui-bg_glass_50_3baae3_1x400.png") repeat-x scroll 50% 50%;
    border: 1px solid #2694e8;
    border-radius: 5px;
    color: #ffffff;
    float: left;
    font-size: 20px;
    padding: 2px 8px;
    width: 700px;
}

legend {
    margin-bottom: 0;
}

#external-events {
    float: left;
    /*width: 15%;*/ /*width: 150px;*/
    padding: 0 10px;
    border: 1px solid #aed0ea;
    background: #deedf7;
    text-align: left;
    /*margin-top: 52px;*/
    margin-left: 0; /*margin-left: -150px;*/
}
#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}
#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}
#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}
#external-events p input {
    margin: 0;
    vertical-align: middle;
}