.notice-box::after {
	content: '';
	clear: both;
	display: table;
}

.notice-box li {
	position: relative;
	width: 164px;
	height: 204px;
	padding: 11px 10px;
	margin: 5px 8px;
	float: left;
	border: 2px solid #99cc66;
	border-radius: 11px;
}
.notice-box li p {
	font: 12px / 16px DroidSans;
	word-wrap: break-word;
	max-height: 50px;
	overflow: hidden;
}

.notice-box .priceButton {
	background-color: #faaf3a;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	padding: 2px 5px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	cursor: default;
}

.notice-box li a.image {	
	margin-bottom: 4px;
	display: block;
	text-align: center;
	font-size: 13px;
}

.notice-box li a.image img {
	width: 130px;
	height: 100px;
	display: block;
	border: 1px solid #faaf3a;
	border-radius: 10px;
	object-fit: contain;
	background-color: #f7f7f7;
}

.notice-box li span {
	position: absolute;
	font-size: 9px;
	top: 1px;
	left: 11px;
}