.cropper-modal {
    display: none;
    position: fixed;
    z-index: 20;
    padding-top: 100px;
    opacity: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.cropper-modal-content {
    position: relative;
    background-color: #1269a7;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 8px;
    overflow: hidden;
    width: 528px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.cropper-close {
    color: white;
    float: right;
}

.cropper-close:hover,
.cropper-close:focus {
    color: #000;
    cursor: pointer;
}

.cropper-modal-header {
    padding: 16px;
    background-color: #97CA65;
    color: white;
    font-size: 18px;
}

.cropper-modal-footer {
    padding: 2px 16px;
}

.cropper-modal-footer:after {
    content: '';
    clear: both;
    display: table;
}

.cropper-btn-success {
    background-color: #97CA65;
    color: white;
    border-color: #97CA65;
}
.cropper-btn {
    width: 85px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    margin: 0px 5px 5px 5px;
}
#cropper-image {
    max-width: 100%;
}

.cropper-modal-body {
    margin: 16px;
    height: 450px;
}

.cropper-modal-content > input {
    color: #3d5da1;
    font: 400 19px Calibri;
    line-height: 33px;
    padding: 0 21px;
    height: 33px;
    width: 240px;
    border: 2px solid #3d5da1;
    background-color: #d2d3d7;
    border-radius: 7px;
    margin: 10px;
}

.cropper-modal-content > .cropper-modal-footer > button {
    color: #fff;
    font: 400 19px ArianAMU;
    background-color: #9c6;
    border: 1px solid #9c6;
    border-radius: 5px;
    display: block;
    -webkit-transition: all .25s;
    transition: all .25s;
}

.cropper-modal-content > .cropper-modal-footer > button:hover {
    background-color: transparent;
    color: #9c6;
}