<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                      http://www.springframework.org/schema/beans/spring-beans.xsd
					  http://www.springframework.org/schema/security/oauth2
					  http://www.springframework.org/schema/security/spring-security-oauth2-2.0.xsd
                      http://www.springframework.org/schema/security
					  http://www.springframework.org/schema/security/spring-security.xsd">


    <sec:http pattern="/oauth/token" create-session="stateless"
              authentication-manager-ref="clientAuthenticationManager">
        <sec:intercept-url pattern="/oauth/token" access="IS_AUTHENTICATED_FULLY" />
        <sec:anonymous enabled="false" />
        <sec:http-basic entry-point-ref="clientAuthenticationEntryPoint" />
        <!-- include this only if you need to authenticate clients via request
         parameters -->
        <sec:custom-filter ref="clientCredentialsTokenEndpointFilter" after="BASIC_AUTH_FILTER" />
        <sec:access-denied-handler ref="oauthAccessDeniedHandler" />
    </sec:http>


    <!--<sec:http pattern="/resources/**" security="none" />-->

    <!-- This is where we tells spring security what URL should be protected
     and what roles have access to them -->
    <sec:http pattern="/**" create-session="stateless"
          entry-point-ref="oauthAuthenticationEntryPoint"
          access-decision-manager-ref="accessDecisionManager">
        <sec:anonymous enabled="false" />
        <!--<sec:intercept-url pattern="/swagger/rest/**" access="ROLE_USER" />-->
        <sec:custom-filter ref="resourceServerFilter" before="PRE_AUTH_FILTER" />
        <sec:access-denied-handler ref="oauthAccessDeniedHandler" />
    </sec:http>

    <bean id="oauthAuthenticationEntryPoint"
          class="org.springframework.security.oauth2.provider.error.OAuth2AuthenticationEntryPoint">
        <property name="realmName" value="test" />
    </bean>

    <bean id="clientAuthenticationEntryPoint"
          class="org.springframework.security.oauth2.provider.error.OAuth2AuthenticationEntryPoint">
        <property name="typeName" value="Basic" />
    </bean>

    <bean id="oauthAccessDeniedHandler"
          class="org.springframework.security.oauth2.provider.error.OAuth2AccessDeniedHandler" />

    <bean id="clientCredentialsTokenEndpointFilter"
          class="org.springframework.security.oauth2.provider.client.ClientCredentialsTokenEndpointFilter">
        <property name="authenticationManager" ref="clientAuthenticationManager" />
    </bean>

    <bean id="accessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased">
        <constructor-arg>
            <list>
                <bean class="org.springframework.security.oauth2.provider.vote.ScopeVoter" />
                <bean class="org.springframework.security.access.vote.RoleVoter" />
                <bean class="org.springframework.security.access.vote.AuthenticatedVoter" />
            </list>
        </constructor-arg>
    </bean>

    <sec:authentication-manager id="clientAuthenticationManager">
        <sec:authentication-provider user-service-ref="clientDetailsUserService" />
    </sec:authentication-manager>

    <sec:authentication-manager alias="userAuthenticationManager" erase-credentials="false">
        <sec:authentication-provider user-service-ref="userDetailsServiceImpl">
            <sec:password-encoder ref="passwordEncoder"/>
        </sec:authentication-provider>
    </sec:authentication-manager>

    <bean id="passwordEncoder"  class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <constructor-arg name="strength" value="11" />
    </bean>

    <bean id="clientDetailsUserService"
          class="org.springframework.security.oauth2.provider.client.ClientDetailsUserDetailsService">
        <constructor-arg ref="clientDetails" />
    </bean>

    <bean id="tokenStore" class="ua.com.itproekt.gup.service.oauth2.TokenStoreService" />

    <!-- This is where we defined token based configurations, token validity and other things -->
    <bean id="tokenServices" class="org.springframework.security.oauth2.provider.token.DefaultTokenServices">
        <property name="tokenStore" ref="tokenStore" />
        <property name="supportRefreshToken" value="true" />
        <property name="clientDetailsService" ref="clientDetails" />
    </bean>

    <oauth:authorization-server client-details-service-ref="clientDetails" token-services-ref="tokenServices">
            <!--user-approval-handler-ref="userApprovalHandler">-->
        <!--<oauth:authorization-code />-->
        <!--<oauth:implicit />-->
        <oauth:refresh-token />
        <!--<oauth:client-credentials />-->
        <oauth:password />
    </oauth:authorization-server>

    <oauth:resource-server id="resourceServerFilter" token-services-ref="tokenServices" />

    <sec:global-method-security pre-post-annotations="enabled" proxy-target-class="true">
        <sec:expression-handler ref="oauthExpressionHandler" />
    </sec:global-method-security>

    <oauth:expression-handler id="oauthExpressionHandler" />
    <oauth:web-expression-handler id="oauthWebExpressionHandler" />

    <!--  ************************************************************************* -->
    <!--<sec:global-method-security pre-post-annotations="enabled" />-->

    <!--<sec:http auto-model="true" use-expressions="true">-->
    <!--<sec:access-denied-handler error-page="/error403" />-->
    <!--<sec:form-login login-page="/login" authentication-failure-url="/login?error=true"-->
    <!--default-target-url="/account"-->
    <!--username-parameter="email" password-parameter="password" />-->
    <!--<sec:logout logout-success-url="/index" logout-url="/logout"/>-->

    <!--<sec:anonymous username="guest" granted-authority="ROLE_ANONYMOUS" />-->
    <!--&lt;!&ndash;3.2.8&ndash;&gt;-->
    <!--<sec:csrf disabled="true"/>-->
    <!--</sec:http>-->

    <!--<sec:authentication-manager>-->
    <!--<sec:authentication-provider user-service-ref="userDetailsServiceImpl">-->
    <!--<sec:password-encoder ref="bcrypt" />-->
    <!--</sec:authentication-provider>-->
    <!--</sec:authentication-manager>-->

    <!--<bean id="bcrypt" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">-->
    <!--<constructor-arg name="strength" value="11" />-->
    <!--</bean>-->

</beans>