<!DOCTYPE html>
<html>
  <head>
      <title>GUP Application</title>

      <style>

          /* http://meyerweb.com/eric/tools/css/reset/
             v2.0 | 20110126
             License: none (public domain)
          */

          html, body, div, span, applet, object, iframe,
          h1, h2, h3, h4, h5, h6, p, blockquote, pre,
          a, abbr, acronym, address, big, cite, code,
          del, dfn, em, img, ins, kbd, q, s, samp,
          small, strike, strong, sub, sup, tt, var,
          b, u, i, center,
          dl, dt, dd, ol, ul, li,
          fieldset, form, label, legend,
          table, caption, tbody, tfoot, thead, tr, th, td,
          article, aside, canvas, details, embed,
          figure, figcaption, footer, header, hgroup,
          menu, nav, output, ruby, section, summary,
          time, mark, audio, video {
              margin: 0;
              padding: 0;
              border: 0;
              font-size: 100%;
              font: inherit;
              vertical-align: baseline;
          }
          /* HTML5 display-role reset for older browsers */
          article, aside, details, figcaption, figure,
          footer, header, hgroup, menu, nav, section {
              display: block;
          }
          body {
              line-height: 1;
              padding-top: 75px;
          }
          ol, ul {
              list-style: none;
          }
          blockquote, q {
              quotes: none;
          }
          blockquote:before, blockquote:after,
          q:before, q:after {
              content: '';
              content: none;
          }
          table {
              border-collapse: collapse;
              border-spacing: 0;
          }

          body > div {
              margin: 0 auto;
              width: 575px;
          }

          body > div::after {
              content: '';
              clear: both;
              display: table;
          }

          div > div {
              border-radius: 10px;
              height: 140px;
              border: 5px solid #35A8DE;
              position: relative;
              padding: 30px 20px;
          }

          div > div > img {
              position: absolute;
              top: -75px;
              left: -25px;
              height: 95px;
              width: 115px;
          }

          div > h1 {
              color: #1168A5;
              font: italic 700 30px Inconsolata;
              position: absolute;
              top: -80px;
              right: -5px;
              margin: 20px 0;
          }

          p,
          div > div > p {
              color: #000000;
              font: italic 700 13px Inconsolata;
              text-align: center;
              margin: 0;
          }

          div > a {
              color: #99cc66;
              font: 700 16px Inconsolata;
              text-decoration: underline;
              -webkit-transition: all .2s;
              transition: all .2s;
              margin: 40px auto;
              display: table;
              text-align: center;
          }

          div > div > a:hover {
              text-decoration: none;
          }

          body > div > p {
              margin: 20px auto;
              width: 560px;
          }

          i {
              color: #1269a7;
              font: 700 13px Inconsolata;
              text-align: center;
              display: inherit;
          }
      </style>

      <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

  </head>
  <body>

  <div>

      <div>
          <img src="images/brand.png" alt="brand">
          <h1>Reset Password</h1>
          <p>A request was submitted to reset the password for your account. Click through on the link below to reset your password within the next 24 hours.</p>
          <a href="#">Password Reset</a>
          <p>Please don't reply to this automatically generated email.</p>
      </div>

      <p>What is this doing in my mailbox?</p>
      <p>If you did not intend to reset your password, you do not need to click through on the link in this email. If you did not request a link to reset your password, and are concerned that your account is at risk, then please contact us through customer support at http://XXXXXXXXXX.</p>
      <i>Thanks for using GUP!</i>

  </div>

  </body>
</html>