<!DOCTYPE html>
<html lang="en" ng-app="gup">
<head>
	<meta charset="UTF-8">
	<title>GUP - 1</title>
	<link rel="stylesheet" href="lib/normalize.css">
	<base href="/" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
	<script src="lib/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body ng-controller="mainCtrl as main" ng-init="main.init()" ng-click="main.click()">

<div class="cover"></div>
<!-- HEADER -->

<div class="general-content" style="display:none">
	<header>
		<div class="container clearfix">
			<div class="headLeft clearfix">
				<div class="logo" ng-click="redirectToUrl('/')"></div>
				<text ng-model="main.hello" label="Поиск" color="white"></text>
				<div class="dropDown">
					<p>Авто0</p>
					<p>Авто1</p>
					<p>Авто2</p>
					<p>Авто3</p>
					<p>Авто4</p>
				</div>
				<div class="selectBox">
					<div class="defaultValue" ng-click="main.showCategories()">
						<p>{{ main.currentCategory }} <span>{{ main.arrow }}</span></p>
					</div>
					<div class="listOfValues" ng-show="main.showingCategories">
						<div class="listItem" ng-repeat="cat in main.sortingCategories" ng-click="main.setCategory(cat.id)">{{ cat.title }}</div>
					</div>
				</div>
				<div class="add" ng-class="temp"  ng-mousedown="temp = 'clicked'" ng-mouseup="temp = ''" 	ng-click="redirectToUrl('/bulletinAdd')">
					<p>Добавить Объявление</p>
				</div>
			</div>
			<div class="headRight clearfix">
				<div class="mail" ng-show="db.isLogged">
					<p>10</p>
					<div class="chooseYourStyle">
						<p>Компактный вид</p>
						<p>Полный вид</p>
					</div>
				</div>
				<div class="bell" ng-show="db.isLogged">
					<p>8</p>
				</div>
				<div class="services" ng-click="main.displayServices=!main.displayServices">
					<div class="vidgets" ng-show="main.displayServices">
						<h2>Сервисы GUP</h2>
						<a href="#"><p>Объявления</p></a>
						<a href="#"><p>Тендеры</p></a>
						<a href="#"><p>Фриланс</p></a>
						<a href="#"><p>Технологии</p></a>
						<a href="#"><p>Работа</p></a>
						<a href="#"><p>Проекты</p></a>
					</div>
				</div>
				<div class="userName" ng-show="db.isLogged">
					<p ng-click="username = true">Имя Фамилия</p>
					<div ng-show="username">
						<p ng-click="redirectToUrl('/profile')">Профиль</p>
						<p ng-click="redirectToUrl('/editProfile')">Редактировать профиль</p>
						<p ng-click="main.logout()">Выйти</p>
					</div>
				</div>
				<div class="auth" ng-hide="db.isLogged">
					<span ng-click="redirectToUrl('/login')">Войти</span> | <span ng-click="redirectToUrl('/register')">Регистрация</span>
				</div>
			</div>
		</div>
	</header>

	<div class="navBtn" ng-click="main.displayFilters()" ></div>

	<nav ng-show="main.showFilters">
		<div class="map">
		<div class="clearfix"></div>
			<text class="required" ng-model="main.hello" label="Киевская обл." color="blue" validate="login.emailIsValid" isValid="login.emailValid"></text>
		</div>
		<ul>
			<li ng-repeat="x in main.searchCategories" ng-click="main.curr(x.id)" ng-class="x.class">
				<p>{{x.name}}</p>
				<div class="firstSubcategories" ng-show="main.idName === x.id">
					<p ng-repeat="child in x.children">{{child.name}}</p>
				</div>
			</li>
		</ul>
	</nav>

	<!-- CONTAINER -->
	<div class="container">

	    <!-- CONTENT NG-ROUTE -->
	    <div class="content clearfix" ng-view></div>

	</div>
</div>

<div class="miniContacts">
	<div class="header">
		<div class="back toContacts"></div>
		<div class="close"></div>
	</div>
	<div class="table">
		<div class="tr">
			<div class="td"><div class="avatar"></div></div>
			<div class="td"><p class="username">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, sunt!</p></div>
			<div class="td"><div class="onOrOffLineUser"></div></div>
		</div>
		<div class="tr">
			<div class="td"><div class="avatar"></div></div>
			<div class="td"><p class="username">username</p></div>
			<div class="td"><div class="onOrOffLineUser red"></div></div>
		</div>
		<div class="tr">
			<div class="td"><div class="avatar"></div></div>
			<div class="td"><p class="username">username</p></div>
			<div class="td"><div class="onOrOffLineUser red"></div></div>
		</div>
		<div class="tr">
			<div class="td"><div class="avatar"></div></div>
			<div class="td"><p class="username">username</p></div>
			<div class="td"><div class="onOrOffLineUser red"></div></div>
		</div>
		<div class="tr">
			<div class="td"><div class="avatar"></div></div>
			<div class="td"><p class="username">username</p></div>
			<div class="td"><div class="onOrOffLineUser red"></div></div>
		</div>
		<div class="tr">
			<div class="td"><div class="avatar"></div></div>
			<div class="td"><p class="username">username</p></div>
			<div class="td"><div class="onOrOffLineUser red"></div></div>
		</div>
	</div>
	<div class="wrapMessages">
		<div class="messages">
			<div class="postInterlocutor">
				<div class="avatar"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum accusantium quisquam modi iure nisi suscipit dolore nostrum alias voluptate, natus officia earum ab cum, odit incidunt quaerat! Numquam temporibus perspiciatis suscipit repudiandae ad, minima sapiente delectus animi dignissimos possimus recusandae velit, error corporis quam aliquam impedit cumque in, sit aperiam nisi dolor autem architecto magnam! Soluta repellat maxime reiciendis. Error, quis molestiae magnam ut sed atque veritatis soluta obcaecati iusto consectetur ipsam, in voluptatum minus, fuga praesentium. Fugit quod autem iste necessitatibus labore aperiam, molestiae optio fuga iure est totam modi minus quasi id ab natus, nihil blanditiis aliquam. Ratione?</p>
			</div>
			<div class="yourAnswer">
				<div class="avatar"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, iste!</p>
			</div>
			<div class="postInterlocutor">
				<div class="avatar"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id rem ipsa quod deleniti quidem dignissimos dolore, ipsum tempore voluptas aspernatur quas illum maiores, at consequuntur quis nemo est perferendis illo!</p>
			</div>
			<div class="postInterlocutor">
				<div class="avatar"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum accusantium quisquam modi iure nisi suscipit dolore nostrum alias voluptate, natus officia earum ab cum, odit incidunt quaerat! Numquam temporibus perspiciatis suscipit repudiandae ad, minima sapiente delectus animi dignissimos possimus recusandae velit, error corporis quam aliquam impedit cumque in, sit aperiam nisi dolor autem architecto magnam! Soluta repellat maxime reiciendis. Error, quis molestiae magnam ut sed atque veritatis soluta obcaecati iusto consectetur ipsam, in voluptatum minus, fuga praesentium. Fugit quod autem iste necessitatibus labore aperiam, molestiae optio fuga iure est totam modi minus quasi id ab natus, nihil blanditiis aliquam. Ratione?</p>
			</div>
			<div class="yourAnswer">
				<div class="avatar"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, iste!</p>
			</div>
			<div class="postInterlocutor">
				<div class="avatar"></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id rem ipsa quod deleniti quidem dignissimos dolore, ipsum tempore voluptas aspernatur quas illum maiores, at consequuntur quis nemo est perferendis illo!</p>
			</div>
		</div>

		<div class="footer">
			<text-area class="required" ng-model="main.hello" label=""></text-area>
			<div class="clip"></div>
		</div>
	</div>
</div>

<!-- LIBLARIES -->
<script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/angular-route.js"></script>
<script type="text/javascript" src="lib/angular-cookies.js"></script>

<!-- JS BUILD -->
<script type="text/javascript" src="app.js"></script>

</body>
</html>
