<aside class="bulletinDetails">
	<div class="bulletin-short" ng-repeat="x in list">
		<div class="bulletin-left-column">
			<h3>{{x.title}}</h3>
			<div class="bulletin-category">{{x.category}}</div>
			<div class="bulletin-description">{{x.description}}</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image"></div>
			<div class="bulletin-price">2 345 грн</div>
			<div class="onOrOffLineUser"></div>
		</div>
		<div class="bulletin-center-column">
			<checkbox ng-model='main.boolean'></checkbox>
			<div class="exclamationPoint"></div>
			<div class="dollarBill"></div>
			<div class="bulletin-action">Искать похожие</div>
		</div>
		<div class="wrapRibbon">
			<div class="ribbon">
				<p class="ribbon-content">АКЦИЯ!</p>
			</div>
		</div>
	</div>
</aside>
