<aside class="bulletinDetails">
	<div ng-class="x.stock" class="bulletin-short" ng-repeat="x in blist.list">
		<div class="bulletin-left-column">
			<h3>{{x.title}}</h3>
			<div class="bulletin-category">{{x.category}}</div>
			<div class="bulletin-description">{{x.description}}</div>
		</div>
		<div class="bulletin-right-column">
			<div class="bulletin-image" ng-style="x.myImage"></div>
			<div class="bulletin-price">{{x.price}}</div>
			<div class="onOrOffLineUser" ng-class="x.onOrOffLineUser"></div>
		</div>
		<div class="bulletin-center-column">
			<checkbox ng-model='main.boolean'></checkbox>
			<div ng-if="x.exclamationPoint" class="exclamationPoint"></div>
			<div ng-if="x.dollarBill" class="dollarBill"></div>
			<div class="bulletin-action">{{x.action}}</div>
		</div>
	</div>
</aside>
