
<div style="position:relative;">
  <map id="mapsvg" name="mapsvg">
      <area shape="poly" coords="92,62,114,64,121,91,90,86" href="javascript: void(0);" id="Vinnytsya" alt="Vinnytsya" />
      <area shape="poly" coords="28,22,60,15,65,30,49,47,30,32" href="javascript: void(0);" id="Lutsk" alt="Lutsk" />
      <area shape="poly" coords="185,77,202,71,228,83,222,98,200,93,188,105,172,95" href="javascript: void(0);" id="Dniepropetrivsk" alt="Dniepropetrivsk" />
      <area shape="poly" coords="243,70,262,97,251,114,234,118,234,99,230,92,228,81" href="javascript: void(0);" id="Donetsk" alt="Donetsk" />
      <area shape="poly" coords="93,22,116,24,118,62,90,57,85,41" href="javascript: void(0);" id="Zhytomyr" alt="Zhytomyr" />
      <area shape="poly" coords="15,72,44,91,44,97,20,97,6,85" href="javascript: void(0);" id="Uzhgorod" alt="Uzhgorod" />
      <area shape="poly" coords="189,105,202,93,234,104,232,118,204,130" href="javascript: void(0);" id="Zaporizhzhya" alt="Zaporizhzhya" />
      <area shape="poly" coords="29,80,44,64,63,82,45,93" href="javascript: void(0);" id="Ivanofrankivsk" alt="Ivanofrankivsk" />
      <area shape="poly" coords="116,25,131,24,138,38,155,44,153,58,141,65,120,70" href="javascript: void(0);" id="Kyivska" alt="Kyivska" />
      <area shape="poly" coords="123,87,169,73,181,79,189,78,160,100,142,91,124,89" href="javascript: void(0);" id="Kyrovograd" alt="Kyrovograd" />
      <area shape="poly" coords="162,147,181,131,209,147,223,145,224,155,210,154,185,168,176,183,178,153" href="javascript: void(0);" id="Crimea" alt="Crimea" />
      <area shape="poly" coords="249,52,279,62,274,82,274,99,263,98,245,71" href="javascript: void(0);" id="Lugansk" alt="Lugansk" />
      <area shape="poly" coords="14,63,36,42,57,55,42,66,41,71,33,71,28,80,15,72" href="javascript: void(0);" id="Lviv" alt="Lviv" />
      <area shape="poly" coords="130,92,142,92,156,99,159,100,171,95,173,104,169,118,159,118,152,126,144,123,143,110" href="javascript: void(0);" id="Mykolaiv" alt="Mykolaiv" />
      <area shape="poly" coords="107,93,129,92,139,105,144,124,107,152,98,145,111,124,121,124,125,120,111,105" href="javascript: void(0);" id="Odessa" alt="Odessa" />
      <area shape="poly" coords="158,48,189,45,208,62,185,77,169,69" href="javascript: void(0);" id="Poltava" alt="Poltava" />
      <area shape="poly" coords="62,15,93,22,84,36,84,43,70,50,56,53,52,46,60,41,64,42,67,32" href="javascript: void(0);" id="Rivne" alt="Rivne" />
      <area shape="poly" coords="184,7,193,19,192,28,202,30,211,46,195,52,189,44,173,44" href="javascript: void(0);" id="Sumy" alt="Sumy" />
      <area shape="poly" coords="46,64,68,49,70,83,62,83,51,75" href="javascript: void(0);" id="Ternopil" alt="Ternopil" />
       <area shape="poly" coords="200,54,217,45,225,49,238,45,248,55,245,70,226,82,202,71,209,64" href="javascript: void(0);" id="Kharkiv" alt="Kharkiv" />
       <area shape="poly" coords="180,103,190,106,206,130,199,138,182,130,163,135,152,127,161,118,170,118" href="javascript: void(0);" id="Kherson" alt="Kherson" />
       <area shape="poly" coords="84,44,94,71,87,73,87,83,70,83,70,50" href="javascript: void(0);" id="Khmelnytsky" alt="Khmelnytsky" />
       <area shape="poly" coords="122,71,139,67,152,59,159,51,167,65,169,72,127,84" href="javascript: void(0);" id="Cherkasy" alt="Cherkasy" />
       <area shape="poly" coords="134,34,134,20,142,12,157,12,177,6,171,32,172,44,159,47,154,42" href="javascript: void(0);" id="Chernigiv" alt="Chernigiv" />
       <area shape="poly" coords="45,94,67,83,79,88,67,96,57,97,51,100" href="javascript: void(0);" id="Chernivtsi" alt="Chernivtsi" />
  </map>

  <img src="../images/map.png" width="288" height="177" alt="" usemap="#mapsvg"  style="position: relative; top: 0px; left: 0px; z-index:1; visibility: visible;" />
</div>

<script type="text/javacript">
window.onload = function() {
  
}
</script>
