<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">-->
<html xmlns:th="http://www.thymeleaf.org" th:lang="ru">
<head th:replace="fragments/header :: header" />

<body class="login">

<div class="login-wrapper">

    <div class="logo">
        <img src="images/logo-small.svg" alt="logo">
        <div class="title">
            <div class="top">Global</div>
            <div class="bot">Ukrainian portal</div>
        </div>
    </div>

    <h1></h1>

    <form class='flex' th:action="@{/login}" method="post" name="login">
        <div class="input flex-full-width">
            <input type="text" name="username" placeholder="E-mail или телефон" required/>
        </div>
        <div class="input flex-full-width error">
            <input type="password" name="password" placeholder="Пароль" required>
        </div>
        <button class="flex-full-width submit" type="submit">Авторизация</button>
    </form>

    <div class="register">
        <p>Нет аккаунта?</p>
        <a href="#" th:href="@{/register}">Зарегистрироваться</a>
    </div>

    <div class="social">
        <div class="social-elem"><img src="images/facebook.svg" alt="facebook"></div>
        <div class="social-elem"><img src="images/twitter.svg" alt="twitter"></div>
        <div class="social-elem"><img src="images/linkedin.svg" alt="linkedin"></div>
        <div class="social-elem"><img src="images/pinterest.svg" alt="pinterest"></div>
    </div>

    <div class="rights">
        <p>Создавая новый аккаунт вы завещаете нам почку и&nbsp;соглашаетесь с <a href="#">Лицензионным Соглашением</a>
        </p>
    </div>

</div>

</body>
</html>