<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">

    <title>Регистрация</title>
</head>
<body class="login">

<div class="login-wrapper">

    <div class="logo">
        <img src="img/logo-small.svg" alt="logo">
        <div class="title">
            <div class="top">Global</div>
            <div class="bot">Ukrainian portal</div>
        </div>
    </div>

    <h1>Регистрация</h1>

    <form class='flex' action="" name="login">
        <div class="input flex-full-width">
            <input class="flex-full-width" type="text" placeholder="E-mail или телефон" required>
        </div>
        <div class="input flex-half-width">
            <input type="text" placeholder="Имя" required>
        </div>
        <div class="input flex-half-width error">
            <input type="text" placeholder="Фамилия" required>
        </div>
        <div class="input flex-full-width ">
            <input type="password" placeholder="Пароль" required>
        </div>
        <button class="flex-full-width submit" type="submit">Регистрация</button>
    </form>

    <div class="register">
        <p>Уже зарегистрированы?</p>
        <a href="#">Войти</a>
    </div>

    <div class="social">
        <div class="social-elem"><img src="img/facebook.svg" alt="facebook"></div>
        <div class="social-elem"><img src="img/twitter.svg" alt="twitter"></div>
        <div class="social-elem"><img src="img/linkedin.svg" alt="linkedin"></div>
        <div class="social-elem"><img src="img/pinterest.svg" alt="pinterest"></div>
    </div>

    <div class="rights">
        <p>Создавая новый аккаунт вы завещаете нам почку и&nbsp;соглашаетесь с <a href="#">Лицензионным Соглашением</a></p>
    </div>

</div>

</body>
</html>