<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">-->
<html xmlns:th="http://www.thymeleaf.org" th:lang="ru">
    <head th:replace="fragments/header :: header(#{register.title})" />

    <body class="login">        
        <div class="login-wrapper">

            <div th:include="fragments/content :: locale"></div>

            <div th:include="fragments/content :: logo"></div>    

            <form class='flex' th:action="@{/register}" method="POST" th:object="${user}" autocomplete="off" >
                <div class="input flex-full-width" th:classappend="${#fields.hasErrors('email')} ? error">
                    <input type="text" th:field="*{email}" th:placeholder="#{emailorphone}"  required>
                    <div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">errors</div>
                </div>
                <div class="input flex-full-width" th:classappend="${#fields.hasErrors('password')} ? error">
                    <input type="password" th:field="*{password}" th:placeholder="#{password}" required>
                    <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">errors</div>
                </div>
                <button class="flex-full-width submit" type="submit" th:text="#{register.title}">Регистрация</button>
            </form>

            <div class="register">
                <p th:text="#{allreadyRegisteredQuestion}">Уже зарегистрированы?</p>
                <a href="#" th:href="@{/login}" th:text="#{login}">Войти</a>
            </div>

            <div th:include="fragments/content :: social"></div>

            <div th:include="fragments/content :: license"></div>

        </div>

    </body>
</html>