<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0px;padding: 0px;">
<!-- MAIN WRAPPER #################################### -->
<table style="
        border-spacing:0;
        border-collapse:collapse!important;
        margin:0;
        padding:0;
        vertical-align:top;
        background:#fafafa;
        color:#333333;
        font-family: Helvetica,Arial,sans-serif;
        font-weight:normal;
        text-align:center;
        height:100%;
        width:100%;">
    <tr style="
            padding:0;
            margin:0;
            vertical-align:top;
            text-align:center">
        <td align="center"
            valign="top"
            style="
                padding:0px 0px 50px;
                vertical-align:top;
                text-align:center;
                color:#333333;
                font-family: Helvetica,Arial,sans-serif;
                font-weight:normal;
                margin:0;
                line-height:20px;
                font-size:14px;
                border-collapse:collapse!important">
            <center style="width:100%;">

                <!-- HEADER #################################### -->

                <!-- header back -->
                <table style="
                        border-spacing:0;
                        border-collapse:collapse;
                        padding:0;
                        vertical-align:top;
                        text-align:inherit;
                        max-width:580px;
                        width: 100%;
                        background-color:#1976d2;
                        margin:0 auto"
                       bgcolor="#1976d2">
                    <tr style="
                            padding:0;
                            vertical-align:top;
                            text-align:center">
                        <td style="
                            padding:10px 0 20px;
                            vertical-align:top;
                            text-align:center;
                            color:#333333;
                            font-family: Helvetica,Arial,sans-serif;
                            font-weight:normal;
                            margin:0;
                            line-height:20px;
                            font-size:14px;
                            border-collapse:collapse!important">

                            <!--header logo-->
                            <table style="
                                    border-spacing:0;
                                    border-collapse:collapse;
                                    padding:0;
                                    vertical-align:top;
                                    text-align:center;
                                    margin:0 auto;
                                    max-width: 580px;
                                    width: 100%;
                                    background-color:#1976d2;"
                                   bgcolor="#1976d2">
                                <tr style="padding:0;
                                        vertical-align:top;
                                        text-align:center">
                                    <td style="
                                            padding:0px;
                                            vertical-align:top;
                                            text-align:center;
                                            color:#333333;
                                            font-family: Helvetica,Arial,sans-serif;
                                            font-weight:normal;
                                            margin:0;
                                            line-height:20px;
                                            font-size:14px;
                                            border-collapse:collapse!important">
                                        <span style="
                                                text-align:center;
                                                display: block;
                                                padding:0px;
                                            line-height:20px;
                                                margin:0px;">
                                            <span style="margin: 0px;padding: 0px;line-height:20px;">
                                                <a href="#"
                                                   style="
                                                    text-align:center;
                                                    color:#4183c4;
                                                    line-height:20px;
                                                    text-decoration:none"
                                                   target="_blank">
                                                <img alt="GUP"
                                                     src="cid:logo.png"
                                                     width="150"
                                                     height="139"
                                                     style="
                                                        outline:none;
                                                        text-decoration:none;
                                                        width:auto;
                                                        max-width:100%;
                                                        border:none;
                                                        margin:0 auto;
                                                        float:none;
                                                        padding:0px;
                                                        text-align:center">
                                                </a>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                            </table>

                            <!--header heading -->
                            <table style="
                                    border-spacing:0;
                                    border-collapse:collapse;
                                    padding:0;
                                    vertical-align:top;
                                    text-align:center;
                                    margin:0 auto;
                                    background-color:#1976d2;
                                    max-width:580px;
                                    width:100%;"
                                    bgcolor="#1976d2">
                                <!-- h1 -->
                                <tr style="padding:0;
                                        vertical-align:top;
                                        text-align:center">
                                    <td style="
                                            padding:0px;
                                            vertical-align:top;
                                            text-align:center;
                                            color:#333333;
                                            font-family: Helvetica,Arial,sans-serif;
                                            font-weight:normal;
                                            margin:0;
                                            line-height:20px;
                                            font-size:14px;
                                             border-collapse:collapse!important">
                                        <span style="display:block;text-align:center">
                                            <span style="
                                                    color:white;
                                                    font-size: 24px;
                                                    line-height: 32px;
                                                    font-weight: normal;
                                                    font-family: Helvetica,Arial,sans-serif;
                                                    display: block;
                                                    ">
                                                Заголовок письма
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                <!-- h2 -->
                                <tr style="padding:0;
                                        vertical-align:top;
                                        text-align:center">
                                    <td style="
                                            padding:10px 0px 0px;
                                            vertical-align:top;
                                            text-align:center;
                                            color:#333333;
                                            font-family: Helvetica,Arial,sans-serif;
                                            font-weight:normal;
                                            margin:0;
                                            line-height:20px;
                                            font-size:14px;
                                            border-collapse:collapse!important">

                                        <span style="text-align:center;display: block;">
                                            <span style="
                                                    color: #b2d1f0;
                                                    font-size: 16px;
                                                    line-height: 20px;
                                                    font-weight: normal;
                                                    font-family: Helvetica,Arial,sans-serif;
                                                    display: block">
                                                Субхедер
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                            <!-- end headings-->
                        </td>
                    </tr>
                </table>
                <!-- header back end -->
                <!-- HEADER END #################################### -->


                <!-- CONTENT #################################### -->
                <!-- content back -->
                <table style="
                    border-spacing:0;
                    border-collapse:collapse;
                    padding:0px;
                    vertical-align:top;
                    text-align:center;
                    background-color:#ffffff;
                    width:100%;
                    max-width: 580px;"
                       bgcolor="#ffffff">
                    <tr style="
                        padding:0;
                        vertical-align:top;
                        text-align:center">
                        <td align="center"
                            style="
                            padding:0;
                            vertical-align:top;
                            text-align:center;
                            color:#333333;
                            font-family: Helvetica,Arial,sans-serif;
                            font-weight:normal;
                            margin:0;
                            line-height:20px;
                            font-size:14px;
                            border-collapse:collapse!important">
                            <center style="width:100%;max-width:580px">
                                <!--main text block wrapper -->
                                 <span style="
                                             border-width: 1px;
                                             border-color: #c8c9ca;
                                             border-style:solid;
                                             border-top: none;
                                             max-width:500px;
                                             width:90%;
                                             display: block;">
                                     <table style="
                                             border-spacing:0;
                                             border-collapse:collapse;
                                             padding:0;
                                             vertical-align:top;
                                             text-align:center;
                                             margin:0 auto;
                                             background-color:#ffffff;
                                             max-width:500px;
                                             width:100%;"
                                            bgcolor="#ffffff">
                                         <tr style="padding:0;
                                             vertical-align:top;
                                             text-align:center">
                                             <td style="
                                                 padding:30px 35px 25px;
                                                 vertical-align:top;
                                                 text-align:center;
                                                 color:#333333;
                                                 font-family: Helvetica,Arial,sans-serif;
                                                 font-weight:normal;
                                                 margin:0;
                                                 line-height:20px;
                                                 font-size:14px;
                                                 border-collapse:collapse!important">

                                                 <!--MAIN TEXT block -->
                                                 <table style="
                                                            border-spacing:0;
                                                            border-collapse:collapse;
                                                            padding:0;
                                                            vertical-align:top;
                                                            text-align:center;
                                                            margin:0 auto;
                                                            background-color:#ffffff;
                                                            max-width:500px;
                                                            width:100%;"
                                                        bgcolor="#ffffff">

                                                        <!-- main text heading -->
                                                      <tr style="padding:0;
                                                          vertical-align:top;
                                                          text-align:center">
                                                          <td style="
                                                              padding:0px 0px 25px;
                                                              vertical-align:top;
                                                              text-align:center;
                                                              color:#333333;
                                                              font-family: Helvetica,Arial,sans-serif;
                                                              font-weight:normal;
                                                              margin:0;
                                                              line-height:20px;
                                                              font-size:14px;
                                                              border-collapse:collapse!important">
                                                              <span style="
                                                                      color: #000000;
                                                                      font-size: 20px;
                                                                      line-height: 24px;
                                                                      font-weight: bold;
                                                                      font-family: Helvetica,Arial,sans-serif;
                                                                      display: block">
                                                                  Почему вертикальна траектория
                                                                </span>
                                                          </td>
                                                      </tr>
                                                     <!-- main text content -->
                                                      <tr style="padding:0;
                                                          vertical-align:top;
                                                          text-align:center">
                                                          <td style="
                                                              padding:0px 0px 20px;
                                                              vertical-align:top;
                                                              text-align:center;
                                                              color:#333333;
                                                              font-family: Helvetica,Arial,sans-serif;
                                                              font-weight:normal;
                                                              margin:0;
                                                              line-height:20px;
                                                              font-size:14px;
                                                              border-collapse:collapse!important">

                                                              <span align="left" style="
                                                                      color: #000000;
                                                                      font-size: 14px;
                                                                      line-height: 28px;
                                                                      font-weight: normal;
                                                                      font-family: Helvetica,Arial,sans-serif;
                                                                      display: block">
                                                                  Механическая природа, обобщая изложенное, позволяет пренебречь колебаниями корпуса, хотя этого в любом
                                                                  случае требует ньютонометр. Инерциальная навигация не зависит от скорости вращения внутреннего кольца
                                                                  подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из рассмотрения апериодический
                                                                  вектор угловой скорости. Астатическая система координат Булгакова интегрирует уходящий гироинтегратор.
                                                                  Ось собственного вращения трансформирует дифференциальный период.
                                                              </span>
                                                          </td>
                                                      </tr>

                                                     <!-- message block -->
                                                     <tr style="padding:0;
                                                         vertical-align:top;
                                                         text-align:center">
                                                         <td style="
                                                             padding:10px 0px 25px;
                                                             vertical-align:top;
                                                             text-align:center;
                                                             color:#333333;
                                                             font-family: Helvetica,Arial,sans-serif;
                                                             font-weight:normal;
                                                             margin:0;
                                                             line-height:20px;
                                                             font-size:14px;
                                                             border-collapse:collapse!important">
                                                             <table style="
                                                                        border-spacing:0;
                                                                        border-collapse:collapse;
                                                                        padding:0;
                                                                        vertical-align:top;
                                                                        text-align:center;
                                                                        margin:0 auto;
                                                                        background-color:#eeeeee;
                                                                        width:100%"
                                                                    bgcolor="#eeeeee">
                                                                 <tr style="
                                                                        padding:0;
                                                                        vertical-align:top;
                                                                        text-align:center">
                                                                     <!-- avatar -->
                                                                     <td style="
                                                                            width: 60px;
                                                                            padding:10px 10px 10px 20px;
                                                                            vertical-align:top;
                                                                            text-align:left;
                                                                            color:#333333;
                                                                            font-family: Helvetica,Arial,sans-serif;
                                                                            font-weight:normal;
                                                                            margin:0;
                                                                            line-height:20px;
                                                                            font-size:14px;
                                                                            border-collapse:collapse!important">
                                                                         <img src="avatar2.jpeg" width="50px" height="50px" alt="roksolana" style="border-radius:50px">
                                                                     </td>
                                                                     <!-- name -->
                                                                     <td style="
                                                                         padding:10px 0px;
                                                                         vertical-align:middle;
                                                                         text-align:left;
                                                                         color:#333333;
                                                                         font-family: Helvetica,Arial,sans-serif;
                                                                         font-weight:normal;
                                                                         margin:0;
                                                                         line-height:20px;
                                                                         font-size:14px;
                                                                         border-collapse:collapse!important">
                                                                         <span style="
                                                                                font-color:#555555;
                                                                                font-family: Helvetica,Arial,sans-serif;
                                                                                font-size:16px;
                                                                                line-height: 24px;
                                                                                font-weight: bold">
                                                                             Будковська Роксолана
                                                                         </span>
                                                                     </td>
                                                                 </tr>
                                                                 <tr style="
                                                                        padding:0;
                                                                        vertical-align:top;
                                                                        text-align:center">
                                                                     <td style="
                                                                            padding:0px 10px 15px 20px;
                                                                            vertical-align:middle;
                                                                            text-align:left;
                                                                            color:#333333;
                                                                            font-family: Helvetica,Arial,sans-serif;
                                                                            font-weight:normal;
                                                                            margin:0;
                                                                            line-height:20px;
                                                                            font-size:14px;
                                                                            border-collapse:collapse!important"
                                                                         colspan="2">
                                                                         <span style="
                                                                                    font-color:#555555;
                                                                                    font-family: Helvetica,Arial,sans-serif;
                                                                                    font-size:16px;
                                                                                    line-height: 24px">
                                                                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, velit!
                                                                         </span>
                                                                     </td>
                                                                 </tr>
                                                             </table>
                                                         </td>
                                                     </tr>

                                                     <!-- main text link -->
                                                     <tr style="padding:0;
                                                         vertical-align:top;
                                                         text-align:center">
                                                         <td style="
                                                             padding:0px 0px 20px;
                                                             vertical-align:top;
                                                             text-align:center;
                                                             color:#333333;
                                                             font-family: Helvetica,Arial,sans-serif;
                                                             font-weight:normal;
                                                             margin:0;
                                                             line-height:20px;
                                                             font-size:14px;
                                                             border-collapse:collapse!important">
                                                             <span style="
                                                                     color: #000000;
                                                                     font-size: 14px;
                                                                     line-height: 28px;
                                                                     font-weight: normal;
                                                                     font-family: Helvetica,Arial,sans-serif;
                                                                     display: block">
                                                                 <a href="#"
                                                                    style="
                                                                        color:#1976d2;
                                                                        text-decoration: none;
                                                                        font-size: 14px;
                                                                        line-height: 22px;
                                                                        font-weight: normal;
                                                                        font-family: Helvetica,Arial,sans-serif;">
                                                                     https://yandex.ru/referats/?t=gyroscope&s=90553
                                                                 </a>
                                                             </span>
                                                         </td>
                                                     </tr>

                                                     <!-- main text button -->
                                                     <tr style="padding:0;
                                                         vertical-align:top;
                                                         text-align:center">
                                                         <td style="
                                                             padding:15px 0px 30px;
                                                             vertical-align:top;
                                                             text-align:center;
                                                             color:#333333;
                                                             font-family: Helvetica,Arial,sans-serif;
                                                             font-weight:normal;
                                                             margin:0;
                                                             line-height:20px;
                                                             font-size:14px;
                                                             border-collapse:collapse!important">
                                                             <table style="
                                                                        border-spacing:0;
                                                                        border-collapse:collapse;
                                                                        padding:0;
                                                                        vertical-align:top;
                                                                        text-align:center;
                                                                        margin:0 auto;
                                                                        width:auto;">
                                                                 <tr style="padding:0px;
                                                                     vertical-align:top;
                                                                     text-align:center">
                                                                     <td style="
                                                                         padding:0px;
                                                                         vertical-align:top;
                                                                         text-align:center;
                                                                         color:#333333;
                                                                         font-family: Helvetica,Arial,sans-serif;
                                                                         font-weight:normal;
                                                                         margin:0;
                                                                         line-height:20px;
                                                                         font-size:14px;
                                                                         border-collapse:collapse!important">
                                                                         <span style="
                                                                                 color: #000000;
                                                                                 font-size: 14px;
                                                                                 line-height: 28px;
                                                                                 font-weight: normal;
                                                                                 font-family: Helvetica,Arial,sans-serif;
                                                                                 display: block">
                                                                             <a href="#"
                                                                                style="
                                                                                    color:#ffffff;
                                                                                    text-decoration:none;
                                                                                    display:inline-block;
                                                                                    text-align:center;
                                                                                    background:#21909b;
                                                                                    background-color:#21909b;
                                                                                    border-radius:5px;
                                                                                    padding:12px 64px;
                                                                                    font-weight:normal;
                                                                                    letter-spacing:normal;
                                                                                    font-size:17px;
                                                                                    font-family:Helvetica,Arial,sans-serif;
                                                                                    margin:0 auto;
                                                                                    width:auto!important;
                                                                                    text-transform:uppercase"
                                                                                target="_blank">
                                                                                 Кнопка
                                                                             </a>
                                                                         </span>
                                                                     </td>
                                                                 </tr>
                                                             </table>
                                                         </td>
                                                     </tr>

                                                     <!-- main text signature -->
                                                      <tr style="padding:0;
                                                          vertical-align:top;
                                                          text-align:center">
                                                          <td style="
                                                              padding:0px;
                                                              vertical-align:top;
                                                              text-align:center;
                                                              color:#333333;
                                                              font-family: Helvetica,Arial,sans-serif;
                                                              font-weight:normal;
                                                              margin:0;
                                                              line-height:20px;
                                                              font-size:14px;
                                                              border-collapse:collapse!important">

                                                              <span align="left" style="
                                                                      color: #000000;
                                                                      font-size: 14px;
                                                                      line-height: 24px;
                                                                      font-weight: normal;
                                                                      font-family: Helvetica,Arial,sans-serif;
                                                                      display: block;
                                                                      font-style:italic">
                                                                  С уважением,
                                                              </span>
                                                              <span align="left" style="
                                                                      color: #000000;
                                                                      font-size: 14px;
                                                                      line-height: 24px;
                                                                      font-weight: normal;
                                                                      font-family: Helvetica,Arial,sans-serif;
                                                                      display: block;
                                                                      font-style:italic">
                                                                  Служба поддержки портала GUP
                                                              </span>
                                                          </td>
                                                      </tr>

                                                 </table>
                                                 <!-- end of text content -->
                                             </td>
                                         </tr>
                                     </table>
                                 </span>
                                <!-- end of main content wrapper -->
                            </center>
                        </td>
                    </tr>
                </table>
                <!-- CONTENT BLOCK END #################################### -->

                <!-- FOOTER #################################### -->
                <!-- footer wrapper -->
                <table style="
                        border-spacing:0;
                        border-collapse:collapse;
                        padding:0px;
                        vertical-align:top;
                        text-align:center;
                        background-color: #ffffff;
                        width:100%;
                        max-width:580px"
                       bgcolor="#ffffff">
                    <tr style="
                            padding:0;
                            vertical-align:top;
                            text-align:center">
                        <td align="center"
                            style="
                                padding:15px 0px;
                                vertical-align:top;
                                text-align:center;
                                color:#333333;
                                font-family: Helvetica,Arial,sans-serif;
                                font-weight:normal;
                                margin:0;
                                line-height:20px;
                                font-size:14px;
                                border-collapse:collapse!important">
                            <center style="width:100%;max-width:580px">

                                <!--footer content -->
                                <table style="
                                        border-spacing:0;
                                        border-collapse:collapse;
                                        padding:0;
                                        vertical-align:top;
                                        text-align:inherit;
                                        max-width:580px;
                                        width: 100%;
                                        background-color: #ffffff;
                                        margin:0 auto"
                                        bgcolor="#ffffff">
                                    <!-- first row -->
                                    <tr style="
                                            padding:0;
                                            vertical-align:top;
                                            text-align:center">
                                        <td style="
                                            padding:0;
                                            vertical-align:top;
                                            text-align:center;
                                            color:#333333;
                                            font-family: Helvetica,Arial,sans-serif;
                                            font-weight:normal;
                                            margin:0;
                                            line-height:20px;
                                            font-size:14px;
                                            border-collapse:collapse!important">
                                            <span style="
                                                     color: #000000;
                                                     font-size: 14px;
                                                     line-height: 28px;
                                                     font-weight: normal;
                                                     font-family: Helvetica,Arial,sans-serif;
                                                     display: block">
                                                <a href="#"
                                                    style="
                                                        color:#1976d2;
                                                        text-decoration: none;
                                                        font-size: 14px;
                                                        line-height: 28px;
                                                        font-weight: normal;
                                                        font-family: Helvetica,Arial,sans-serif;">
                                                        Отписаться от рассылки
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                    <!-- second row -->
                                    <tr style="
                                            padding:0;
                                            vertical-align:top;
                                            text-align:center">
                                        <td style="
                                            padding:0;
                                            vertical-align:top;
                                            text-align:center;
                                            color:#333333;
                                            font-family: Helvetica,Arial,sans-serif;
                                            font-weight:normal;
                                            margin:0;
                                            line-height:20px;
                                            font-size:14px;
                                            border-collapse:collapse!important">
                                            <span style="
                                                     color: #000000;
                                                     font-size: 14px;
                                                     line-height: 28px;
                                                     font-weight: normal;
                                                     font-family: Helvetica,Arial,sans-serif;
                                                     display: block">
                                                <a href="#"
                                                   style="
                                                        color:#1976d2;
                                                        text-decoration: none;
                                                        font-size: 14px;
                                                        line-height: 28px;
                                                        font-weight: normal;
                                                        font-family: Helvetica,Arial,sans-serif;">
                                                        Настройки рассылки
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                                <!-- footer content end -->
                            </center>
                        </td>
                    </tr>
                </table>
                <!-- FOOTER END #################################### -->

            </center>
        </td>
    </tr>
  </table>
</body>
</html>