<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">-->
<html xmlns:th="http://www.thymeleaf.org" th:lang="ru">
    <head th:replace="fragments/header :: header(#{register.title})" />

    <body class="login">
         <div class="login-wrapper">

            <div th:include="fragments/content :: locale"></div>

            <div th:include="fragments/content :: logo"></div>    

            <h3 th:text="#{account.create.successfull}"></h3>

            <div th:include="fragments/content :: license"></div>

        </div>

    </body>
</html>